In [11]:
import pandas as pd
from pandas import DataFrame

In [12]:
skimsTransitCrowding = pd.read_csv('1.String _ skimsTransitCrowding.csv.gz')

In [13]:
overloadedMOde = skimsTransitCrowding[skimsTransitCrowding['capacity'] <= skimsTransitCrowding['numberOfPassengers']]

In [14]:
pd.DataFrame(overloadedMOde['vehicleId'].unique().tolist()).to_csv('out/vehicleId.csv')

In [21]:
overloadedMOde['vehicleId'].str[:2]

13        SF
86        VT
173       SF
182       VT
199       SF
          ..
103003    VT
103024    VT
103129    SF
103141    VT
103277    SF
Name: vehicleId, Length: 3465, dtype: object

In [24]:
overloadedMOde

,vehicleId,fromStopIdx,numberOfPassengers,capacity,observations,iterations,firstTwo
13,SF:7628772,1,22,22,1,1,SF
86,VT:2223873,11,28,28,1,1,VT
173,SF:7679401,10,28,28,1,1,SF
182,VT:2222849,23,28,28,1,1,VT
199,SF:7634384,18,28,28,1,1,SF
...,...,...,...,...,...,...,...
103003,VT:2223883,14,28,28,1,1,VT
103024,VT:2222891,7,28,28,1,1,VT
103129,SF:7679460,20,28,28,1,1,SF
103141,VT:2223793,27,28,28,1,1,VT
103277,SF:7631637,0,22,22,1,1,SF

In [22]:
overloadedMOde['firstTwo'] = overloadedMOde['vehicleId'].str[:2]

/var/folders/z4/5gq1j4sn50b62w40lgwsthh80000gn/T/ipykernel_1070/4101591319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overloadedMOde['firstTwo'] = overloadedMOde['vehicleId'].str[:2]

In [23]:
overloadedMOde.groupby('firstTwo').count()

,vehicleId,fromStopIdx,numberOfPassengers,capacity,observations,iterations
firstTwo,,,,,,
BA,153,153,153,153,153,153
SF,815,815,815,815,815,815
VT,2497,2497,2497,2497,2497,2497

In [25]:
events = pd.read_csv('1.events.csv.gz')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3172: DtypeWarning: Columns (0,3,6,7,8,9,10,13,17,20,21,22,23,27,41,43,44,49,51,53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
pathTraversal = events[]