In [1]:
import pandas as pd

base_url = "2018"
def print_info(table_name, nrows=2):
    table = pd.read_csv(f"{base_url}/{table_name}", nrows=nrows)
    print(table_name)
    display(table.head(nrows))

print_info("selected_persons.csv.gz", 2)
print_info("selected_plans.csv.gz", 2)
print_info("selected_households.csv.gz", 2)
print_info("selected_blocks.csv.gz",2)

selected_persons.csv.gz

,Unnamed: 0.1,person_id,Unnamed: 0,earning,worker,student,hispanic.1,person_sex,PNUM,sex,...,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours
0,0,0,0,116000.0,1,0,0,female,1,2,...,0,16,1,0,0,1,0,0,0,1
1,1,6,1223,55000.0,1,0,0,male,3,1,...,0,0,0,0,0,0,0,0,0,0

selected_plans.csv.gz

,Unnamed: 0,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
0,0,NaN,0.0,NaN,NaN,1,activity,Home,-122.237696,37.861152,7.136
1,1,313.0,0.0,1.0,DRIVEALONEFREE,2,leg,NaN,NaN,NaN,NaN

selected_households.csv.gz

,Unnamed: 0,household_id,gt55,seniors,VEHICL,lcm_county_id,hh_children,block_id,gt2,hispanic_head,...,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours
0,0,0,1,0.0,2,6001,no,60014001001024,0,no,...,1.0,0,1,1,0,0,1,False,0_tours,0
1,7,57872,0,0.0,3,6001,yes,60014097002010,1,no,...,0.0,0,1,0,0,1,1,False,0_tours,0

selected_blocks.csv.gz

,Unnamed: 0.1,Unnamed: 0,block_id,y,value_impute,taz_id,square_meters_land,res_rents,rent_impute,residential_unit_capacity,employment_capacity,puma10_id,place_id,x,res_values,TAZ
0,1,1,60014271001001,37.769464,0,6.001001e+11,79696,1253.0,0,105,367,600105,600562.0,-122.233991,567900.0,576
1,3,3,60014271001003,37.768827,0,6.001001e+11,19546,1253.0,0,48,108,600105,600562.0,-122.235213,567900.0,576

In [2]:
filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-19_08-53-51_khe/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
longWalker = walk[walk['length'] > 4828.03]
display(len(longWalker['person'].unique()))
list1 = list(longWalker['person'].unique())

/tmp/ipykernel_83/4013818271.py:2: DtypeWarning: Columns (0,3,6,7,9,11,14,15,16,17,25,26,27,28,32,33,40,42,43,45,46,47,48,49,55,56,60) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

1976438

131794

In [3]:
list2 = list(events['person'].unique())

In [4]:
list3 = list(set(list2).difference(set(list1)))

In [5]:
len(list3)

1844644

In [6]:
filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-17_23-07-28_tcx/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
display(len(list4))

/tmp/ipykernel_62/3418223777.py:2: DtypeWarning: Columns (0,1,6,7,8,9,13,23,25,26,28,29,33,39,41,42,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2045836

307222

147905

In [7]:
list5 = list(set(list3).union(set(list4)))

In [8]:
print(len(list5))

1661896

In [9]:
filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-33_pes/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
display(len(list4))

/tmp/ipykernel_62/2369404771.py:2: DtypeWarning: Columns (0,1,4,5,6,7,13,23,25,26,28,29,38,40,41,42,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2048494

243024

108906

In [10]:
list5 = list(set(list5).union(set(list4)))

In [11]:
filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-06_cxt/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
display(len(list4))

/tmp/ipykernel_62/3351551448.py:2: DtypeWarning: Columns (0,1,4,5,6,7,13,23,25,26,28,34,36,37,38,39,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2054104

158584

54935

In [12]:

filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-52_iet/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list4))

/tmp/ipykernel_62/3531796991.py:2: DtypeWarning: Columns (0,3,6,7,8,9,10,17,18,20,27,28,32,34,36,38,41,42,43,44,48,54,56,57,58,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2053535

171041

92987

In [13]:

filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-30_jcw/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list4))

/tmp/ipykernel_62/4009962248.py:2: DtypeWarning: Columns (0,1,6,7,8,9,13,23,25,27,28,34,36,37,38,39,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2051642

259964

109870

In [14]:

filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-48_tbj/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list4))

/tmp/ipykernel_62/1077591980.py:2: DtypeWarning: Columns (0,3,4,5,6,12,14,21,23,24,28,30,32,35,36,37,38,41,42,43,46,47,53,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2064486

343058

151907

In [15]:

filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-15_iyc/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list5))

/tmp/ipykernel_62/3095711764.py:2: DtypeWarning: Columns (0,1,6,7,8,9,13,23,25,26,31,32,33,39,41,42,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2053253

287248

1882996

In [16]:

filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-02_gvk/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list5))

/tmp/ipykernel_62/1173337570.py:2: DtypeWarning: Columns (0,1,7,8,9,10,13,19,25,26,28,29,34,36,37,38,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2058528

401822

1940275

In [17]:


filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-32-54_qoj/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list5))

/tmp/ipykernel_62/1970333177.py:2: DtypeWarning: Columns (0,1,6,7,8,9,13,17,25,27,29,30,31,32,36,41,43,45,47,49,50,51,52,55,56,58,62) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2062583

425763

1985990

In [18]:


filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-32-51_xxz/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list5))

/tmp/ipykernel_62/3129377319.py:2: DtypeWarning: Columns (0,1,6,7,8,9,13,23,25,27,29,30,32,33,34,40,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2056646

365380

2002751

In [19]:


filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-20_kju/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list5))

/tmp/ipykernel_62/3151094081.py:2: DtypeWarning: Columns (0,1,7,8,9,10,13,23,25,26,28,34,36,37,38,40,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2070673

441360

2033906

In [20]:


filePath = "s3://beam-outputs/output/sfbay/sfbay-pilates-base__2022-12-12_17-33-13_nkv/"
events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')
modechoice = events[events['type'] == 'ModeChoice']
walk = modechoice[modechoice['mode'] == 'walk']
display(len(events['person'].unique()))
shortWalker = walk[walk['length'] <= 1931.21]
display(len(shortWalker['person'].unique()))
list4 = list(shortWalker['person'].unique())
listwalkt = list(modechoice[modechoice['mode'] == 'walk_transit']['person'].unique())
listbiket = list(modechoice[modechoice['mode'] == 'bike_transit']['person'].unique())
listrhp = list(modechoice[modechoice['mode'] == 'ride_hail_pooled']['person'].unique())
listrh = list(modechoice[modechoice['mode'] == 'ride_hail']['person'].unique())
listrht = list(modechoice[modechoice['mode'] == 'ride_hail_transit']['person'].unique())
listdt = list(modechoice[modechoice['mode'] == 'drive_transit']['person'].unique())
listb = list(modechoice[modechoice['mode'] == 'bike']['person'].unique())
list4 = list(set(list4).difference(set(listwalkt)))
list4 = list(set(list4).difference(set(listbiket)))
list4 = list(set(list4).difference(set(listrhp)))
list4 = list(set(list4).difference(set(listrh)))
list4 = list(set(list4).difference(set(listrht)))
list4 = list(set(list4).difference(set(listdt)))
list4 = list(set(list4).difference(set(listb)))
list5 = list(set(list5).union(set(list4)))
display(len(list5))

/tmp/ipykernel_62/2593333640.py:2: DtypeWarning: Columns (0,1,4,5,6,7,13,23,25,27,28,29,36,38,39,40,43,45,47,49,50,51,52,55,56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  events = pd.read_csv(filePath + 'ITERS/it.0/0.events.csv.gz')

2073524

409477

2044932

In [21]:
file_name = 'persons.csv.gz'
file_path = f'{base_url}/{file_name}'
selected_persons = pd.concat([df[df['person_id'].isin(list5)] for df in pd.read_csv(file_path, low_memory=False, chunksize=10000)])
print(f'for {file_name} shape is {selected_persons.shape}')

for persons.csv.gz shape is (1965902, 84)

In [22]:
selected_persons_ids = set(selected_persons['person_id'])
print(f"there are {len(selected_persons_ids)} selected persons")

there are 1965902 selected persons

In [23]:
selected_household_ids = set(selected_persons['household_id'])
file_name = 'households.csv.gz'
file_path = f'{base_url}/{file_name}'
selected_households = pd.concat([df[df['household_id'].isin(selected_household_ids)] for df in pd.read_csv(file_path, low_memory=False, chunksize=10000)])
print(f'for {file_name} shape is {selected_households.shape}')

for households.csv.gz shape is (1200444, 60)

In [24]:
selected_block_ids = set(selected_households['block_id'])
print(f"there are {len(selected_block_ids)} selected blocks")

file_name = 'plans.csv.gz'
file_path = f'{base_url}/{file_name}'
selected_plans = pd.concat([df[df['person_id'].isin(selected_persons_ids)] for df in pd.read_csv(file_path, low_memory=False, chunksize=10000)])
print(f'for {file_name} shape is {selected_plans.shape}')

there are 75490 selected blocks
for plans.csv.gz shape is (17222394, 10)

In [25]:
file_name = 'blocks.csv.gz'
file_path = f'{base_url}/{file_name}'
selected_blocks = pd.concat([df[df['block_id'].isin(selected_block_ids)] for df in pd.read_csv(file_path, low_memory=False, chunksize=10000)])
print(f'for {file_name} shape is {selected_blocks.shape}')

for blocks.csv.gz shape is (75490, 15)

In [26]:
selected_persons.to_csv('2018/selected_persons_final3.csv.gz')
selected_households.to_csv('2018/selected_households_final3.csv.gz')
selected_plans.to_csv('2018/selected_plans_final3.csv.gz')
selected_blocks.to_csv('2018/selected_blocks_final3.csv.gz')