In [1]:
import os
import os.path as op
import numpy as np
import pandas as pd
import sys
import boto3
from boto3 import session
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import zipfile
import glob

In [2]:
ut_2018 =  "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-base-20220409/activitysim/year-2018-iteration-5/"

In [3]:
with zipfile.ZipFile("https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-base-20220409/activitysim/year-2018-iteration-5/trip_mode_choice.zip") as z:
    with z.open("trip_mode_choice/577_raw.csv") as f:
        train = pd.read_csv(f, header=0, delimiter="\t")
        print(train.head())    # print the first 5 rows

OSError: [Errno 22] Invalid argument: 'https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-base-20220409/activitysim/year-2018-iteration-5/trip_mode_choice.zip'

In [ ]:
#ut1 = pd.read_csv('s3://pilates-outputs/sfbay-base-20220409/activitysim/year-2018-iteration-5/trip_mode_choice.zip/trip_mode_choice/577_raw.csv', encoding = "ISO-8859-1")

#### Reading the files

In [ ]:
#loc = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-2010-lessrh-20220223/activitysim/"
loc_2018 =  "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-2018-base-20220306/activitysim/trip_mode_choice.zip"
trips = pd.read_csv(loc_2018 + 'final_trips.csv')
households = pd.read_csv(loc_2018 + 'final_households.csv')
persons = pd.read_csv(loc_2018 + 'final_persons.csv')
tours = pd.read_csv(loc_2018 +'final_tours.csv')
plans = pd.read_csv(loc_2018 +'final_plans.csv')
landuse = pd.read_csv(loc_2018 +'final_land_use.csv')
#checkpoints = pd.read_csv(loc + 'final_checkpoints.csv')
#joint_tour_participants = pd.read_csv(loc + 'final_joint_tour_participants.csv')
#specs = pd.read_csv(loc +'final_trip_mode_choice_specs.csv')
#tripModeChoice = pd.read_csv(loc +'final_trip_mode_choice_raw.csv')
#tripModeChoiceUtilities = pd.read_csv(loc +'final_trip_mode_choice_utilities.csv')

In [4]:
#Show all columns and rows
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [9]:
plans.head(150)

,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
0,NaN,1.0,NaN,NaN,1,activity,Home,-121.806440,37.350304,8.133
1,577.0,1.0,1.0,SHARED3FREE,2,leg,NaN,NaN,NaN,NaN
2,NaN,1.0,NaN,NaN,3,activity,othmaint,-121.811088,37.394747,8.642
3,578.0,1.0,1.0,SHARED3FREE,4,leg,NaN,NaN,NaN,NaN
4,NaN,1.0,NaN,NaN,5,activity,school,-121.793495,37.394566,14.464
5,581.0,1.0,1.0,SHARED3PAY,6,leg,NaN,NaN,NaN,NaN
6,NaN,1.0,NaN,NaN,7,activity,Home,-121.806440,37.350304,NaN
7,NaN,2.0,NaN,NaN,1,activity,Home,-121.799290,37.351609,7.647
8,969.0,2.0,1.0,DRIVEALONEPAY,2,leg,NaN,NaN,NaN,NaN
9,NaN,2.0,NaN,NaN,3,activity,work,-121.806440,37.350304,12.324
10,689.0,2.0,1.0,DRIVEALONEFREE,4,leg,NaN,NaN,NaN,NaN
11,NaN,2.0,NaN,NaN,5,activity,atwork,-121.630203,37.122631,13.673
12,693.0,2.0,1.0,DRIVEALONEPAY,6,leg,NaN,NaN,NaN,NaN
13,NaN,2.0,NaN,NaN,7,activity,Work,-121.652135,37.131725,16.622
14,973.0,2.0,1.0,DRIVEALONEPAY,8,leg,NaN,NaN,NaN,NaN
15,NaN,2.0,NaN,NaN,9,activity,othmaint,-121.811950,37.314173,18.051
16,974.0,2.0,1.0,DRIVEALONEFREE,10,leg,NaN,NaN,NaN,NaN
17,NaN,2.0,NaN,NaN,11,activity,Home,-121.799290,37.351609,NaN
18,NaN,3.0,NaN,NaN,1,activity,Home,-121.806440,37.350304,7.351
19,1297.0,3.0,1.0,DRIVEALONEFREE,2,leg,NaN,NaN,NaN,NaN
20,NaN,3.0,NaN,NaN,3,activity,work,-121.808707,37.321855,10.587
21,1301.0,3.0,1.0,DRIVEALONEFREE,4,leg,NaN,NaN,NaN,NaN
22,NaN,3.0,NaN,NaN,5,activity,Home,-121.806440,37.350304,11.116
23,1305.0,3.0,1.0,DRIVEALONEFREE,6,leg,NaN,NaN,NaN,NaN
24,NaN,3.0,NaN,NaN,7,activity,work,-121.953754,37.442619,12.072
25,1306.0,3.0,1.0,SHARED2PAY,8,leg,NaN,NaN,NaN,NaN
26,NaN,3.0,NaN,NaN,9,activity,work,-121.812284,37.315345,12.404
27,1309.0,3.0,1.0,DRIVEALONEFREE,10,leg,NaN,NaN,NaN,NaN
28,NaN,3.0,NaN,NaN,11,activity,Home,-121.806440,37.350304,15.837
29,1185.0,3.0,1.0,SHARED2PAY,12,leg,NaN,NaN,NaN,NaN
30,NaN,3.0,NaN,NaN,13,activity,othdiscr,-121.866088,37.367231,17.460
31,1189.0,3.0,1.0,SHARED2FREE,14,leg,NaN,NaN,NaN,NaN
32,NaN,3.0,NaN,NaN,15,activity,Home,-121.806440,37.350304,NaN
33,NaN,4.0,NaN,NaN,1,activity,Home,-121.806440,37.350304,9.833
34,1561.0,4.0,1.0,SHARED3PAY,2,leg,NaN,NaN,NaN,NaN
35,NaN,4.0,NaN,NaN,3,activity,school,-121.801534,37.317114,10.546
36,1565.0,4.0,1.0,SHARED3FREE,4,leg,NaN,NaN,NaN,NaN
37,NaN,4.0,NaN,NaN,5,activity,Home,-121.806440,37.350304,NaN
38,NaN,86.0,NaN,NaN,1,activity,Home,-122.329852,37.527513,8.044
39,28409.0,86.0,1.0,DRIVEALONEFREE,2,leg,NaN,NaN,NaN,NaN
40,NaN,86.0,NaN,NaN,3,activity,othdiscr,-122.291257,37.542752,10.514
41,28413.0,86.0,1.0,SHARED2FREE,4,leg,NaN,NaN,NaN,NaN
42,NaN,86.0,NaN,NaN,5,activity,Home,-122.329852,37.527513,13.392
43,28473.0,86.0,1.0,DRIVEALONEFREE,6,leg,NaN,NaN,NaN,NaN
44,NaN,86.0,NaN,NaN,7,activity,shopping,-122.287821,37.567409,14.706
45,28477.0,86.0,1.0,DRIVEALONEFREE,8,leg,NaN,NaN,NaN,NaN
46,NaN,86.0,NaN,NaN,9,activity,othmaint,-122.307043,37.530000,17.035
47,28478.0,86.0,1.0,SHARED3FREE,10,leg,NaN,NaN,NaN,NaN
48,NaN,86.0,NaN,NaN,11,activity,Home,-122.329852,37.527513,NaN
49,NaN,106.0,NaN,NaN,1,activity,Home,-122.445439,37.784064,5.121
50,35081.0,106.0,1.0,DRIVEALONEPAY,2,leg,NaN,NaN,NaN,NaN
51,NaN,106.0,NaN,NaN,3,activity,work,-122.445439,37.784064,8.224
52,34769.0,106.0,1.0,DRIVEALONEPAY,4,leg,NaN,NaN,NaN,NaN
53,NaN,106.0,NaN,NaN,5,activity,atwork,-122.450732,37.748881,15.066
54,35085.0,106.0,1.0,DRIVEALONEFREE,6,leg,NaN,NaN,NaN,NaN
55,NaN,106.0,NaN,NaN,7,activity,Home,-122.434490,37.764900,15.109
56,34773.0,106.0,1.0,DRIVEALONEPAY,8,leg,NaN,NaN,NaN,NaN
57,NaN,106.0,NaN,NaN,9,activity,Work,-122.457426,37.783671,18.097
58,34817.0,106.0,1.0,WALK,10,leg,NaN,NaN,NaN,NaN
59,NaN,106.0,NaN,NaN,11,activity,social,-122.430369,37.789659,18.829
60,34818.0,106.0,1.0,WALK,12,leg,NaN,NaN,NaN,NaN
61,NaN,106.0,NaN,NaN,13,activity,eatout,-122.424690,37.788581,21.910
62,34821.0,106.0,1.0,WALK,14,leg,NaN,NaN,NaN,NaN
63,NaN,106.0,NaN,NaN,15,activity,Home,-122.445439,37.784064,NaN
64,NaN,107.0,NaN,NaN,1,activity,Home,-122.445439,37.784064,5.469
65,35169.0,107.0,1.0,SHARED2PAY,2,leg,NaN,NaN,NaN,NaN
66,NaN,107.0,NaN,NaN,3,activity,escort,-122.241535,37.771558,6.268
67,35173.0,107.0,1.0,SHARED2FREE,4,leg,NaN,NaN,NaN,NaN
68,NaN,107.0,NaN,NaN,5,activity,Home,-122.445439,37.784064,8.137
69,35361.0,107.0,1.0,SHARED3FREE,6,leg,NaN,NaN,NaN,NaN
70,NaN,107.0,NaN,NaN,7,activity,escort,-122.486718,37.781239,8.310
71,35362.0,107.0,1.0,SHARED3FREE,8,leg,NaN,NaN,NaN,NaN
72,NaN,107.0,NaN,NaN,9,activity,shopping,-122.462320,37.789044,8.389
73,35365.0,107.0,1.0,DRIVEALONEPAY,10,leg,NaN,NaN,NaN,NaN
74,NaN,107.0,NaN,NaN,11,activity,escort,-122.455328,37.782203,8.427
75,35366.0,107.0,1.0,SHARED3FREE,12,leg,NaN,NaN,NaN,NaN
76,NaN,107.0,NaN,NaN,13,activity,shopping,-122.395319,37.790413,8.447
77,35367.0,107.0,1.0,DRIVEALONEFREE,14,leg,NaN,NaN,NaN,NaN
78,NaN,107.0,NaN,NaN,15,activity,Home,-122.445439,37.784064,8.979
79,35409.0,107.0,1.0,DRIVEALONEFREE,16,leg,NaN,NaN,NaN,NaN
80,NaN,107.0,NaN,NaN,17,activity,work,-122.463562,37.738989,18.438
81,35413.0,107.0,1.0,DRIVEALONEFREE,18,leg,NaN,NaN,NaN,NaN
82,NaN,107.0,NaN,NaN,19,activity,Home,-122.445439,37.784064,NaN
83,NaN,108.0,NaN,NaN,1,activity,Home,-122.445439,37.784064,9.527
84,35737.0,108.0,1.0,DRIVEALONEFREE,2,leg,NaN,NaN,NaN,NaN
85,NaN,108.0,NaN,NaN,3,activity,work,-122.485356,37.629800,20.921
86,35741.0,108.0,1.0,SHARED2PAY,4,leg,NaN,NaN,NaN,NaN
87,NaN,108.0,NaN,NaN,5,activity,Home,-122.445439,37.784064,NaN
88,NaN,109.0,NaN,NaN,1,activity,Home,-122.447406,37.786644,8.318
89,36065.0,109.0,1.0,WALK_LOC,2,leg,NaN,NaN,NaN,NaN
90,NaN,109.0,NaN,NaN,3,activity,work,-122.445439,37.784064,10.205
91,35785.0,109.0,1.0,WALK,4,leg,NaN,NaN,NaN,NaN
92,NaN,109.0,NaN,NaN,5,activity,atwork,-122.405050,37.785170,15.404
93,35789.0,109.0,1.0,WALK,6,leg,NaN,NaN,NaN,NaN
94,NaN,109.0,NaN,NaN,7,activity,shopping,-122.410878,37.783333,15.485
95,35790.0,109.0,1.0,WALK,8,leg,NaN,NaN,NaN,NaN
96,NaN,109.0,NaN,NaN,9,activity,Work,-122.422290,37.783924,20.368
97,36069.0,109.0,1.0,WALK_LOC,10,leg,NaN,NaN,NaN,NaN
98,NaN,109.0,NaN,NaN,11,activity,Home,-122.447406,37.786644,NaN
99,NaN,129.0,NaN,NaN,1,activity,Home,-122.071993,37.889149,6.100
100,42577.0,129.0,1.0,DRIVEALONEPAY,2,leg,NaN,NaN,NaN,NaN
101,NaN,129.0,NaN,NaN,3,activity,shopping,-122.056966,37.950274,6.799
102,42581.0,129.0,1.0,DRIVEALONEPAY,4,leg,NaN,NaN,NaN,NaN
103,NaN,129.0,NaN,NaN,5,activity,Home,-122.071993,37.889149,8.171
104,42625.0,129.0,1.0,WALK,6,leg,NaN,NaN,NaN,NaN
105,NaN,129.0,NaN,NaN,7,activity,escort,-122.074493,37.893844,9.207
106,42626.0,129.0,1.0,SHARED2PAY,8,leg,NaN,NaN,NaN,NaN
107,NaN,129.0,NaN,NaN,9,activity,work,-122.234140,37.870714,19.390
108,42629.0,129.0,1.0,DRIVEALONEPAY,10,leg,NaN,NaN,NaN,NaN
109,NaN,129.0,NaN,NaN,11,activity,Home,-122.071993,37.889149,NaN
110,NaN,180.0,NaN,NaN,1,activity,Home,-122.316841,37.942293,12.547
111,59241.0,180.0,1.0,DRIVEALONEPAY,2,leg,NaN,NaN,NaN,NaN
112,NaN,180.0,NaN,NaN,3,activity,othdiscr,-122.327342,37.923984,17.061
113,59245.0,180.0,1.0,DRIVEALONEPAY,4,leg,NaN,NaN,NaN,NaN
114,NaN,180.0,NaN,NaN,5,activity,othmaint,-122.317635,37.933495,17.299
115,59246.0,180.0,1.0,DRIVEALONEFREE,6,leg,NaN,NaN,NaN,NaN
116,NaN,180.0,NaN,NaN,7,activity,escort,-122.283580,37.926877,17.339
117,59247.0,180.0,1.0,DRIVEALONEPAY,8,leg,NaN,NaN,NaN,NaN
118,NaN,180.0,NaN,NaN,9,activity,Home,-122.316841,37.942293,NaN
119,NaN,181.0,NaN,NaN,1,activity,Home,-122.316841,37.942293,7.969
120,59681.0,181.0,1.0,WALK_LOC,2,leg,NaN,NaN,NaN,NaN
121,NaN,181.0,NaN,NaN,3,activity,work,-122.431477,37.790262,20.295
122,59685.0,181.0,1.0,WALK_LOC,4,leg,NaN,NaN,NaN,NaN
123,NaN,181.0,NaN,NaN,5,activity,Home,-122.316841,37.942293,NaN
124,NaN,182.0,NaN,NaN,1,activity,Home,-122.316841,37.942293,13.168
125,59961.0,182.0,1.0,WALK_LOC,2,leg,NaN,NaN,NaN,NaN
126,NaN,182.0,NaN,NaN,3,activity,shopping,-122.358268,37.928815,13.221
127,59965.0,182.0,1.0,WALK_EXP,4,leg,NaN,NaN,NaN,NaN
128,NaN,182.0,NaN,NaN,5,activity,Home,-122.316841,37.942293,NaN
129,NaN,271.0,NaN,NaN,1,activity,Home,-122.034659,37.913767,7.433
130,89201.0,271.0,1.0,WALK_LOC,2,leg,NaN,NaN,NaN,NaN
131,NaN,271.0,NaN,NaN,3,activity,work,-122.049892,37.912766,17.312
132,89205.0,271.0,1.0,WALK_LOC,4,leg,NaN,NaN,NaN,NaN
133,NaN,271.0,NaN,NaN,5,activity,Home,-122.034659,37.913767,NaN
134,NaN,272.0,NaN,NaN,1,activity,Home,-122.034659,37.913767,12.460
135,89465.0,272.0,1.0,WALK,2,leg,NaN,NaN,NaN,NaN
136,NaN,272.0,NaN,NaN,3,activity,school,-122.030984,37.910535,20.895
137,89469.0,272.0,1.0,WALK,4,leg,NaN,NaN,NaN,NaN
138,NaN,272.0,NaN,NaN,5,activity,Home,-122.034659,37.913767,NaN
139,NaN,273.0,NaN,NaN,1,activity,Home,-122.034659,37.913767,14.287
140,89809.0,273.0,1.0,DRIVEALONEFREE,2,leg,NaN,NaN,NaN,NaN
141,NaN,273.0,NaN,NaN,3,activity,shopping,-122.044100,37.925451,14.343
142,89813.0,273.0,1.0,DRIVEALONEPAY,4,leg,NaN,NaN,NaN,NaN
143,NaN,273.0,NaN,NaN,5,activity,Home,-122.034659,37.913767,NaN
144,NaN,274.0,NaN,NaN,1,activity,Home,-122.034659,37.913767,7.224
145,90121.0,274.0,1.0,WALK,2,leg,NaN,NaN,NaN,NaN
146,NaN,274.0,NaN,NaN,3,activity,school,-121.994137,37.900748,12.042
147,90125.0,274.0,1.0,WALK,4,leg,NaN,NaN,NaN,NaN
148,NaN,274.0,NaN,NaN,5,activity,Home,-122.034659,37.913767,NaN
149,NaN,276.0,NaN,NaN,1,activity,Home,-121.976972,37.933984,7.277

In [12]:
plans[plans['person_id'] == 576]

,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
397,NaN,576.0,NaN,NaN,1,activity,Home,-122.184390,37.765256,7.735
398,189241.0,576.0,1.0,WALK,2,leg,NaN,NaN,NaN,NaN
399,NaN,576.0,NaN,NaN,3,activity,escort,-122.195947,37.765251,8.561
400,189242.0,576.0,1.0,WALK_LOC,4,leg,NaN,NaN,NaN,NaN
401,NaN,576.0,NaN,NaN,5,activity,work,-122.414224,37.787081,15.107
402,189245.0,576.0,1.0,WALK,6,leg,NaN,NaN,NaN,NaN
403,NaN,576.0,NaN,NaN,7,activity,social,-122.407584,37.784759,19.557
404,189246.0,576.0,1.0,WALK_LOC,8,leg,NaN,NaN,NaN,NaN
405,NaN,576.0,NaN,NaN,9,activity,Home,-122.184390,37.765256,NaN

#### Merging the files

In [5]:
#Merge households and persons 
persons = persons.sort_values(by=['household_id'])
households = households.sort_values(by=['household_id'])
hhpersons = pd.merge(left=persons, right=households, how='left', on='household_id', suffixes=('', '_drop'))
hhpersons.drop([col for col in hhpersons.columns if 'drop' in col], axis=1, inplace=True)

In [6]:
#Merge tours, households and persons
tours = tours.sort_values(by=['person_id'])
hhpersons = hhpersons.sort_values(by=['person_id'])
hhperTours = pd.merge(left=tours, right=hhpersons, how='left', on='person_id', suffixes=('', '_drop'))
hhperTours.drop([col for col in hhperTours.columns if 'drop' in col], axis=1, inplace=True)

In [7]:
%%time
#Merge trips, tours, households and persons
trips = trips.sort_values(by=['person_id', 'tour_id'])
hhperTours = hhperTours.sort_values(by=['person_id','tour_id'])
tourTripsMerged = pd.merge(left=trips, right=hhperTours, how='left', on=['person_id','tour_id'], suffixes=('', '_drop'))
tourTripsMerged.drop([col for col in tourTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

Wall time: 40.7 s

In [11]:
tourTripsMerged.head()

,trip_id,person_id,household_id,tour_id,primary_purpose,trip_num,outbound,trip_count,purpose,destination,origin,destination_logsum,depart,trip_mode,mode_choice_logsum,tour_type,tour_type_count,tour_type_num,tour_num,tour_count,tour_category,number_of_participants,tdd,start,end,duration,composition,tour_mode,atwork_subtour_frequency,parent_tour_id,stop_frequency,age,earning,edu,hispanic,hours,PNUM,race_id,relate,sex,student,work_at_home,worker,person_age,person_sex,race,hispanic.1,p_hispanic,MAR,TAZ,ptype,pemploy,pstudent,home_x,home_y,age_16_to_19,age_16_p,adult,male,female,has_non_worker,has_retiree,has_preschool_kid,has_driving_kid,has_school_kid,has_full_time,has_part_time,has_university,student_is_employed,nonstudent_to_school,is_student,is_gradeschool,is_highschool,is_university,school_segment,is_worker,home_taz,value_of_time,school_taz,distance_to_school,roundtrip_auto_time_to_school,workplace_taz,workplace_location_logsum,distance_to_work,workplace_in_cbd,work_taz_area_type,roundtrip_auto_time_to_work,work_auto_savings,work_auto_savings_ratio,free_parking_at_work,cdap_activity,travel_active,under16_not_at_school,has_preschool_kid_at_home,has_school_kid_at_home,mandatory_tour_frequency,work_and_school_and_worker,work_and_school_and_student,num_mand,num_work_tours,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours,serialno,VEHICL,income,race_of_head,age_of_head,num_workers,hispanic_status_of_head,tenure,recent_mover,sf_detached,hh_age_of_head,hh_race_of_head,hispanic_head,hh_size,hh_cars,hh_children,seniors,hh_income,hh_workers,tenure_mover,hh_seniors,block_id,lcm_county_id,hhsize,gt55,gt2,hh_type,HHT,sample_rate,chunk_id,income_in_thousands,income_segment,median_value_of_time,hh_value_of_time,num_non_workers,num_drivers,num_adults,num_children,num_young_children,num_children_5_to_15,num_children_16_to_17,num_college_age,num_young_adults,non_family,family,home_is_urban,home_is_rural,auto_ownership,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours
0,1513,4,865,189,othdiscr,1,True,1,othdiscr,927,1005,NaN,15.0,DRIVEALONEFREE,-1.893115,othdiscr,1,1,1,1,non_mandatory,1,146.0,15.0,16.0,1.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,68,0.0,22.0,0,0.0,1,2,0,2,0,0,0,above 60,female,black,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,1,1,0,0,0,0,1,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
1,1517,4,865,189,othdiscr,1,False,1,Home,1005,927,NaN,16.0,DRIVEALONEPAY,-2.237247,othdiscr,1,1,1,1,non_mandatory,1,146.0,15.0,16.0,1.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,68,0.0,22.0,0,0.0,1,2,0,2,0,0,0,above 60,female,black,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,1,1,0,0,0,0,1,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
2,2889,8,865,361,shopping,1,True,1,shopping,1066,1005,NaN,16.0,DRIVEALONEFREE,-1.357007,shopping,1,1,1,1,non_mandatory,1,154.0,16.0,16.0,0.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,74,0.0,18.0,0,0.0,2,1,1,1,0,0,0,above 60,male,white,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,16,1,0,0,1,0,0,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
3,2893,8,865,361,shopping,1,False,1,Home,1005,1066,NaN,16.0,DRIVEALONEFREE,-1.736173,shopping,1,1,1,1,non_mandatory,1,154.0,16.0,16.0,0.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,74,0.0,18.0,0,0.0,2,1,1,1,0,0,0,above 60,male,white,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,16,1,0,0,1,0,0,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
4,21913,66,1069,2739,shopping,1,True,1,shopping,960,1005,NaN,18.0,DRIVEALONEPAY,-2.130291,shopping,1,1,1,1,non_mandatory,1,169.0,18.0,18.0,0.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_2in,77,0.0,1.0,0,0.0,1,2,0,2,0,0,0,above 60,female,black,0,no,2,1005,5,3,3,-122.235024,37.859000,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,1.072029,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,16,1,0,0,1,0,0,0,1,2011000418633,2.0,9800.0,2,77,0.0,0,2,0,no,gt65,black,no,one,two or more,no,1.0,lt30,none,rent not recent,yes,60014001001033,6001,1,1,0,6,1,0.077,190847,9.80,1,6.01,1.072029,1.0,1,1,0,0,0,0,0,0,False,True,False,False,1,0.0,0,1,1,0,0,1,False,0_tours,0

#### Don't forget to merge plans files here

In [ ]:
%%time   #### Check this code
#Merge trips, tours, households and persons, and plans
plans = plans.sort_values(by=['person_id', 'trip_id'])
tourTripsMerged = tourTripsMerged.sort_values(by=['person_id','trip_id'])
plansTripsMerged = pd.merge(left=plans, right=tourTripsMerged, how='left', on=['person_id','trip_id'], suffixes=('', '_drop'))
plansTripsMerged.drop([col for col in plansTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

In [20]:
tours[tours['person_id'] == 4]

,tour_id,person_id,tour_type,tour_type_count,tour_type_num,tour_num,tour_count,tour_category,number_of_participants,destination,origin,household_id,tdd,start,end,duration,composition,destination_logsum,tour_mode,mode_choice_logsum,atwork_subtour_frequency,parent_tour_id,stop_frequency,primary_purpose
469973,189,4,othdiscr,1,1,1,1,non_mandatory,1,927.0,1005.0,865,146.0,15.0,16.0,1.0,NaN,13.156275,DRIVEALONEFREE,-2.239582,NaN,NaN,0out_0in,othdiscr

In [17]:
# Merge trips, tours, households, and persons with land-use
landuse = landuse.sort_values(by=['TAZ'])
tourTripsMerged = tourTripsMerged.sort_values(by=['TAZ'])
landuseTripsMerged = pd.merge(tourTripsMerged, landuse, how='left', left_on='TAZ', right_on='TAZ', suffixes=('', '_drop'))
landuseTripsMerged.drop([col for col in landuseTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

In [34]:
# Concat mode_choice_raw files
path = "C:/Users/nazanin/Downloads/trip_mode_choice/trip_mode_choice/"
all_files = glob.glob(path + "*raw.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_raw = pd.concat(li2, axis = 0, ignore_index=True)

In [35]:
# Concat mode_choice_utilities files
path = "C:/Users/nazanin/Downloads/trip_mode_choice/trip_mode_choice/"
all_files = glob.glob(path + "*utilities.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_utilities = pd.concat(li2, axis = 0, ignore_index=True)

In [42]:
# Merge mode_choice_raw and utilities
SFmode_choice_raw = SFmode_choice_raw.sort_values(by=['trip_id'])
SFmode_choice_utilities = SFmode_choice_utilities.sort_values(by=['trip_id'])
rawUtil = pd.merge(left=SFmode_choice_raw, right=SFmode_choice_utilities, how='left', on='trip_id', suffixes=('', '_drop'))
rawUtil.drop([col for col in rawUtil.columns if 'drop' in col], axis=1, inplace=True)

In [44]:
%%time
# Merge trips, tours, households, persons, trip_mode_choice_raw, and utilities
landuseTripsMerged = landuseTripsMerged.sort_values(by=['trip_id'])
rawUtil = rawUtil.sort_values(by=['trip_id'])
SFActMerged= pd.merge(left=landuseTripsMerged, right=rawUtil, how='left', on=['trip_id'], suffixes=('', '_drop'))
SFActMerged.drop([col for col in SFActMerged.columns if 'drop' in col], axis=1, inplace=True)

Wall time: 1min 40s

In [48]:
SFActMerged.shape

(1856570, 613)

In [50]:
SFActMerged_chunk = SFActMerged[0:1000]
SFActMerged_chunk.to_csv('C:/Shared-Work/Data/CleanData/SFActMerged_chunk.csv', index = False)

In [ ]:
specs.Expression_id = specs.Expression_id .astype(str)
specs.rename(columns = {'Expression_id':'trip_mode'}, inplace = True)
specs = specs.set_index('trip_mode')

In [ ]:
specsT = specs.transpose()

In [ ]:
ActSimSpec = pd.merge(ActSimMerged, specsT, left_on = 'trip_mode', right_index=True, how = 'left')

In [ ]:
#ActSimSpec.to_csv('C:/Shared-Work/Data/CleanData/Final_ActSimMerged.csv')