In [1]:
import os
import os.path as op
import numpy as np
import pandas as pd
import sys
import boto3
from boto3 import session
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import zipfile
import glob

In [2]:
#loczip = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-2010-lessrh-20220223/activitysim/year-2010-iteration-2/" 
#zf = zipfile.ZipFile(loczip + 'trip_mode_choice.zip')
#zf.namelist()
#df = pd.read_csv(zf.open('1513_raw.csv'))

#with zipfile.ZipFile(b, mode='r') as zipf:
        #for subfile in zipf.namelist():
            #do_stuff_with_subfile()

In [3]:
#Reading the files
loc = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-2018-base-20220316/activitysim/" 
trips = pd.read_csv(loc + 'final_trips.csv')
households = pd.read_csv(loc + 'final_households.csv')
persons = pd.read_csv(loc + 'final_persons.csv')
tours = pd.read_csv(loc +'final_tours.csv')
plans = pd.read_csv(loc +'final_plans.csv')
#landuse = pd.read_csv(loc +'final_land_use.csv')
#checkpoints = pd.read_csv(loc + 'final_checkpoints.csv')
#joint_tour_participants = pd.read_csv(loc + 'final_joint_tour_participants.csv')
#specs = pd.read_csv(loc +'final_trip_mode_choice_specs.csv')
#tripModeChoice = pd.read_csv(loc +'final_trip_mode_choice_raw.csv')
#tripModeChoiceUtilities = pd.read_csv(loc +'final_trip_mode_choice_utilities.csv')

In [ ]:
#folderpath = r"C:\Users\nazanin\Downloads\trip_mode_choice\trip_mode_choice" # make sure to put the 'r' in front
#filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]
#all_files = []

#for path in filepaths:
    #with open(path, 'r') as f:
        #file = f.readlines()
        #all_files.append(file)

In [9]:
trips.sort_values(by = "person_id").head(15)

,trip_id,person_id,household_id,tour_id,primary_purpose,trip_num,outbound,trip_count,purpose,destination,origin,destination_logsum,depart,trip_mode,mode_choice_logsum
508957,581,1,1735309,72,school,1,False,1,Home,641,637,NaN,15.0,WALK,-1.090344
508956,577,1,1735309,72,school,1,True,1,school,637,641,NaN,8.0,WALK,-0.698630
508960,969,2,1735309,121,work,1,True,1,work,698,641,NaN,7.0,DRIVEALONEPAY,-1.403562
508959,693,2,1735309,86,atwork,1,False,1,Work,698,698,NaN,13.0,WALK,-1.821988
508958,689,2,1735309,86,atwork,1,True,1,atwork,698,698,NaN,12.0,DRIVEALONEFREE,-1.821363
508961,973,2,1735309,121,work,1,False,1,Home,641,698,NaN,16.0,DRIVEALONEPAY,-2.529040
508962,1297,3,1735309,162,work,1,True,1,work,583,641,NaN,7.0,DRIVEALONEFREE,-0.261703
508965,1306,3,1735309,163,work,2,True,2,work,583,405,NaN,11.0,SHARED2PAY,0.227971
508966,1309,3,1735309,163,work,1,False,1,Home,641,583,NaN,17.0,DRIVEALONEFREE,0.464746
508963,1301,3,1735309,162,work,1,False,1,Home,641,583,NaN,10.0,DRIVEALONEFREE,0.078431
508964,1305,3,1735309,163,work,1,True,2,work,405,641,15.560185,10.0,DRIVEALONEFREE,0.269007
508967,1561,4,1735309,195,school,1,True,1,school,652,641,NaN,11.0,SHARED3PAY,-5.605035
508968,1565,4,1735309,195,school,1,False,1,Home,641,652,NaN,11.0,SHARED3FREE,-1.679545
197460,28413,86,1610054,3551,othdiscr,1,False,1,Home,290,279,NaN,10.0,SHARED2FREE,-0.892243
197463,28478,86,1610054,3559,shopping,2,False,2,Home,290,288,NaN,17.0,SHARED3FREE,0.479459

In [1]:
%%time
path = "C:/Users/nazanin/Downloads/trip_mode_choice/trip_mode_choice/"
all_files = glob.glob(path + "*raw.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_raw = pd.concat(li2, axis = 0, ignore_index=True)

NameError: name 'glob' is not defined

In [5]:
%%time
path = "C:/Users/nazanin/Downloads/trip_mode_choice/trip_mode_choice/"
all_files = glob.glob(path + "*utilities.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_utilities = pd.concat(li2, axis = 0, ignore_index=True)

In [2]:
SFmode_choice_raw.shape

NameError: name 'SFmode_choice_raw' is not defined

In [9]:
SFmode_choice_utilities.sort_values(by = ['trip_id']).head()

,trip_id,DRIVEALONEFREE,DRIVEALONEPAY,SHARED2FREE,SHARED2PAY,SHARED3FREE,SHARED3PAY,WALK,BIKE,WALK_LOC,...,WALK_HVY,WALK_COM,DRIVE_LOC,DRIVE_LRF,DRIVE_EXP,DRIVE_HVY,DRIVE_COM,TAXI,TNC_SINGLE,TNC_SHARED
299638,1513,-2.054912,-2.084967,-1001.054912,-1001.072086,-1001.054912,-1001.066934,-63.161943,-1018.769214,-1001.125415,...,-1999.511294,-1998.354322,-1000.146692,-1998.401194,-1999.426120,-2000.022017,-1998.401194,-21.419003,-15.372083,-8.268735
299639,1517,-2.395863,-2.431265,-1001.370169,-1001.390399,-1001.359892,-1001.374053,-66.039530,-1020.208007,-1998.898083,...,-1999.446977,-1998.354322,-1998.401194,-1998.401194,-1998.401194,-1998.401194,-1998.401194,-23.499165,-17.241175,-9.122735
797744,2889,-1.527632,-1.547731,-1000.527632,-1000.539118,-1000.527632,-1000.535672,-62.748478,-1018.605220,-1000.917267,...,-1999.838886,-1998.365695,-1000.888539,-1998.412567,-2000.140137,-1999.754644,-2001.030107,-17.639342,-11.880123,-6.509505
797745,2893,-1.899003,-1.928469,-1000.899003,-1000.915841,-1000.899003,-1000.910789,-56.684414,-1015.573185,-1999.017925,...,-1999.098605,-1998.365695,-1998.412567,-1998.412567,-1998.412567,-1998.412567,-1998.412567,-19.453875,-14.237276,-7.745241
549254,21913,-2.293826,-2.317046,-1002.028426,-1002.041695,-1002.028426,-1002.037714,-41.745345,-1008.105555,-1998.841814,...,-1998.369501,-1998.369501,-1000.200211,-1998.416373,-1999.475132,-2000.339752,-1998.416373,-32.534600,-19.995638,-10.627700

In [10]:
households.sort_values(by=['household_id']).head()

,household_id,serialno,VEHICL,income,race_of_head,age_of_head,num_workers,hispanic_status_of_head,tenure,recent_mover,...,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours
83486,2,2011000751406,1.0,131000.0,1,64,0.0,0,1,0,...,0.0,0,1,1,0,0,1,False,0_tours,0
163677,11,2010000147268,1.0,120000.0,1,39,1.0,0,2,0,...,1.0,0,1,1,0,0,1,False,0_tours,0
80190,13,2012001241266,1.0,100000.0,1,62,1.0,0,1,0,...,1.0,0,1,1,0,0,1,False,0_tours,0
34488,40,2012000687439,1.0,403000.0,1,47,1.0,0,1,0,...,1.0,0,1,1,0,0,1,False,0_tours,0
56523,63,2009000197014,1.0,58000.0,6,49,1.0,0,2,0,...,1.0,0,1,1,0,0,1,False,0_tours,0

In [2]:
%%time
locBeam = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-2018-base-20220316/beam/year-2018-iteration-2/ITERS/it.0/"
eventsSF = pd.read_csv(locBeam + '0.events.csv.gz', compression = 'gzip')

<timed exec>:2: DtypeWarning: Columns (4,5,6,7,12,13,17,19,21,24,25,26,27,32,40,41,42,45,48,49,55,57,58,60) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 3min 32s

In [12]:
eventsSF.tripId.unique()

array([nan])

In [ ]:
plansSF = pd.read_csv(locBeam + '0.plans.csv.gz', compression = 'gzip')

In [5]:
#Show all columns and rows
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [ ]:
#Rename mode column
eventsSF.rename(columns={"mode":"modeType"}, inplace=True)

In [ ]:
#Replace "Work" with "work" in actType column
eventsSF["actType"].replace({"Work": "work"}, inplace=True)

In [ ]:
#Adding the IDMerged Column
eventsSF['UniqueID'] = eventsSF['person']
eventsSF['personID'] = np.where(eventsSF['person'].isin(eventsSF['driver'])
                     , eventsSF['person'], np.nan)
eventsSF['driverID'] = np.where(eventsSF['driver'].isin(eventsSF['person'])
                     , eventsSF['driver'], np.nan)

In [ ]:
eventsSF['IDMerged'] = eventsSF['personID'].combine_first(eventsSF['driverID'])
eventsSF['IDMerged'] = eventsSF['UniqueID'].combine_first(eventsSF['IDMerged'])

In [ ]:
eventsSF = eventsSF.drop(['personID','driverID','UniqueID'], axis=1)

In [ ]:
%%time
dfRiders = eventsSF['riders'].str.split(':',expand=True)

In [ ]:
riderStartIndex = len(eventsSF.columns)

In [ ]:
eventsSF = pd.concat([eventsSF, dfRiders.reindex(eventsSF.index)], axis=1)

In [ ]:
%%time
NaN = np.nan
eventsSF['ID'] = NaN 
    
for col in eventsSF.columns[riderStartIndex:-2]:
    eventsSF['riderID'] = np.where(eventsSF[col].isin(eventsSF["IDMerged"]), eventsSF[col], np.nan)
    eventsSF['ID'] = eventsSF['ID'].combine_first(eventsSF['riderID'])

In [ ]:
eventsSF['IDMerged'] = eventsSF['IDMerged'].combine_first(eventsSF['ID'])

In [ ]:
eventsSF = eventsSF.drop(columns=eventsSF.columns[riderStartIndex:])

In [ ]:
IDnan = eventsSF[eventsSF['IDMerged'].isna()]
IDnan.head()

In [ ]:
#To select just the numeric MergedID
#eventsSF.loc[eventsSF.IDMerged.str.isnumeric()]
eventsSFnum = eventsSF[pd.to_numeric(eventsSF.IDMerged, errors='coerce').notnull()].sort_values(['IDMerged','time']).reset_index(drop=True)

In [ ]:
eventsSFnum['actEndT'] = np.where(eventsSFnum['type']=='actend'
                     , eventsSFnum['time'], np.nan)

In [ ]:
eventsSFnum['actStartT'] = np.where(eventsSFnum['type']=='actstart'
                     , eventsSFnum['time'], np.nan)

In [ ]:
eventsSFnum['PTduration'] = np.where(eventsSFnum['type']=='PathTraversal'
                     , eventsSFnum['arrivalTime'] - eventsSFnum['departureTime'], np.nan)

In [ ]:
eventsSFnum["tripIndex"] = eventsSFnum.groupby("IDMerged")["tourIndex"].rank(method="first", ascending=True)
eventsSFnum["tripIndex"] = eventsSFnum.tripIndex.fillna(method='ffill')

In [ ]:
eventsSFnum["currentTourModeFillna"] = eventsSFnum.currentTourMode.fillna(method='ffill')#.astype('object')

In [ ]:
#eventsSFnum["IDMerged"] = pd.to_numeric(eventsSFnum["IDMerged"])

In [ ]:
eventsSFtrips = pd.pivot_table(
   eventsSFnum,
   index=['IDMerged','tripIndex','currentTourModeFillna'],
   aggfunc={'actStartT': np.sum, 'actEndT': np.sum, 'PTduration': np.sum, 'primaryFuel': np.sum, 'netCost':np.sum}).reset_index()

In [ ]:
eventsSFtrips.head(47)

In [ ]:
eventsSFnum.tail(100)

In [ ]:
eventsSFnum[eventsSFnum['IDMerged']== 6808767].sort_values(by=['tripIndex'])

In [ ]:
trips[trips['person_id']==4]

In [ ]:
trips[trips['person_id']==8]

In [ ]:
trips[trips['person_id']==6808767]

In [ ]:
trips[trips['person_id']==165].sort_values(by = ['depart'])