In [1]:
import os
import os.path as op
import numpy as np
import pandas as pd
import sys
import boto3
from boto3 import session
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import zipfile
import glob

In [2]:
#Checking older versions
#locOld = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/austin-2010-2018-central/2018/" 
#mode_choice_raw = pd.read_csv(locOld + 'final_trip_mode_choice_raw.csv')
#utilities = pd.read_csv(locOld + 'final_trip_mode_choice_utilities.csv')

#### Reading the files

In [3]:
loc = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-2010-lessrh-20220223/activitysim/" 
trips = pd.read_csv(loc + 'final_trips.csv')
households = pd.read_csv(loc + 'final_households.csv')
persons = pd.read_csv(loc + 'final_persons.csv')
tours = pd.read_csv(loc +'final_tours.csv')
plans = pd.read_csv(loc +'final_plans.csv')
landuse = pd.read_csv(loc +'final_land_use.csv')
#checkpoints = pd.read_csv(loc + 'final_checkpoints.csv')
#joint_tour_participants = pd.read_csv(loc + 'final_joint_tour_participants.csv')
#specs = pd.read_csv(loc +'final_trip_mode_choice_specs.csv')
#tripModeChoice = pd.read_csv(loc +'final_trip_mode_choice_raw.csv')
#tripModeChoiceUtilities = pd.read_csv(loc +'final_trip_mode_choice_utilities.csv')

In [4]:
#Show all columns and rows
pd.options.display.max_columns = None
pd.options.display.max_rows = None

#### Merging the files

In [5]:
#Merge households and persons 
persons = persons.sort_values(by=['household_id'])
households = households.sort_values(by=['household_id'])
hhpersons = pd.merge(left=persons, right=households, how='left', on='household_id', suffixes=('', '_drop'))
hhpersons.drop([col for col in hhpersons.columns if 'drop' in col], axis=1, inplace=True)

In [6]:
#Merge tours, households and persons
tours = tours.sort_values(by=['person_id'])
hhpersons = hhpersons.sort_values(by=['person_id'])
hhperTours = pd.merge(left=tours, right=hhpersons, how='left', on='person_id', suffixes=('', '_drop'))
hhperTours.drop([col for col in hhperTours.columns if 'drop' in col], axis=1, inplace=True)

In [7]:
%%time
#Merge trips, tours, households and persons
trips = trips.sort_values(by=['person_id', 'tour_id'])
hhperTours = hhperTours.sort_values(by=['person_id','tour_id'])
tourTripsMerged = pd.merge(left=trips, right=hhperTours, how='left', on=['person_id','tour_id'], suffixes=('', '_drop'))
tourTripsMerged.drop([col for col in tourTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

Wall time: 40.7 s

In [11]:
tourTripsMerged.head()

,trip_id,person_id,household_id,tour_id,primary_purpose,trip_num,outbound,trip_count,purpose,destination,origin,destination_logsum,depart,trip_mode,mode_choice_logsum,tour_type,tour_type_count,tour_type_num,tour_num,tour_count,tour_category,number_of_participants,tdd,start,end,duration,composition,tour_mode,atwork_subtour_frequency,parent_tour_id,stop_frequency,age,earning,edu,hispanic,hours,PNUM,race_id,relate,sex,student,work_at_home,worker,person_age,person_sex,race,hispanic.1,p_hispanic,MAR,TAZ,ptype,pemploy,pstudent,home_x,home_y,age_16_to_19,age_16_p,adult,male,female,has_non_worker,has_retiree,has_preschool_kid,has_driving_kid,has_school_kid,has_full_time,has_part_time,has_university,student_is_employed,nonstudent_to_school,is_student,is_gradeschool,is_highschool,is_university,school_segment,is_worker,home_taz,value_of_time,school_taz,distance_to_school,roundtrip_auto_time_to_school,workplace_taz,workplace_location_logsum,distance_to_work,workplace_in_cbd,work_taz_area_type,roundtrip_auto_time_to_work,work_auto_savings,work_auto_savings_ratio,free_parking_at_work,cdap_activity,travel_active,under16_not_at_school,has_preschool_kid_at_home,has_school_kid_at_home,mandatory_tour_frequency,work_and_school_and_worker,work_and_school_and_student,num_mand,num_work_tours,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours,serialno,VEHICL,income,race_of_head,age_of_head,num_workers,hispanic_status_of_head,tenure,recent_mover,sf_detached,hh_age_of_head,hh_race_of_head,hispanic_head,hh_size,hh_cars,hh_children,seniors,hh_income,hh_workers,tenure_mover,hh_seniors,block_id,lcm_county_id,hhsize,gt55,gt2,hh_type,HHT,sample_rate,chunk_id,income_in_thousands,income_segment,median_value_of_time,hh_value_of_time,num_non_workers,num_drivers,num_adults,num_children,num_young_children,num_children_5_to_15,num_children_16_to_17,num_college_age,num_young_adults,non_family,family,home_is_urban,home_is_rural,auto_ownership,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours
0,1513,4,865,189,othdiscr,1,True,1,othdiscr,927,1005,NaN,15.0,DRIVEALONEFREE,-1.893115,othdiscr,1,1,1,1,non_mandatory,1,146.0,15.0,16.0,1.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,68,0.0,22.0,0,0.0,1,2,0,2,0,0,0,above 60,female,black,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,1,1,0,0,0,0,1,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
1,1517,4,865,189,othdiscr,1,False,1,Home,1005,927,NaN,16.0,DRIVEALONEPAY,-2.237247,othdiscr,1,1,1,1,non_mandatory,1,146.0,15.0,16.0,1.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,68,0.0,22.0,0,0.0,1,2,0,2,0,0,0,above 60,female,black,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,1,1,0,0,0,0,1,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
2,2889,8,865,361,shopping,1,True,1,shopping,1066,1005,NaN,16.0,DRIVEALONEFREE,-1.357007,shopping,1,1,1,1,non_mandatory,1,154.0,16.0,16.0,0.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,74,0.0,18.0,0,0.0,2,1,1,1,0,0,0,above 60,male,white,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,16,1,0,0,1,0,0,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
3,2893,8,865,361,shopping,1,False,1,Home,1005,1066,NaN,16.0,DRIVEALONEFREE,-1.736173,shopping,1,1,1,1,non_mandatory,1,154.0,16.0,16.0,0.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_0in,74,0.0,18.0,0,0.0,2,1,1,1,0,0,0,above 60,male,white,0,no,1,1005,5,3,3,-122.227937,37.854097,False,True,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,2.818730,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,16,1,0,0,1,0,0,0,1,2012000224482,3.0,70550.0,2,68,0.0,0,1,0,yes,gt65,black,no,two,two or more,no,2.0,gt60-lt100,none,own not recent,yes,60014001001061,6001,2,1,1,4,4,0.077,73380,70.55,3,10.44,2.818730,2.0,2,2,0,0,0,0,0,0,True,False,False,False,1,0.0,0,2,2,0,0,2,True,0_tours,0
4,21913,66,1069,2739,shopping,1,True,1,shopping,960,1005,NaN,18.0,DRIVEALONEPAY,-2.130291,shopping,1,1,1,1,non_mandatory,1,169.0,18.0,18.0,0.0,NaN,DRIVEALONEFREE,NaN,NaN,0out_2in,77,0.0,1.0,0,0.0,1,2,0,2,0,0,0,above 60,female,black,0,no,2,1005,5,3,3,-122.235024,37.859000,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0,False,1005,1.072029,-1,NaN,0.0,-1,NaN,NaN,False,NaN,0.0,0.0,0.0,False,N,True,False,False,False,NaN,False,False,0,0,0,16,1,0,0,1,0,0,0,1,2011000418633,2.0,9800.0,2,77,0.0,0,2,0,no,gt65,black,no,one,two or more,no,1.0,lt30,none,rent not recent,yes,60014001001033,6001,1,1,0,6,1,0.077,190847,9.80,1,6.01,1.072029,1.0,1,1,0,0,0,0,0,0,False,True,False,False,1,0.0,0,1,1,0,0,1,False,0_tours,0

#### Don't forget to merge plans files here

In [ ]:
%%time   #### Check this code
#Merge trips, tours, households and persons, and plans
plans = plans.sort_values(by=['person_id', 'trip_id'])
tourTripsMerged = tourTripsMerged.sort_values(by=['person_id','trip_id'])
plansTripsMerged = pd.merge(left=plans, right=tourTripsMerged, how='left', on=['person_id','trip_id'], suffixes=('', '_drop'))
plansTripsMerged.drop([col for col in plansTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

In [20]:
tours[tours['person_id'] == 4]

,tour_id,person_id,tour_type,tour_type_count,tour_type_num,tour_num,tour_count,tour_category,number_of_participants,destination,origin,household_id,tdd,start,end,duration,composition,destination_logsum,tour_mode,mode_choice_logsum,atwork_subtour_frequency,parent_tour_id,stop_frequency,primary_purpose
469973,189,4,othdiscr,1,1,1,1,non_mandatory,1,927.0,1005.0,865,146.0,15.0,16.0,1.0,NaN,13.156275,DRIVEALONEFREE,-2.239582,NaN,NaN,0out_0in,othdiscr

In [17]:
#Merge trips, tours, households, and persons with land-use
landuse = landuse.sort_values(by=['TAZ'])
tourTripsMerged = tourTripsMerged.sort_values(by=['TAZ'])
landuseTripsMerged = pd.merge(tourTripsMerged, landuse, how='left', left_on='TAZ', right_on='TAZ', suffixes=('', '_drop'))
landuseTripsMerged.drop([col for col in landuseTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

In [34]:
#Concat mode_choice_raw files
path = "C:/Users/nazanin/Downloads/trip_mode_choice/trip_mode_choice/"
all_files = glob.glob(path + "*raw.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_raw = pd.concat(li2, axis = 0, ignore_index=True)

In [35]:
#Concat mode_choice_utilities files
path = "C:/Users/nazanin/Downloads/trip_mode_choice/trip_mode_choice/"
all_files = glob.glob(path + "*utilities.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_utilities = pd.concat(li2, axis = 0, ignore_index=True)

In [42]:
#Merge mode_choice_raw and utilities
SFmode_choice_raw = SFmode_choice_raw.sort_values(by=['trip_id'])
SFmode_choice_utilities = SFmode_choice_utilities.sort_values(by=['trip_id'])
rawUtil = pd.merge(left=SFmode_choice_raw, right=SFmode_choice_utilities, how='left', on='trip_id', suffixes=('', '_drop'))
rawUtil.drop([col for col in rawUtil.columns if 'drop' in col], axis=1, inplace=True)

In [44]:
%%time
#Merge trips, tours, households, persons, trip_mode_choice_raw, and utilities
landuseTripsMerged = landuseTripsMerged.sort_values(by=['trip_id'])
rawUtil = rawUtil.sort_values(by=['trip_id'])
SFActMerged= pd.merge(left=landuseTripsMerged, right=rawUtil, how='left', on=['trip_id'], suffixes=('', '_drop'))
SFActMerged.drop([col for col in SFActMerged.columns if 'drop' in col], axis=1, inplace=True)

Wall time: 1min 40s

In [48]:
SFActMerged.shape

(1856570, 613)

In [50]:
SFActMerged_chunk = SFActMerged[0:1000]
SFActMerged_chunk.to_csv('C:/Shared-Work/Data/CleanData/SFActMerged_chunk.csv', index = False)

In [ ]:
specs.Expression_id = specs.Expression_id .astype(str)
specs.rename(columns = {'Expression_id':'trip_mode'}, inplace = True)
specs = specs.set_index('trip_mode')

In [ ]:
specsT = specs.transpose()

In [ ]:
ActSimSpec = pd.merge(ActSimMerged, specsT, left_on = 'trip_mode', right_index=True, how = 'left')

In [ ]:
#ActSimSpec.to_csv('C:/Shared-Work/Data/CleanData/Final_ActSimMerged.csv')