In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import h5py
import boto.s3
import glob

#### comments from the main code

In [ ]:
# File location on S3 (The address should be updated depending on the version of the code using)
loc_2018_baseline = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-base-20220409/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_transitFreq05 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_0.5-20220528/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_transitFreq1p5 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_1.5-20220529/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_transitFreq2 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_2.0-20220529/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz0125 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.125-20220408/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz025 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.25-20220408/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz05 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.5-20220408/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz150 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_1.5-20220328/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz175 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_1.75-20220408/beam/year-2018-iteration-5/ITERS/it.0/"

In [ ]:
#eventsSFCopy = eventsSF.copy()

In [ ]:
# deadhead = eventsSF[eventsSF.person.str.contains("Agent", na=False)].reset_index(drop=True)
# When there are no riders. Driver and person are not numbers, but include "Agent"

In [ ]:
#print(eventsSF.currentTourMode.unique().tolist())

In [ ]:
#print(eventsSF.modeBEAM.unique().tolist())

In [ ]:
#print(eventsSF.type.unique().tolist())

In [ ]:
#eventsSF[(eventsSF['modeBEAM_rh'] == 'ride_hail_pooled') & (eventsSF['fuelElectricity'].notna() != 0)].head()

#### Previous code for mode choice

In [95]:
# Make a new column which determined mode choice numbers for each person and trip
#s = eventsSF.groupby(['IDMerged','tripIndex', 'type']).cumcount().add(1).astype(str).str.zfill(2)

In [96]:
#eventsSF['type_number'] = eventsSF['type'].astype(str) + s.astype(str)

In [97]:
#eventsSF['mode_choice_planned_BEAM'] = np.where(eventsSF['type_number'] == 'ModeChoice01' , eventsSF['modeBEAM_rh'], np.nan)

In [98]:
# Just showing the mode choice after replanning
#eventsSF['mode_choice_replanned_BEAM'] = np.where(eventsSF['type_number'] == 'ModeChoice02', eventsSF['modeBEAM_rh'], np.nan)

#### Only works if we have one replanning event

In [ ]:
# Showing both mode choices before and after the replanning event
#eventsSF['mode_choice_act'] = eventsSF['mode_choice_replanned_BEAM'].combine_first(eventsSF['mode_choice_planned_BEAM'])

In [ ]:
# If replanned, then the status is 1
#eventsSF['replanning_status'] = np.where(eventsSF['mode_choice_replanned_BEAM'].notna() , 1, np.nan)

In [ ]:
# Group by and fill all the rows related to the replanning event
#eventsSF["replanning_status"] = eventsSF.groupby(['IDMerged','tripIndex'], as_index=False)['replanning_status'].transform(lambda x: x.ffill().bfill())

In [ ]:
# Put all non-replanning events equal to 0
#eventsSF["replanning_status"] = np.where(eventsSF['replanning_status'].isna(), 0, eventsSF['replanning_status']).astype(int)

In [ ]:
#eventsSF['mode_choice_actual_BEAM'] = np.where((eventsSF['replanning_status'] == 1) & (eventsSF['type_number']=='ModeChoice01'), np.nan, eventsSF['mode_choice_act'])

In [ ]:
#eventsSF = eventsSF.drop(['mode_choice_act'], axis = 1)

In [ ]:
#eventsSF[eventsSF['type'] == "Replanning"].tail(16)

In [ ]:
#eventsSF["mode_choice_replanned_BEAM"] = eventsSF.groupby(['IDMerged','tripIndex'])['mode_choice_replanned_BEAM'].transform(lambda x: x.bfill())

In [ ]:
#eventsSF['mode_choice_actual_BEAM'] = eventsSF['mode_choice_actual_BEAM'].combine_first(eventsSF['modeBEAM_rh'])

In [ ]:
#eventsSF['mode_planned_tour_ActSim'] = np.where(eventsSF['type'] == 'PathTraversal', eventsSF['currentTourMode'], np.nan)

In [ ]:
#eventsSF['numPassengers_agg'] = eventsSF.groupby(['IDMerged','tripIndex'], as_index=False).numPassengers.agg(lambda x: ', '.join(set(x.dropna().astype(str))))

#### continue comments from the main code

In [111]:
#transit_data = eventsSF[(eventsSF['modeBEAM_rh'] == "bus") | (eventsSF['modeBEAM_rh'] == "subway") 
#                        | (eventsSF['modeBEAM_rh'] == 'walk_transit') | (eventsSF['modeBEAM_rh'] == 'ride_hail_transit') 
#                        | (eventsSF['modeBEAM_rh'] == 'bike_transit') | (eventsSF['modeBEAM_rh'] == 'drive_transit') 
#                        | (eventsSF['modeBEAM_rh'] == 'cable_car') | (eventsSF['modeBEAM_rh'] == 'rail') 
#                        | (eventsSF['modeBEAM_rh'] == 'tram')]

In [ ]:
#eventsSF.loc['Total',:]= df.sum(axis=0)

In [ ]:
#eventsSF.type[eventsSF.type == 'Replanning'].count()

In [ ]:
#Person_Trip_eventsSF.replanning_status[Person_Trip_eventsSF.replanning_status == 0].count()

In [ ]:
#rh_transit5.to_csv('C:/Shared-Work/Data/CleanData/rh_transit5.csv', index = False)

In [ ]:
#eventsSF.head(200000).to_csv('C:/Shared-Work/Data/CleanData/modeBEAMCHECK.csv', index = False)

In [ ]:
#Person_Trip_eventsSF.rename(columns={"modeBEAM_rh":"mode_BEAM_list"}, inplace=True)

In [ ]:
#Person_Trip_eventsSF.door_to_door_time[Person_Trip_eventsSF.door_to_door_time<0].count()

In [ ]:
#negative_door = Person_Trip_eventsSF[(Person_Trip_eventsSF.door_to_door_time<0)]

In [ ]:
#negative_door.to_csv('C:/Shared-Work/Data/CleanData/PivotTables/negative_door.csv')

In [ ]:
#import matplotlib.pyplot as plt
#import seaborn as sns

#plt.figure(figsize=(13, 6))
#sns.heatmap(households, vmax=1, annot=True, linewidths=.5)
#plt.xticks(rotation=30, horizontalalignment='right')
#plt.show()

In [ ]:
#import missingno as msno
#%matplotlib inline
#msno.bar(SFbaseline2018)
#msno.heatmap(persons)

#### SF 2018

In [2]:
# File location on S3 (The address should be updated depending on the version of the code using)
loc_2018_baseline = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-base-20220409/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_transitFreq05 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_0.5-20220528/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_transitFreq1p5 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_1.5-20220529//beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_transitFreq2 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_2.0-20220529//beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz0125 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.125-20220408/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz025 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.25-20220408/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz05 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.5-20220408/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz150 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_1.5-20220328/beam/year-2018-iteration-5/ITERS/it.0/"
loc_2018_rhFleetsz175 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_1.75-20220408/beam/year-2018-iteration-5/ITERS/it.0/"

#### SF 2019

In [3]:
loc_2019_transCap05 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_capacity_0.5-20220329/beam/year-2019-iteration-5/ITERS/it.0/"

In [3]:
%%time
# Reading the events file
dtypes = {
    "time": "float32",
    "type": "category",
    "legMode": "category",
    "actType": "category", 
    "primaryFuelLevel": "float64",
    "legMode": "category",
    "chargingPointType":"category",
    "pricingModel":"category",
    "parkingType":"category",
    "mode":"category",
    "personalVehicleAvailable": "category",
    "person": "object",
    "driver": "object",
    "riders": "object",
    'primaryFuelType': "category",
    'secondaryFuelType': 'category',
    'currentTourMode': 'category',
    'currentActivity': 'category',
    'nextActivity': 'category'    
}
# Use list comprehension to remove the unwanted column in **usecol**
eventsSF = pd.read_csv(loc_2018_rhFleetsz025 + '0.events.csv.gz', compression = 'gzip', dtype = dtypes)

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [3]:
# Show all columns and rows
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [5]:
eventsSF['scenario'] = "rhflsz0p25" 
eventsSF['scenario'] = eventsSF['scenario'].astype("category")
eventsSF['year'] = 2018

NameError: name 'eventsSF' is not defined

In [ ]:
# Rename the "mode" column
eventsSF.rename(columns={"mode":"modeBEAM"}, inplace=True) 
# Replace "Work" with "work" in the "actType" column
eventsSF["actType"].replace({"Work": "work"}, inplace=True)

In [7]:
eventsSFCopy = eventsSF.copy()

In [8]:
# deadhead = eventsSF[eventsSF.person.str.contains("Agent", na=False)].reset_index(drop=True)
# When there are no riders. Driver and person are not numbers, but include "Agent"

In [ ]:
# Remove person = TransitDriver or RidehailDriver because there are no agent information in these rows
eventsSF = eventsSF[~eventsSF.person.str.contains("Agent", na=False)].reset_index(drop=True)

In [ ]:
# shift column 'person' to first position
first_column = eventsSF.pop('person')
second_column = eventsSF.pop('driver')
third_column = eventsSF.pop('riders')
# insert column using insert(position,column_name,first_column) function
eventsSF.insert(0, 'person', first_column)
eventsSF.insert(1, 'driver', second_column)
eventsSF.insert(2, 'riders', third_column)

In [ ]:
# Adding the IDMerged Column
eventsSF['UniqueID'] = eventsSF['person'] #make a copy of the person column
eventsSF['personID'] = np.where(eventsSF['person'].isin(eventsSF['driver']), eventsSF['person'], np.nan) 
eventsSF['driverID'] = np.where(eventsSF['driver'].isin(eventsSF['person']), eventsSF['driver'], np.nan)

In [ ]:
# Merging person and driver ids in one column
eventsSF['IDMerged'] = eventsSF['personID'].combine_first(eventsSF['driverID'])
eventsSF['IDMerged'] = eventsSF['UniqueID'].combine_first(eventsSF['IDMerged'])

In [ ]:
# Dropping unused columns
eventsSF = eventsSF.drop(['personID','driverID','UniqueID'], axis=1)

In [ ]:
# Shift column 'IDMerged' to first position
first_column = eventsSF.pop('IDMerged')
# Insert column using insert(position,column_name,first_column) function
eventsSF.insert(0, 'IDMerged', first_column)

In [ ]:
%%time
# Split the "riders' column and replicated rows for every rider
eventsSF['riders'] = eventsSF['riders'].str.split(':')
eventsSF = eventsSF.explode('riders')

In [ ]:
# Combine riderID with IDMerged
eventsSF['riderID'] = np.where(eventsSF['riders'].isin(eventsSF['person']), eventsSF['riders'], np.nan)
eventsSF['IDMerged'] = eventsSF['riderID'].combine_first(eventsSF['IDMerged'])

In [ ]:
# Dropping unused columns
eventsSF = eventsSF.drop(['riderID'], axis=1)

In [ ]:
# Remove driver = TransitDriver or RidehailDriver for IDMerged = NAN because there are no agent information in these rows 
eventsSF = eventsSF[~((eventsSF.driver.str.contains("Agent", na=False))&(eventsSF.IDMerged.isna()))].reset_index(drop=True)

In [ ]:
IDnan = eventsSF[eventsSF['IDMerged'].isna()]
IDnan.shape

In [ ]:
%%time
# Filling NANs in ID related to charging events
eventsSF["chargeID"] = eventsSF.groupby('vehicle')['IDMerged'].transform(lambda x: x.ffill().bfill())

In [ ]:
# Combining chargeID with IDMerged so no NANs anymore
eventsSF['IDMerged'] = eventsSF['chargeID'].combine_first(eventsSF['IDMerged'])

In [ ]:
IDnan = eventsSF[eventsSF['IDMerged'].isna()]
IDnan.shape

In [ ]:
# Dropping unused columns
eventsSF = eventsSF.drop(['chargeID'], axis=1)

In [24]:
print(eventsSF.currentTourMode.unique().tolist())

['car', 'car_hov3', 'hov2_teleportation', nan, 'walk', 'hov3_teleportation', 'car_hov2', 'bike', 'walk_transit', 'ride_hail', 'ride_hail_pooled', 'drive_transit', 'ride_hail_transit', 'bike_transit']

In [25]:
print(eventsSF.modeBEAM.unique().tolist())

['car', 'car_hov3', 'hov2_teleportation', nan, 'walk', 'hov3_teleportation', 'car_hov2', 'bike', 'walk_transit', 'ride_hail', 'ride_hail_pooled', 'drive_transit', 'ride_hail_transit', 'bus', 'tram', 'subway', 'rail', 'cable_car', 'bike_transit']

In [26]:
print(eventsSF.type.unique().tolist())

['ModeChoice', 'actend', 'departure', 'TeleportationEvent', 'arrival', 'actstart', 'PersonEntersVehicle', 'PathTraversal', 'LeavingParkingEvent', 'ParkingEvent', 'PersonCost', 'PersonLeavesVehicle', 'ReserveRideHail', 'Replanning', 'ChargingPlugInEvent', 'RefuelSessionEvent', 'ChargingPlugOutEvent']

In [ ]:
%%time
# Change the IDMerged column type to numeric
eventsSF["IDMerged"] = pd.to_numeric(eventsSF.IDMerged)

In [30]:
# Sort by IDMerged and time columns
eventsSF = eventsSF.sort_values(['IDMerged','time']).reset_index(drop=True)

In [31]:
# We assume that the number of passengers is 1 for ride_hail_pooled
eventsSF['modeBEAM_rh'] = np.where(eventsSF.driver.str.contains("rideHailAgent", na=False), 'ride_hail' , eventsSF['modeBEAM'])

In [32]:
# Adding teleportation mode to the type = TeleportationEvent row 
eventsSF["modeBEAM_rh"] = np.where(eventsSF['type']=='TeleportationEvent', eventsSF.modeBEAM_rh.fillna(method='ffill'), eventsSF["modeBEAM_rh"])

In [33]:
eventsSF['modeBEAM_rh_pooled'] = np.where((eventsSF['type'] == 'PersonCost') & (eventsSF['modeBEAM'] == 'ride_hail_pooled'), 'ride_hail_pooled', np.nan)

In [34]:
eventsSF['modeBEAM_rh_ride_hail_transit'] = np.where((eventsSF['type'] == 'PersonCost') & (eventsSF['modeBEAM'] == 'ride_hail_transit'), 'ride_hail_transit', np.nan)

In [35]:
eventsSF['modeBEAM_rh_pooled'] = eventsSF['modeBEAM_rh_pooled'].shift(+1)

In [36]:
eventsSF['modeBEAM_rh_ride_hail_transit'] = eventsSF['modeBEAM_rh_ride_hail_transit'].shift(+1)

In [37]:
eventsSF['modeBEAM_rh'] = np.where((eventsSF['type'] == 'PathTraversal') & (eventsSF['modeBEAM'] == 'car') & (eventsSF['driver'].str.contains("rideHailAgent", na=False)) & (eventsSF['modeBEAM_rh_pooled'] != 'nan'), eventsSF['modeBEAM_rh_pooled'], eventsSF['modeBEAM_rh'])

In [38]:
# We don't know if ridehail_transit is ride_hail or ride_hail_pooled
eventsSF['modeBEAM_rh'] = np.where((eventsSF['type'] == 'PathTraversal') & (eventsSF['modeBEAM'] == 'car') & (eventsSF['driver'].str.contains("rideHailAgent", na=False)) & (eventsSF['modeBEAM_rh_ride_hail_transit'] != 'nan'), eventsSF['modeBEAM_rh_ride_hail_transit'], eventsSF['modeBEAM_rh'])

In [39]:
# Dropping the temporary columns
eventsSF = eventsSF.drop(['modeBEAM_rh_pooled'], axis=1)
eventsSF = eventsSF.drop(['modeBEAM_rh_ride_hail_transit'], axis=1)

#### Adding census blocks

In [40]:
def addGeometryIdToDataFrame(df, gdf, xcol, ycol, idColumn="geometry", df_geom='epsg:4326'):
    gdf_data = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df[xcol], df[ycol]))
    gdf_data.crs = {'init': df_geom}
    joined = gpd.sjoin(gdf_data.to_crs('epsg:26910'), gdf.to_crs('epsg:26910'))
    gdf_data = gdf_data.merge(joined['blkgrpid'], left_index=True, right_index=True, how="left")
    gdf_data.rename(columns={'blkgrpid': idColumn}, inplace=True)
    df = pd.DataFrame(gdf_data.drop(columns='geometry'))
    df.drop(columns=[xcol, ycol], inplace=True)
    return df.loc[~df.index.duplicated(keep='first'), :]

In [41]:
BGs = gpd.read_file('C:/Shared-Work/Data/Scenario_2010_shp/641aa0d4-ce5b-4a81-9c30-8790c4ab8cfb202047-1-wkkklf.j5ouj.shp')

In [42]:
%%time
eventsSF = addGeometryIdToDataFrame(eventsSF, BGs, 'startX', 'startY', 'BlockGroupStart')

C:\Users\nazanin\.conda\envs\geo_env\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

CPU times: total: 59min 56s
Wall time: 59min 56s

In [43]:
%%time
eventsSF = addGeometryIdToDataFrame(eventsSF, BGs, 'endX', 'endY', 'BlockGroupEnd')

C:\Users\nazanin\.conda\envs\geo_env\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

CPU times: total: 59min 59s
Wall time: 59min 59s

#### Adding new columns

In [44]:
eventsSF['actEndTime'] = np.where(eventsSF['type']=='actend'
                     , eventsSF['time'], np.nan)

In [45]:
eventsSF['actStartTime'] = np.where(eventsSF['type']=='actstart'
                     , eventsSF['time'], np.nan)

In [46]:
eventsSF['duration_travelling'] = np.where((eventsSF['type']=='PathTraversal')|(eventsSF['type']=='TeleportationEvent')
                     , eventsSF['arrivalTime'] - eventsSF['departureTime'], np.nan)

In [47]:
eventsSF['distance_travelling'] = np.where((eventsSF['type']=='PathTraversal')|((eventsSF['type']=='ModeChoice')&((eventsSF['modeBEAM']=='hov2_teleportation')|(eventsSF['modeBEAM']=='hov3_teleportation'))), eventsSF['length'], np.nan)

In [48]:
eventsSF['distance_mode_choice'] = np.where(eventsSF['type']=='ModeChoice', eventsSF['length'], np.nan)

In [49]:
eventsSF['duration_walking'] = np.where(eventsSF['modeBEAM']=='walk', eventsSF['duration_travelling'], np.nan)

In [50]:
eventsSF['distance_walking'] = np.where(eventsSF['modeBEAM']=='walk', eventsSF['distance_travelling'], np.nan)

In [51]:
eventsSF['duration_on_bike'] = np.where(eventsSF['modeBEAM']=='bike', eventsSF['duration_travelling'], np.nan)

In [52]:
eventsSF['distance_bike'] = np.where(eventsSF['modeBEAM']=='bike', eventsSF['distance_travelling'], np.nan)

In [53]:
eventsSF['duration_in_ridehail'] = np.where((eventsSF['modeBEAM_rh']=='ride_hail')|(eventsSF['modeBEAM_rh']=='ride_hail_pooled')|(eventsSF['modeBEAM_rh']=='ride_hail_transit'), 
                                            eventsSF['duration_travelling'], np.nan)

In [54]:
eventsSF['distance_ridehail'] = np.where((eventsSF['modeBEAM_rh']=='ride_hail')|(eventsSF['modeBEAM_rh']=='ride_hail_pooled')|(eventsSF['modeBEAM_rh']=='ride_hail_transit'), eventsSF['distance_travelling'], np.nan)

In [55]:
eventsSF['duration_in_privateCar'] = np.where((eventsSF['modeBEAM_rh']=='car')|(eventsSF['modeBEAM_rh']=='car_hov3')|(eventsSF['modeBEAM_rh']=='car_hov2')|
                                              (eventsSF['modeBEAM_rh']=='hov2_teleportation')|(eventsSF['modeBEAM_rh']=='hov3_teleportation') 
                                              , eventsSF['duration_travelling'], np.nan)

In [56]:
eventsSF['distance_privateCar'] = np.where((eventsSF['modeBEAM_rh']=='car')|(eventsSF['modeBEAM_rh']=='car_hov3')|(eventsSF['modeBEAM_rh']=='car_hov2')|
                                              (eventsSF['modeBEAM_rh']=='hov2_teleportation')|(eventsSF['modeBEAM_rh']=='hov3_teleportation'), eventsSF['distance_travelling'], np.nan)

In [57]:
eventsSF['duration_in_transit'] = np.where((eventsSF['modeBEAM']=='bike_transit')|(eventsSF['modeBEAM']=='drive_transit')|
                                           (eventsSF['modeBEAM']=='walk_transit')|(eventsSF['modeBEAM']=='bus')|
                                           (eventsSF['modeBEAM']=='tram')|(eventsSF['modeBEAM']=='subway')|
                                           (eventsSF['modeBEAM']=='rail')|(eventsSF['modeBEAM']=='cable_car')|
                                           (eventsSF['modeBEAM']=='ride_hail_transit'), eventsSF['duration_travelling'], np.nan)

In [58]:
eventsSF['distance_transit'] = np.where((eventsSF['modeBEAM']=='bike_transit')|(eventsSF['modeBEAM']=='drive_transit')|
                                        (eventsSF['modeBEAM']=='walk_transit')|(eventsSF['modeBEAM']=='bus')|
                                        (eventsSF['modeBEAM']=='tram')|(eventsSF['modeBEAM']=='subway')|
                                        (eventsSF['modeBEAM']=='rail')|(eventsSF['modeBEAM']=='cable_car')|
                                        (eventsSF['modeBEAM']=='ride_hail_transit'), eventsSF['distance_travelling'], np.nan)

In [59]:
# Removing the extra tour index happening after replanning events
eventsSF['replanningTime'] = np.where(eventsSF['type'] == 'Replanning', eventsSF['time'], np.nan)
eventsSF['replanningTime'] = eventsSF['replanningTime'].shift(+1)
eventsSF['tourIndex_fixed'] = np.where((eventsSF['type'] == 'ModeChoice')&(eventsSF['replanningTime'].notna()), np.nan, eventsSF['tourIndex'])

In [60]:
#eventsSF = eventsSF.set_index('IDMerged')

In [61]:
eventsSF.modeBEAM_rh.unique()

array(['hov3_teleportation', nan, 'car', 'walk', 'walk_transit', 'bus',
       'car_hov2', 'tram', 'subway', 'ride_hail', 'hov2_teleportation',
       'bike', 'car_hov3', 'rail', 'drive_transit', 'ride_hail_transit',
       'cable_car', 'ride_hail_pooled', 'bike_transit'], dtype=object)

In [62]:
eventsSF.primaryFuelType.unique()

[NaN, 'Food', 'Gasoline', 'Diesel', 'Electricity', 'Biodiesel']
Categories (5, object): ['Gasoline', 'Biodiesel', 'Diesel', 'Electricity', 'Food']

In [63]:
eventsSF['fuelFood'] = np.where((eventsSF['type']=='PathTraversal')&(eventsSF['primaryFuelType']=='Food'), 
                                eventsSF['primaryFuel'], np.nan)

In [64]:
eventsSF['emissionFood'] = eventsSF['fuelFood'] * 8.3141841e-9 * 0

In [65]:
eventsSF['fuelElectricity'] = np.where((eventsSF['type']=='PathTraversal')&(eventsSF['primaryFuelType']=='Electricity'), 
                                eventsSF['primaryFuel'], np.nan)

In [66]:
eventsSF['emissionElectricity'] = eventsSF['fuelElectricity'] * 2.77778e-10 * 947.2 * 0.0005

In [67]:
eventsSF['fuelDiesel'] = np.where((eventsSF['type']=='PathTraversal')&(eventsSF['primaryFuelType']=='Diesel'), 
                                eventsSF['primaryFuel'], np.nan)

In [68]:
eventsSF['emissionDiesel'] = eventsSF['fuelDiesel'] * 8.3141841e-9 * 10.180e-3

In [69]:
eventsSF['fuelBiodiesel'] = np.where((eventsSF['type']=='PathTraversal')&(eventsSF['primaryFuelType']=='Biodiesel'), 
                                eventsSF['primaryFuel'], np.nan)

In [70]:
eventsSF['emissionBiodiesel'] = eventsSF['fuelBiodiesel'] * 8.3141841e-9 * 10.180e-3

In [71]:
eventsSF['fuel_not_Food'] = np.where((eventsSF['type']=='PathTraversal')&(eventsSF['primaryFuelType']!='Food')
                            , eventsSF['primaryFuel']+eventsSF['secondaryFuel'], np.nan)

In [72]:
eventsSF['fuelGasoline'] = np.where((eventsSF['type']=='PathTraversal')&((eventsSF['primaryFuelType']=='Gasoline')|(eventsSF['secondaryFuelType']=='Gasoline')), 
                           eventsSF['primaryFuel']+eventsSF['secondaryFuel'], np.nan)

In [73]:
eventsSF['emissionGasoline'] = eventsSF['fuelGasoline'] * 8.3141841e-9 * 8.89e-3

In [74]:
# Marginal fuel
conditions  = [(eventsSF['modeBEAM_rh'] == 'ride_hail_pooled'), 
               (eventsSF['modeBEAM_rh'] == 'walk_transit') | (eventsSF['modeBEAM_rh'] == 'drive_transit')|
               (eventsSF['modeBEAM_rh'] == 'ride_hail_transit')|(eventsSF['modeBEAM_rh'] == 'bus')|(eventsSF['modeBEAM_rh'] == 'subway')|
               (eventsSF['modeBEAM_rh'] == 'rail')|(eventsSF['modeBEAM_rh'] == 'tram')|(eventsSF['modeBEAM_rh'] == 'cable_car')|
               (eventsSF['modeBEAM_rh'] == 'bike_transit'),
               (eventsSF['modeBEAM_rh'] == 'walk')|(eventsSF['modeBEAM_rh'] == 'bike'),
               (eventsSF['modeBEAM_rh'] == 'ride_hail')|(eventsSF['modeBEAM_rh'] == 'car')| 
               (eventsSF['modeBEAM_rh'] == 'car_hov2')| (eventsSF['modeBEAM_rh'] == 'car_hov3')|
               (eventsSF['modeBEAM_rh'] == 'hov2_teleportation')| (eventsSF['modeBEAM_rh'] == 'hov3_teleportation')]
choices = [eventsSF['fuel_not_Food']/eventsSF['numPassengers'], 0 , eventsSF['fuelFood'], eventsSF['fuel_not_Food']]

In [75]:
eventsSF['fuel_marginal'] = np.select(conditions, choices, default=np.nan)

In [76]:
#eventsSF[(eventsSF['modeBEAM_rh'] == 'ride_hail_pooled') & (eventsSF['fuelElectricity'].notna() != 0)].head()

In [77]:
# Marginal emission
conditions1  = [(eventsSF['modeBEAM_rh'] == 'ride_hail_pooled') & (eventsSF['fuelElectricity'].notna() != 0), 
               (eventsSF['modeBEAM_rh'] == 'ride_hail_pooled') & (eventsSF['fuelGasoline'].notna() != 0),
               (eventsSF['modeBEAM_rh'] == 'ride_hail_pooled') & (eventsSF['fuelBiodiesel'].notna() != 0),
               (eventsSF['modeBEAM_rh'] == 'ride_hail_pooled') & (eventsSF['fuelDiesel'].notna() != 0),             
               (eventsSF['modeBEAM_rh'] == 'walk_transit') | (eventsSF['modeBEAM_rh'] == 'drive_transit')|
               (eventsSF['modeBEAM_rh'] == 'ride_hail_transit')|(eventsSF['modeBEAM_rh'] == 'bus')|(eventsSF['modeBEAM_rh'] == 'subway')|
               (eventsSF['modeBEAM_rh'] == 'rail')|(eventsSF['modeBEAM_rh'] == 'tram')|(eventsSF['modeBEAM_rh'] == 'cable_car')|
               (eventsSF['modeBEAM_rh'] == 'bike_transit'),

               (eventsSF['modeBEAM_rh'] == 'walk')|(eventsSF['modeBEAM_rh'] == 'bike'),
               
               (eventsSF['modeBEAM_rh'] == 'ride_hail')|(eventsSF['modeBEAM_rh'] == 'car')| 
               (eventsSF['modeBEAM_rh'] == 'car_hov2')| (eventsSF['modeBEAM_rh'] == 'car_hov3')|
               (eventsSF['modeBEAM_rh'] == 'hov2_teleportation')| (eventsSF['modeBEAM_rh'] == 'hov3_teleportation')&
               (eventsSF['fuelElectricity'].notna() != 0),
              
               (eventsSF['modeBEAM_rh'] == 'ride_hail')|(eventsSF['modeBEAM_rh'] == 'car')| 
               (eventsSF['modeBEAM_rh'] == 'car_hov2')| (eventsSF['modeBEAM_rh'] == 'car_hov3')|
               (eventsSF['modeBEAM_rh'] == 'hov2_teleportation')| (eventsSF['modeBEAM_rh'] == 'hov3_teleportation')&
               (eventsSF['fuelGasoline'].notna() != 0),           
              
               (eventsSF['modeBEAM_rh'] == 'ride_hail')|(eventsSF['modeBEAM_rh'] == 'car')| 
               (eventsSF['modeBEAM_rh'] == 'car_hov2')| (eventsSF['modeBEAM_rh'] == 'car_hov3')|
               (eventsSF['modeBEAM_rh'] == 'hov2_teleportation')| (eventsSF['modeBEAM_rh'] == 'hov3_teleportation')&
               (eventsSF['fuelBiodiesel'].notna() != 0),   
               
               (eventsSF['modeBEAM_rh'] == 'ride_hail')|(eventsSF['modeBEAM_rh'] == 'car')| 
               (eventsSF['modeBEAM_rh'] == 'car_hov2')| (eventsSF['modeBEAM_rh'] == 'car_hov3')|
               (eventsSF['modeBEAM_rh'] == 'hov2_teleportation')| (eventsSF['modeBEAM_rh'] == 'hov3_teleportation')&
               (eventsSF['fuelDiesel'].notna() != 0),

               (eventsSF['modeBEAM_rh'] == 'ride_hail')|(eventsSF['modeBEAM_rh'] == 'car')| 
               (eventsSF['modeBEAM_rh'] == 'car_hov2')| (eventsSF['modeBEAM_rh'] == 'car_hov3')|
               (eventsSF['modeBEAM_rh'] == 'hov2_teleportation')| (eventsSF['modeBEAM_rh'] == 'hov3_teleportation')&
               (eventsSF['fuelFood'].notna() != 0)]

choices1 = [eventsSF['emissionElectricity']/eventsSF['numPassengers'],
           eventsSF['emissionGasoline']/eventsSF['numPassengers'],
           eventsSF['emissionBiodiesel']/eventsSF['numPassengers'],
           eventsSF['emissionDiesel']/eventsSF['numPassengers'],           
           0 , 
           eventsSF['emissionFood'], 
           eventsSF['emissionElectricity'],
           eventsSF['emissionGasoline'],
           eventsSF['emissionBiodiesel'],
           eventsSF['emissionDiesel'],
           eventsSF['emissionFood']]

In [78]:
eventsSF['emission_marginal'] = np.select(conditions1, choices1, default=np.nan)

In [79]:
eventsSF['actEndType'] = np.where(eventsSF['type']=='actend', eventsSF['actType'], "")

In [80]:
eventsSF['actStartType'] = np.where(eventsSF['type']=='actstart', eventsSF['actType'], "")

#### Trip Index

In [81]:
#eventsSF["tripIndex"] = eventsSF.groupby("IDMerged")["tourIndex_fixed"].rank(method="first", ascending=True)
eventsSF["tripIndex"] = eventsSF.tripId.fillna(method='ffill')

#### Previous code for mode choice

In [ ]:
# Make a new column which determined mode choice numbers for each person and trip
#s = eventsSF.groupby(['IDMerged','tripIndex', 'type']).cumcount().add(1).astype(str).str.zfill(2)

In [ ]:
#eventsSF['type_number'] = eventsSF['type'].astype(str) + s.astype(str)

In [ ]:
#eventsSF['mode_choice_planned_BEAM'] = np.where(eventsSF['type_number'] == 'ModeChoice01' , eventsSF['modeBEAM_rh'], np.nan)

In [84]:
# Just showing the mode choice after replanning
#eventsSF['mode_choice_replanned_BEAM'] = np.where(eventsSF['type_number'] == 'ModeChoice02', eventsSF['modeBEAM_rh'], np.nan)

#### Only works if we have one replanning event

In [ ]:
# Showing both mode choices before and after the replanning event
#eventsSF['mode_choice_act'] = eventsSF['mode_choice_replanned_BEAM'].combine_first(eventsSF['mode_choice_planned_BEAM'])

In [ ]:
# If replanned, then the status is 1
#eventsSF['replanning_status'] = np.where(eventsSF['mode_choice_replanned_BEAM'].notna() , 1, np.nan)

In [ ]:
# Group by and fill all the rows related to the replanning event
#eventsSF["replanning_status"] = eventsSF.groupby(['IDMerged','tripIndex'], as_index=False)['replanning_status'].transform(lambda x: x.ffill().bfill())

In [100]:
# Put all non-replanning events equal to 0
#eventsSF["replanning_status"] = np.where(eventsSF['replanning_status'].isna(), 0, eventsSF['replanning_status']).astype(int)

In [101]:
#eventsSF['mode_choice_actual_BEAM'] = np.where((eventsSF['replanning_status'] == 1) & (eventsSF['type_number']=='ModeChoice01'), np.nan, eventsSF['mode_choice_act'])

In [102]:
#eventsSF = eventsSF.drop(['mode_choice_act'], axis = 1)

In [103]:
#eventsSF[eventsSF['type'] == "Replanning"].tail(16)

In [104]:
#num_pass.to_csv('C:/Shared-Work/Data/CleanData/num_pass.csv', index = False)

In [105]:
#eventsSF["mode_choice_replanned_BEAM"] = eventsSF.groupby(['IDMerged','tripIndex'])['mode_choice_replanned_BEAM'].transform(lambda x: x.bfill())

In [106]:
#eventsSF['mode_choice_actual_BEAM'] = eventsSF['mode_choice_actual_BEAM'].combine_first(eventsSF['modeBEAM_rh'])

In [107]:
#eventsSF['mode_planned_tour_ActSim'] = np.where(eventsSF['type'] == 'PathTraversal', eventsSF['currentTourMode'], np.nan)

In [108]:
#eventsSF.head(10000).to_csv('C:/Shared-Work/Data/CleanData/eventsNew_check.csv', index = False)

In [109]:
#eventsSF['numPassengers_agg'] = eventsSF.groupby(['IDMerged','tripIndex'], as_index=False).numPassengers.agg(lambda x: ', '.join(set(x.dropna().astype(str))))

#### Mode Choice planned and actual

In [82]:
%%time
eventsSF['mode_choice_actual_BEAM'] = eventsSF.groupby(['IDMerged','tripId', 'type'])['modeBEAM'].transform('last')

CPU times: total: 1min 26s
Wall time: 1min 26s

In [83]:
%%time
eventsSF['mode_choice_planned_BEAM'] = eventsSF.groupby(['IDMerged','tripId', 'type'])['modeBEAM'].transform('first')

CPU times: total: 1min 26s
Wall time: 1min 26s

In [84]:
eventsSF['mode_choice_actual_BEAM'] = np.where(eventsSF['type'] != 'ModeChoice' , np.nan, eventsSF['mode_choice_actual_BEAM'])

In [85]:
eventsSF['mode_choice_planned_BEAM'] = np.where(eventsSF['type'] != 'ModeChoice' , np.nan, eventsSF['mode_choice_planned_BEAM'])

In [86]:
# Rename the "netCost" column
eventsSF.rename(columns={"netCost":"cost_BEAM"}, inplace=True)

In [87]:
#eventsSF[eventsSF['type']=='Replanning'].head()

In [88]:
# Replanning events = 1, the rest = 0
eventsSF['replanning_status'] = np.where(eventsSF['type']=='Replanning', 1, 0)

In [89]:
#q = eventsSF[eventsSF['IDMerged'] == 6902751]

In [90]:
#q.to_csv('C:/Shared-Work/Data/CleanData/PivotTables/fake2.csv')

In [91]:
%%time
eventsSF['reason'].replace('nan', np.NaN)

CPU times: total: 1.64 s
Wall time: 1.64 s

In [92]:
eventsSF['transit_bus'] = np.where(eventsSF['modeBEAM_rh']=='bus', 1, 0)
eventsSF['transit_subway'] = np.where(eventsSF['modeBEAM_rh']=='subway', 1, 0)
eventsSF['transit_tram'] = np.where(eventsSF['modeBEAM_rh']=='tram', 1, 0)
eventsSF['transit_rail'] = np.where(eventsSF['modeBEAM_rh']=='rail', 1, 0)
eventsSF['transit_cable_car'] = np.where(eventsSF['modeBEAM_rh']=='cable_car', 1, 0)

In [93]:
eventsSF['ride_hail_pooled'] = np.where(eventsSF['modeBEAM_rh']=='ride_hail_pooled', 1, 0)

In [94]:
#transit_data = eventsSF[(eventsSF['modeBEAM_rh'] == "bus") | (eventsSF['modeBEAM_rh'] == "subway") 
#                        | (eventsSF['modeBEAM_rh'] == 'walk_transit') | (eventsSF['modeBEAM_rh'] == 'ride_hail_transit') 
#                        | (eventsSF['modeBEAM_rh'] == 'bike_transit') | (eventsSF['modeBEAM_rh'] == 'drive_transit') 
#                        | (eventsSF['modeBEAM_rh'] == 'cable_car') | (eventsSF['modeBEAM_rh'] == 'rail') 
#                        | (eventsSF['modeBEAM_rh'] == 'tram')]

In [95]:
#eventsSF.loc['Total',:]= df.sum(axis=0)

In [96]:
#eventsSF.type[eventsSF.type == 'Replanning'].count()

In [125]:
#Person_Trip_eventsSF.replanning_status[Person_Trip_eventsSF.replanning_status == 0].count()

In [126]:
#rh_transit5 = eventsSF[eventsSF['IDMerged']== 3671596]

In [127]:
#rh_transit5.to_csv('C:/Shared-Work/Data/CleanData/rh_transit5.csv', index = False)

In [97]:
eventsSFCopy = eventsSF.copy()

In [ ]:
eventsSF.head(200000).to_csv('C:/Shared-Work/Data/CleanData/modeBEAMCHECK.csv', index = False)

In [98]:
%%time
Person_Trip_eventsSF = pd.pivot_table(
   eventsSF,
   index=['IDMerged','tripIndex'],
   aggfunc={'actStartTime': np.sum, 'actEndTime': np.sum, 'duration_travelling': np.sum, 'cost_BEAM': np.sum, 'actStartType': np.sum, 
            'actEndType': np.sum, 'duration_walking': np.sum, 'duration_in_privateCar': np.sum, 'duration_on_bike': np.sum, 
            'duration_in_ridehail': np.sum, 'distance_travelling': np.sum, 'duration_in_transit': np.sum, 'distance_walking': np.sum, 
            'distance_bike': np.sum, 'distance_ridehail': np.sum, 'distance_privateCar': np.sum, 'distance_transit': np.sum, 
            'legVehicleIds': np.sum, 
            'mode_choice_planned_BEAM':lambda x: ', '.join(set(x.dropna().astype(str))),
            'mode_choice_actual_BEAM':lambda x: ', '.join(set(x.dropna().astype(str))),
            'vehicle': lambda x: ', '.join(set(x.dropna().astype(str))),
            'numPassengers': lambda x: ', '.join(list(x.dropna().astype(str))),
            'distance_mode_choice': np.sum,
            'replanning_status': np.sum,
            'reason': lambda x: ', '.join(list(x.dropna().astype(str))),
            'parkingType': lambda x: ', '.join(list(x.dropna().astype(str))),
            'transit_bus': np.sum, 'transit_subway': np.sum, 'transit_tram': np.sum, 'transit_cable_car': np.sum,
            'ride_hail_pooled': np.sum, 'transit_rail': np.sum,
            'year': lambda x: ', '.join(set(x.dropna().astype(str))),
            'scenario': lambda x: ', '.join(set(x.dropna().astype(str))),
            'fuelFood': np.sum, 'fuelElectricity': np.sum, 'fuelBiodiesel': np.sum, 
            'fuelDiesel': np.sum, 'fuel_not_Food': np.sum, 'fuelGasoline': np.sum, 'fuel_marginal': np.sum,
            'BlockGroupStart': 'first',
            'BlockGroupEnd': 'last',
            'emissionFood': np.sum, 'emissionElectricity': np.sum, 'emissionDiesel': np.sum, 'emissionGasoline': np.sum,
            'emissionBiodiesel': np.sum, 'emission_marginal': np.sum
           }).reset_index() 

#'numPassengers': lambda x: ', '.join(set(x.dropna().astype(str))) 
#'mode_choice_actual_BEAM':lambda x: ', '.join(set(x.dropna().astype(str))) #
#'modeBEAM_rh': lambda x: ', '.join(list(x.dropna().astype(str))),

CPU times: total: 38min 49s
Wall time: 38min 48s

In [99]:
Person_Trip_eventsSF['duration_door_to_door'] = Person_Trip_eventsSF['actStartTime'] - Person_Trip_eventsSF['actEndTime']

In [100]:
Person_Trip_eventsSF['waitTime'] = Person_Trip_eventsSF['duration_door_to_door'] - Person_Trip_eventsSF['duration_travelling']

In [101]:
Person_Trip_eventsSF['actPurpose'] = Person_Trip_eventsSF['actEndType'].astype(str) + "_to_" + Person_Trip_eventsSF['actStartType'].astype(str)

In [102]:
#Person_Trip_eventsSF[Person_Trip_eventsSF['IDMerged'] == 2192]

In [103]:
#Person_Trip_eventsSF.rename(columns={"modeBEAM_rh":"mode_BEAM_list"}, inplace=True)

In [104]:
Person_Trip_eventsSF.rename(columns={"legVehicleIds":"vehicleIds_estimate"}, inplace=True)

In [105]:
Person_Trip_eventsSF.rename(columns={"vehicle":"vehicleIds"}, inplace=True)

In [106]:
#Person_Trip_eventsSF.door_to_door_time[Person_Trip_eventsSF.door_to_door_time<0].count()

In [107]:
#negative_door = Person_Trip_eventsSF[(Person_Trip_eventsSF.door_to_door_time<0)]

In [108]:
# Column with five summarized modes
conditions  = [(Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'ride_hail') | (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'ride_hail_pooled'), 
               (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'walk_transit') | (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'drive_transit')| (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'ride_hail_transit')|(Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'bike_transit'),
               (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'walk'), (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'bike'),
               (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'car') | (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'car_hov2')| (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'car_hov3')|(Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'hov2_teleportation')| (Person_Trip_eventsSF['mode_choice_actual_BEAM'] == 'hov3_teleportation')]
choices = [ 'ride_hail', 'transit', 'walk', 'bike', 'car']

In [109]:
Person_Trip_eventsSF['mode_choice_actual_5'] = np.select(conditions, choices, default=np.nan)

In [110]:
#negative_door.to_csv('C:/Shared-Work/Data/CleanData/PivotTables/negative_door.csv')

In [111]:
Person_Trip_eventsSF = Person_Trip_eventsSF.drop(Person_Trip_eventsSF[Person_Trip_eventsSF.duration_door_to_door < 0].index)

In [112]:
Person_Trip_eventsSF.to_csv('C:/Shared-Work/Data/CleanData/sf_2018_tr_fr_1p5_BEAM.csv', index = False)

In [108]:
#Person_Trip_eventsSF[Person_Trip_eventsSF['mode_choice_planned_BEAM'] == 'walk_transit'].head()

#### Merging with activity sim persons and housholds files

In [4]:
%%time
rh_flsz_025_path = "https://beam-core-act.s3.amazonaws.com/deepDive/CleanData/SanFrancisco/RideHail_FleetSize/"
sf_rh_flsz_025 = pd.read_csv(rh_flsz_025_path + 'sf_2018_rh_flsz_0p25.csv')

CPU times: total: 1min 14s
Wall time: 2min 21s

In [5]:
actloc_2018_baseline = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-base-20220409/activitysim/"
actloc_2018_transitFreq05 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_0.5-20220528/activitysim/"
actloc_2018_transitFreq1p5 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_1.5-20220529//activitysim/"
actloc_2018_transitFreq2 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-transit_frequencies_2.0-20220529//activitysim/"
actloc_2018_rhFleetsz0125 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.125-20220408/activitysim/"
actloc_2018_rhFleetsz175 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_1.75-20220408/activitysim/"
actloc_2018_rhFleetsz2p5 = "https://beam-outputs.s3.amazonaws.com/pilates-outputs/sfbay-RH_fleetsz_0.25-20220408/activitysim/"

households = pd.read_csv(actloc_2018_rhFleetsz2p5 + 'final_households.csv')
persons = pd.read_csv(actloc_2018_rhFleetsz2p5 + 'final_persons.csv')
tours = pd.read_csv(actloc_2018_rhFleetsz2p5 +'final_tours.csv')
plans = pd.read_csv(actloc_2018_rhFleetsz2p5 +'final_plans.csv')
trips = pd.read_csv(actloc_2018_rhFleetsz2p5 + 'final_trips.csv')

In [6]:
# PUMS data for Disability information
filename = "C:/Shared-Work/Data/Disability_PUMS/custom_mpo_06197001_model_data.h5"

with h5py.File(filename, "r") as f:
    # List all groups
    print("Keys: %s" % f.keys())
    a_group_key = list(f.keys())[0]

    # Get the data
    data = list(f[a_group_key])

Keys: <KeysViewHDF5 ['blocks', 'counties', 'ect', 'edges', 'hct', 'household_targets_acs', 'household_validation_acs', 'households', 'job_county_targets_BEA', 'job_county_validation_BEA', 'job_flows', 'job_targets', 'job_validation', 'jobs', 'nodes', 'persons', 'price_targets', 'price_validation', 'residential_units', 'travel_data', 'unit_county_targets_PEP', 'unit_county_validation_PEP', 'unit_targets', 'unit_validation', 'validation_ect', 'validation_hct', 'values']>

In [7]:
# PUMS data for Disability information
person_5_year_2010 = pd.read_csv('C:/Users/nazanin/Downloads/csv_pca/ss13pca.csv')
housing_unit_5_year_2010 = pd.read_csv('C:/Users/nazanin/Downloads/csv_hca/ss13hca.csv')

C:\Users\nazanin\AppData\Local\Temp\2\ipykernel_4544\1998398585.py:2: DtypeWarning: Columns (107,108,109) have mixed types. Specify dtype option on import or set low_memory=False.
  person_5_year_2010 = pd.read_csv('C:/Users/nazanin/Downloads/csv_pca/ss13pca.csv')

In [8]:
# Merge PUMS households and persons 
person_5_year_2010 = person_5_year_2010.sort_values(by=['SERIALNO']).reset_index()
housing_unit_5_year_2010 = housing_unit_5_year_2010.sort_values(by=['SERIALNO']).reset_index()
hhpersons_PUMS2010 = pd.merge(left=person_5_year_2010, right=housing_unit_5_year_2010, how='left', on='SERIALNO')

In [9]:
# Merge households and persons 
persons = persons.sort_values(by=['household_id']).reset_index(drop=True)
households = households.sort_values(by=['household_id']).reset_index(drop=True)
hhpersons = pd.merge(left=persons, right=households, how='left', on='household_id')
#hhpersons = pd.merge(left=persons, right=households, how='left', on='household_id', suffixes=('', '_drop'))
#hhpersons.drop([col for col in hhpersons.columns if 'drop' in col], axis=1, inplace=True)

In [10]:
# Merge Disability Columns
hhpersons_PUMS2010 = hhpersons_PUMS2010.sort_values(by=['SERIALNO', 'SPORDER']).reset_index(drop=True)
hhpersons = hhpersons.sort_values(by=['serialno', 'PNUM']).reset_index(drop=True)
hhpersonsDIS = pd.merge(hhpersons, hhpersons_PUMS2010[['SERIALNO', 'SPORDER', 'AGEP', 'SEX', 'DIS', 'HINCP', 'VEH', 'JWMNP', 'JWRIP', 'JWTR', 'RAC1P', 'RAC2P05']], how='left',left_on = ['serialno', 'PNUM'] , right_on=['SERIALNO', 'SPORDER'])

In [11]:
#hhpersons[hhpersons['serialno']==2009000000022]

In [12]:
# Merge tours, households and persons
tours = tours.sort_values(by=['person_id']).reset_index(drop=True)
hhpersonsDIS = hhpersonsDIS.sort_values(by=['person_id']).reset_index(drop=True)
hhperTours = pd.merge(left=tours, right=hhpersonsDIS, how='left', on='person_id')
#hhperTours = pd.merge(left=tours, right=hhpersons, how='left', on='person_id', suffixes=('', '_drop'))
#hhperTours.drop([col for col in hhperTours.columns if 'drop' in col], axis=1, inplace=True)

In [13]:
# Merge trips, tours, households and persons
trips = trips.sort_values(by=['person_id', 'tour_id']).reset_index(drop=True)
hhperTours = hhperTours.sort_values(by=['person_id','tour_id']).reset_index(drop=True)
tourTripsMerged = pd.merge(left=trips, right=hhperTours, how='left', on=['person_id','tour_id'])
#tourTripsMerged = pd.merge(left=trips, right=hhperTours, how='left', on=['person_id','tour_id'], suffixes=('', '_drop'))
#tourTripsMerged.drop([col for col in tourTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

In [27]:
# Merge trips, tours, households, and persons with land-use
#landuse = landuse.sort_values(by=['TAZ'])
#tourTripsMerged = tourTripsMerged.sort_values(by=['TAZ'])
#landuseTripsMerged = pd.merge(tourTripsMerged, landuse, how='left', left_on='TAZ', right_on='TAZ', suffixes=('', '_drop'))
#landuseTripsMerged.drop([col for col in landuseTripsMerged.columns if 'drop' in col], axis=1, inplace=True)

In [9]:
# Concat mode_choice_raw files
path = "C:/Users/nazanin/Downloads/trip_mode_choice_rh_flsz_p25/trip_mode_choice/"
all_files = glob.glob(path + "*raw.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_raw = pd.concat(li2, axis = 0, ignore_index=True)

In [14]:
# Concat mode_choice_utilities files
path = "C:/Users/nazanin/Downloads/trip_mode_choice_rh_flsz_p25/trip_mode_choice/"
all_files = glob.glob(path + "*utilities.csv")
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0), all_files)
li2 = list(li_mapper)
SFmode_choice_utilities = pd.concat(li2, axis = 0, ignore_index=True)

In [15]:
# Merge mode_choice_raw and utilities
SFmode_choice_raw = SFmode_choice_raw.sort_values(by=['trip_id'])
SFmode_choice_utilities = SFmode_choice_utilities.sort_values(by=['trip_id'])
rawUtil = pd.merge(left=SFmode_choice_raw, right=SFmode_choice_utilities, how='left', on='trip_id')

NameError: name 'SFmode_choice_raw' is not defined

In [16]:
%%time
# Merge trips, tours, households, persons, trip_mode_choice_raw, and utilities
tourTripsMerged = tourTripsMerged.sort_values(by=['trip_id'])
SFmode_choice_utilities = SFmode_choice_utilities.sort_values(by=['trip_id'])
SFActMerged= pd.merge(left=tourTripsMerged, right=SFmode_choice_utilities, how='left', on=['trip_id'])

CPU times: total: 10 s
Wall time: 10 s

In [17]:
SFActMerged.head()

,trip_id,person_id,household_id,tour_id,primary_purpose_x,trip_num,outbound,trip_count,purpose,destination_x,origin_x,destination_logsum_x,depart,trip_mode,mode_choice_logsum_x,tour_type,tour_type_count,tour_type_num,tour_num,tour_count,tour_category,number_of_participants,destination_y,origin_y,household_id_x,tdd,start,end,duration,composition,destination_logsum_y,tour_mode,mode_choice_logsum_y,atwork_subtour_frequency,parent_tour_id,stop_frequency,primary_purpose_y,earning,worker,student,hispanic.1,person_sex,PNUM,sex,household_id_y,hours,MAR,person_age,edu,school_zone_id,race_id,race,work_at_home,age,work_zone_id,p_hispanic,relate,hispanic,TAZ_x,ptype,pemploy,pstudent,home_x,home_y,age_16_to_19,age_16_p,adult,male,female,has_non_worker,has_retiree,has_preschool_kid,has_driving_kid,has_school_kid,has_full_time,has_part_time,has_university,student_is_employed,nonstudent_to_school,is_student,is_gradeschool,is_highschool,is_university,school_segment,is_worker,home_taz,value_of_time,school_taz,distance_to_school,roundtrip_auto_time_to_school,workplace_taz,workplace_location_logsum,distance_to_work,workplace_in_cbd,work_taz_area_type,roundtrip_auto_time_to_work,work_auto_savings,work_auto_savings_ratio,free_parking_at_work,cdap_activity,travel_active,under16_not_at_school,has_preschool_kid_at_home,has_school_kid_at_home,mandatory_tour_frequency,work_and_school_and_worker,work_and_school_and_student,num_mand,num_work_tours,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours,gt55,seniors,VEHICL,lcm_county_id,hh_children,block_id,gt2,hispanic_head,age_of_head,race_of_head,tenure_mover,hh_size,sf_detached,tenure,hh_cars,income,hh_age_of_head,serialno,num_workers,hh_race_of_head,hh_income,recent_mover,hh_workers,hispanic_status_of_head,hh_seniors,hhsize,hh_type,TAZ_y,HHT,sample_rate,chunk_id,income_in_thousands,income_segment,median_value_of_time,hh_value_of_time,num_non_workers,num_drivers,num_adults,num_children,num_young_children,num_children_5_to_15,num_children_16_to_17,num_college_age,num_young_adults,non_family,family,home_is_urban,home_is_rural,auto_ownership,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours,SERIALNO,SPORDER,AGEP,SEX,DIS,HINCP,VEH,JWMNP,JWRIP,JWTR,RAC1P,RAC2P05,DRIVEALONEFREE,DRIVEALONEPAY,SHARED2FREE,SHARED2PAY,SHARED3FREE,SHARED3PAY,WALK,BIKE,WALK_LOC,WALK_LRF,WALK_EXP,WALK_HVY,WALK_COM,DRIVE_LOC,DRIVE_LRF,DRIVE_EXP,DRIVE_HVY,DRIVE_COM,TAXI,TNC_SINGLE,TNC_SHARED
0,577,1,1735309,72,school,1,True,2,othmaint,595,641,5.940829,8.0,SHARED2FREE,-1.896507,school,1,1,1,1,mandatory,1,636.0,641.0,1735309,61.0,8.0,15.0,7.0,NaN,NaN,SHARED2PAY,-0.619711,NaN,NaN,1out_0in,school,0.0,0,1,0,male,3,1,1735309,0.0,5,19 and under,1.0,633,6,asian,0,3,-1,no,2,0,641,8,4,1,-121.80644,37.350304,False,False,False,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False,False,1,False,641,19.798008,636,1.826168,10.55,-1,NaN,NaN,False,NaN,0.0,0.00000,0.0,False,M,True,False,False,False,school1,False,False,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,2,6085,yes,60855035091006,1,no,35,6,own not recent,four or more,yes,1,two or more,240000.0,gt35-lt65,2010000482865,2.0,asian,gt150,0,two or more,0,no,4,3,641,4,0.097,60138,240.0,4,12.86,29.682171,2.0,2,2,2,2,0,0,0,1,True,False,False,False,2,1.774204,0,4,2,2,2,2,True,0_tours,0,2010000482865,3,3,1,2,240000.0,2.0,NaN,NaN,NaN,6,40,-999.025090,-999.025207,-2.765410,-2.765477,-1.796358,-1.796405,-1.962304,-999.712596,-1000.490635,-1998.779651,-1999.490635,-1998.779651,-1998.779651,-1998.976381,-2997.418679,-2998.052261,-2997.418679,-2997.418679,-8.970132,-9.314771,-7.866180
1,578,1,1735309,72,school,2,True,2,school,636,595,NaN,8.0,SHARED2FREE,-1.404211,school,1,1,1,1,mandatory,1,636.0,641.0,1735309,61.0,8.0,15.0,7.0,NaN,NaN,SHARED2PAY,-0.619711,NaN,NaN,1out_0in,school,0.0,0,1,0,male,3,1,1735309,0.0,5,19 and under,1.0,633,6,asian,0,3,-1,no,2,0,641,8,4,1,-121.80644,37.350304,False,False,False,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False,False,1,False,641,19.798008,636,1.826168,10.55,-1,NaN,NaN,False,NaN,0.0,0.00000,0.0,False,M,True,False,False,False,school1,False,False,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,2,6085,yes,60855035091006,1,no,35,6,own not recent,four or more,yes,1,two or more,240000.0,gt35-lt65,2010000482865,2.0,asian,gt150,0,two or more,0,no,4,3,641,4,0.097,60138,240.0,4,12.86,29.682171,2.0,2,2,2,2,0,0,0,1,True,False,False,False,2,1.774204,0,4,2,2,2,2,True,0_tours,0,2010000482865,3,3,1,2,240000.0,2.0,NaN,NaN,NaN,6,40,-999.203047,-999.203839,-2.943366,-2.943819,-1.974314,-1.974631,-1.962304,-999.712596,-1998.779651,-1998.779651,-1999.050651,-1998.779651,-1998.779651,-1999.528158,-2997.418679,-2998.777234,-2997.418679,-2997.418679,-9.202695,-9.493403,-8.148759
2,581,1,1735309,72,school,1,False,1,Home,641,636,NaN,15.0,SHARED2FREE,-1.957809,school,1,1,1,1,mandatory,1,636.0,641.0,1735309,61.0,8.0,15.0,7.0,NaN,NaN,SHARED2PAY,-0.619711,NaN,NaN,1out_0in,school,0.0,0,1,0,male,3,1,1735309,0.0,5,19 and under,1.0,633,6,asian,0,3,-1,no,2,0,641,8,4,1,-121.80644,37.350304,False,False,False,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False,False,1,False,641,19.798008,636,1.826168,10.55,-1,NaN,NaN,False,NaN,0.0,0.00000,0.0,False,M,True,False,False,False,school1,False,False,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,2,6085,yes,60855035091006,1,no,35,6,own not recent,four or more,yes,1,two or more,240000.0,gt35-lt65,2010000482865,2.0,asian,gt150,0,two or more,0,no,4,3,641,4,0.097,60138,240.0,4,12.86,29.682171,2.0,2,2,2,2,0,0,0,1,True,False,False,False,2,1.774204,0,4,2,2,2,2,True,0_tours,0,2010000482865,3,3,1,2,240000.0,2.0,NaN,NaN,NaN,6,40,-999.625953,-999.628262,-3.364372,-3.365691,-2.394559,-2.395482,-2.303144,-999.883016,-1000.424595,-1998.779651,-1999.424595,-1998.779651,-1998.779651,-2997.418679,-2997.418679,-2997.418679,-2997.418679,-2997.418679,-7.785297,-8.014763,-9.009922
3,689,2,1735309,86,atwork,1,True,1,atwork,712,702,NaN,12.0,DRIVEALONEFREE,-1.016547,eat,1,1,1,1,atwork,1,712.0,702.0,1735309,113.0,12.0,13.0,1.0,NaN,15.73328,DRIVEALONEFREE,-0.708279,NaN,121.0,0out_0in,atwork,77000.0,1,0,0,female,2,2,1735309,40.0,1,20 to 35,21.0,-1,6,asian,0,30,700,no,1,0,641,1,1,3,-121.80644,37.350304,False,True,True,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,0,True,641,29.682171,-1,NaN,0.00,702,13.755846,21.936514,False,4.0,61.1,816.36053,1.0,False,M,True,False,False,False,work1,False,False,1,1,0,0,0,0,0,0,0,0,0,0,0,0.0,2,6085,yes,60855035091006,1,no,35,6,own not recent,four or more,yes,1,two or more,240000.0,gt35-lt65,2010000482865,2.0,asian,gt150,0,two or more,0,no,4,3,641,4,0.097,60138,240.0,4,12.86,29.682171,2.0,2,2,2,2,0,0,0,1,True,False,False,False,2,1.774204,0,4,2,2,2,2,True,0_tours,0,2010000482865,2,30,2,2,240000.0,2.0,15.0,1.0,1.0,6,40,-1.675014,-1.679172,-1000.675014,-1000.677390,-1000.675014,-1000.676677,-23.034748,-2001.241534,-1998.140532,-1998.140532,-1998.140532,-1998.140532,-1998.140532,-1998.308616,-1998.308616,-1998.308616,-1998.308616,-1998.308616,-9.391344,-9.324311,-11.913700
4,693,2,1735309,86,atwork,1,False,1,Work,702,712,NaN,13.0,DRIVEALONEPAY,-0.391737,eat,1,1,1,1,atwork,1,712.0,702.0,1735309,113.0,12.0,13.0,1.0,NaN,15.73328,DRIVEALONEFREE,-0.708279,NaN,121.0,0out_0in,atwork,77000.0,1,0,0,female,2,2,1735309,40.0,1,20 to 35,21.0,-1,6,asian,0,30,700,no,1,0,641,1,1,3,-121.80644,37.350304,False,True,True,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,0,True,641,29.682171,-1,NaN,0.00,702,13.755846,21.936514,False,4.0,61.1,816.36053,1.0,False,M,True,False,False,False,work1,False,False,1,1,0,0,0,0,0,0,0,0,0,0,0,0.0,2,6085,yes,60855035091006,1,no,35,6,own not recent,four or more,yes,1,two or more,240000.0,gt35-lt65,2010000482865,2.0,asian,gt150,0,two or more,0,no,4,3,641,4,0.097,60138,240.0,4,12.86,29.682171,2.0,2,2,2,2,0,0,0,1,True,False,False,False,2,1.774204,0,4,2,2,2,2,True,0_tours,0,2010000482865,2,30,2,2,240000.0,2.0,15.0,1.0,1.0,6,40,-1.676054,-1.680212,-1000.675608,-1000.677984,-1000.675430,-1000.677093,-23.034748,-2001.241534,-1998.140532,-1998.140532,-1998.140532,-1998.140532,-1998.140532,-1998.308616,-1998.308616,-1998.308616,-1998.308616,-1998.308616,-9.391344,-9.324311,-11.913700

In [18]:
sf_rh_flsz_025.head()

,IDMerged,tripIndex,actEndTime,actEndType,actStartTime,actStartType,cost_BEAM,distance_bike,distance_privateCar,distance_ridehail,distance_transit,distance_walking,duration_in_privateCar,duration_in_ridehail,duration_in_transit,duration_on_bike,duration_walking,legVehicleIds_estimate,length_mode_choice,mode_choice_actual_BEAM,mode_choice_planned_BEAM,numPassengers,reason,replanning_status,ride_hail_pooled,transit_bus,transit_cable_car,transit_rail,transit_subway,transit_tram,travelDistance,travelTime,tripId,vehicleIds,door_to_door_time,waitTime,actPurpose,trip_id,person_id,household_id,tour_id,primary_purpose_x,trip_num,outbound,trip_count,purpose,destination_x,origin_x,destination_logsum_x,depart,trip_mode_AS_trips,logsum_trip_mode_AS_trips,tour_type,tour_type_count,tour_type_num,tour_num,tour_count,tour_category,number_of_participants,destination_y,origin_y,household_id_x,tdd,start,end,duration,composition,destination_logsum_y,tour_mode_AS_tours,logsum_tours_mode_AS_tours,atwork_subtour_frequency,parent_tour_id,stop_frequency,primary_purpose_y,earning,worker,student,hispanic.1,person_sex,PNUM,sex,household_id_y,hours,MAR,person_age,edu,school_zone_id,race_id,race,work_at_home,age,work_zone_id,p_hispanic,relate,hispanic,TAZ_x,ptype,pemploy,pstudent,home_x,home_y,age_16_to_19,age_16_p,adult,male,female,has_non_worker,has_retiree,has_preschool_kid,has_driving_kid,has_school_kid,has_full_time,has_part_time,has_university,student_is_employed,nonstudent_to_school,is_student,is_gradeschool,is_highschool,is_university,school_segment,is_worker,home_taz,value_of_time,school_taz,distance_to_school,roundtrip_auto_time_to_school,workplace_taz,workplace_location_logsum,distance_to_work,workplace_in_cbd,work_taz_area_type,roundtrip_auto_time_to_work,work_auto_savings,work_auto_savings_ratio,free_parking_at_work,cdap_activity,travel_active,under16_not_at_school,has_preschool_kid_at_home,has_school_kid_at_home,mandatory_tour_frequency,work_and_school_and_worker,work_and_school_and_student,num_mand,num_work_tours,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours,gt55,seniors,VEHICL,lcm_county_id,hh_children,block_id,gt2,hispanic_head,age_of_head,race_of_head,tenure_mover,hh_size,sf_detached,tenure,hh_cars,income,hh_age_of_head,serialno,num_workers,hh_race_of_head,hh_income,recent_mover,hh_workers,hispanic_status_of_head,hh_seniors,hhsize,hh_type,TAZ_y,HHT,sample_rate,chunk_id,income_in_thousands,income_segment,median_value_of_time,hh_value_of_time,num_non_workers,num_drivers,num_adults,num_children,num_young_children,num_children_5_to_15,num_children_16_to_17,num_college_age,num_young_adults,non_family,family,home_is_urban,home_is_rural,auto_ownership,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours
0,1,1.0,29073.0,Home,30450.0,othmaint,0.000000,0.0,16246.598,0.0,0.0,0.000,1377.0,0.0,0.0,0.0,0.0,"body-1,teleportationSharedVehicle-1-1,body-1",16246.598,hov3_teleportation,hov3_teleportation,NaN,NaN,0,0,0,0,0,0,0,16246.598,1377.0,577.0,NaN,1377.0,0.0,Home_to_othmaint,577.0,1.0,1735309.0,72.0,school,1.0,True,2.0,othmaint,595.0,641.0,5.940829,8.0,SHARED2FREE,-1.896507,school,1.0,1.0,1.0,1.0,mandatory,1.0,636.0,641.0,1735309.0,61.0,8.0,15.0,7.0,NaN,NaN,SHARED2PAY,-0.619711,NaN,NaN,1out_0in,school,0.0,0.0,1.0,0.0,male,3.0,1.0,1735309.0,0.0,5.0,19 and under,1.0,633.0,6.0,asian,0.0,3.0,-1.0,no,2.0,0.0,641.0,8.0,4.0,1.0,-121.80644,37.350304,False,False,False,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False,False,1.0,False,641.0,19.798008,636.0,1.826168,10.55,-1.0,NaN,NaN,False,NaN,0.0,0.00000,0.0,False,M,True,False,False,False,school1,False,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6085.0,yes,6.085504e+13,1.0,no,35.0,6.0,own not recent,four or more,yes,1.0,two or more,240000.0,gt35-lt65,2.010000e+12,2.0,asian,gt150,0.0,two or more,0.0,no,4.0,3.0,641.0,4.0,0.097,60138.0,240.0,4.0,12.86,29.682171,2.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,True,False,False,False,2.0,1.774204,0.0,4.0,2.0,2.0,2.0,2.0,True,0_tours,0.0
1,1,2.0,31179.0,othmaint,32131.0,school,0.000000,0.0,11389.821,0.0,0.0,0.000,952.0,0.0,0.0,0.0,0.0,"body-1,teleportationSharedVehicle-2-1,body-1",11389.821,hov3_teleportation,hov3_teleportation,NaN,NaN,0,0,0,0,0,0,0,11389.821,952.0,578.0,NaN,952.0,0.0,othmaint_to_school,578.0,1.0,1735309.0,72.0,school,2.0,True,2.0,school,636.0,595.0,NaN,8.0,SHARED2FREE,-1.404211,school,1.0,1.0,1.0,1.0,mandatory,1.0,636.0,641.0,1735309.0,61.0,8.0,15.0,7.0,NaN,NaN,SHARED2PAY,-0.619711,NaN,NaN,1out_0in,school,0.0,0.0,1.0,0.0,male,3.0,1.0,1735309.0,0.0,5.0,19 and under,1.0,633.0,6.0,asian,0.0,3.0,-1.0,no,2.0,0.0,641.0,8.0,4.0,1.0,-121.80644,37.350304,False,False,False,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False,False,1.0,False,641.0,19.798008,636.0,1.826168,10.55,-1.0,NaN,NaN,False,NaN,0.0,0.00000,0.0,False,M,True,False,False,False,school1,False,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6085.0,yes,6.085504e+13,1.0,no,35.0,6.0,own not recent,four or more,yes,1.0,two or more,240000.0,gt35-lt65,2.010000e+12,2.0,asian,gt150,0.0,two or more,0.0,no,4.0,3.0,641.0,4.0,0.097,60138.0,240.0,4.0,12.86,29.682171,2.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,True,False,False,False,2.0,1.774204,0.0,4.0,2.0,2.0,2.0,2.0,True,0_tours,0.0
2,1,3.0,52063.0,school,52669.0,Home,0.000000,0.0,6673.648,0.0,0.0,0.000,606.0,0.0,0.0,0.0,0.0,"body-1,teleportationSharedVehicle-3-1,body-1",6673.648,hov3_teleportation,hov3_teleportation,NaN,NaN,0,0,0,0,0,0,0,6673.648,606.0,581.0,NaN,606.0,0.0,school_to_Home,581.0,1.0,1735309.0,72.0,school,1.0,False,1.0,Home,641.0,636.0,NaN,15.0,SHARED2FREE,-1.957809,school,1.0,1.0,1.0,1.0,mandatory,1.0,636.0,641.0,1735309.0,61.0,8.0,15.0,7.0,NaN,NaN,SHARED2PAY,-0.619711,NaN,NaN,1out_0in,school,0.0,0.0,1.0,0.0,male,3.0,1.0,1735309.0,0.0,5.0,19 and under,1.0,633.0,6.0,asian,0.0,3.0,-1.0,no,2.0,0.0,641.0,8.0,4.0,1.0,-121.80644,37.350304,False,False,False,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False,False,1.0,False,641.0,19.798008,636.0,1.826168,10.55,-1.0,NaN,NaN,False,NaN,0.0,0.00000,0.0,False,M,True,False,False,False,school1,False,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6085.0,yes,6.085504e+13,1.0,no,35.0,6.0,own not recent,four or more,yes,1.0,two or more,240000.0,gt35-lt65,2.010000e+12,2.0,asian,gt150,0.0,two or more,0.0,no,4.0,3.0,641.0,4.0,0.097,60138.0,240.0,4.0,12.86,29.682171,2.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,True,False,False,False,2.0,1.774204,0.0,4.0,2.0,2.0,2.0,2.0,True,0_tours,0.0
3,2,2.0,46018.0,work,47669.0,atwork,3.032963,0.0,27652.989,0.0,0.0,786.423,1046.0,0.0,0.0,0.0,605.0,"body-2,539168,539168,body-2",28439.412,car,car,"1.0, 0.0, 0.0, 1.0",NaN,0,0,0,0,0,0,0,28439.412,1651.0,689.0,"539168, body-2",1651.0,0.0,work_to_atwork,689.0,2.0,1735309.0,86.0,atwork,1.0,True,1.0,atwork,712.0,702.0,NaN,12.0,DRIVEALONEFREE,-1.016547,eat,1.0,1.0,1.0,1.0,atwork,1.0,712.0,702.0,1735309.0,113.0,12.0,13.0,1.0,NaN,15.73328,DRIVEALONEFREE,-0.708279,NaN,121.0,0out_0in,atwork,77000.0,1.0,0.0,0.0,female,2.0,2.0,1735309.0,40.0,1.0,20 to 35,21.0,-1.0,6.0,asian,0.0,30.0,700.0,no,1.0,0.0,641.0,1.0,1.0,3.0,-121.80644,37.350304,False,True,True,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,0.0,True,641.0,29.682171,-1.0,NaN,0.00,702.0,13.755846,21.936514,False,4.0,61.1,816.36053,1.0,False,M,True,False,False,False,work1,False,False,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6085.0,yes,6.085504e+13,1.0,no,35.0,6.0,own not recent,four or more,yes,1.0,two or more,240000.0,gt35-lt65,2.010000e+12,2.0,asian,gt150,0.0,two or more,0.0,no,4.0,3.0,641.0,4.0,0.097,60138.0,240.0,4.0,12.86,29.682171,2.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,True,False,False,False,2.0,1.774204,0.0,4.0,2.0,2.0,2.0,2.0,True,0_tours,0.0
4,2,3.0,49759.0,atwork,50181.0,work,0.692088,0.0,6310.096,0.0,0.0,103.865,342.0,0.0,0.0,0.0,80.0,"body-2,539168,539168,body-2",6413.961,car,car,"1.0, 0.0, 0.0, 1.0",NaN,0,0,0,0,0,0,0,6413.961,422.0,693.0,"539168, body-2",422.0,0.0,atwork_to_work,693.0,2.0,1735309.0,86.0,atwork,1.0,False,1.0,Work,702.0,712.0,NaN,13.0,DRIVEALONEPAY,-0.391737,eat,1.0,1.0,1.0,1.0,atwork,1.0,712.0,702.0,1735309.0,113.0,12.0,13.0,1.0,NaN,15.73328,DRIVEALONEFREE,-0.708279,NaN,121.0,0out_0in,atwork,77000.0,1.0,0.0,0.0,female,2.0,2.0,1735309.0,40.0,1.0,20 to 35,21.0,-1.0,6.0,asian,0.0,30.0,700.0,no,1.0,0.0,641.0,1.0,1.0,3.0,-121.80644,37.350304,False,True,True,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,0.0,True,641.0,29.682171,-1.0,NaN,0.00,702.0,13.755846,21.936514,False,4.0,61.1,816.36053,1.0,False,M,True,False,False,False,work1,False,False,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6085.0,yes,6.085504e+13,1.0,no,35.0,6.0,own not recent,four or more,yes,1.0,two or more,240000.0,gt35-lt65,2.010000e+12,2.0,asian,gt150,0.0,two or more,0.0,no,4.0,3.0,641.0,4.0,0.097,60138.0,240.0,4.0,12.86,29.682171,2.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,True,False,False,False,2.0,1.774204,0.0,4.0,2.0,2.0,2.0,2.0,True,0_tours,0.0

In [19]:
# Merge person_trip level BEAM with activity sim merged files
SFActMerged = SFActMerged.sort_values(by=['person_id', 'trip_id']).reset_index(drop=True)
sf_rh_flsz_025 = sf_rh_flsz_025.sort_values(by=['IDMerged','tripIndex']).reset_index(drop=True)
eventsASim = pd.merge(left=sf_rh_flsz_025, right=SFActMerged, how='left', left_on=["IDMerged", 'tripIndex'], right_on=['person_id', 'trip_id'])
#eventsASim = pd.merge(left=Person_Trip_eventsSF, right=tourTripsMerged, how='left',left_on = ["IDMerged", 'tripId'] , right_on=['person_id', 'trip_id'], suffixes=('', '_drop'))
#eventsASim.drop([col for col in eventsASim.columns if 'drop' in col], axis=1, inplace=True)

In [20]:
eventsASim.rename(columns={"mode_choice_logsum_y":"logsum_tours_mode_AS_tours"}, inplace=True)

In [21]:
eventsASim.rename(columns={"tour_mode":"tour_mode_AS_tours"}, inplace=True)

In [22]:
eventsASim.rename(columns={"mode_choice_logsum_x":"logsum_trip_mode_AS_trips"}, inplace=True)

In [23]:
eventsASim.rename(columns={"trip_mode":"trip_mode_AS_trips"}, inplace=True)

In [25]:
eventsASim.dtypes

IDMerged                                  int64
tripIndex                               float64
actEndTime                              float64
actEndType                               object
actStartTime                            float64
actStartType                             object
cost_BEAM                               float64
distance_bike                           float64
distance_privateCar                     float64
distance_ridehail                       float64
distance_transit                        float64
distance_walking                        float64
duration_in_privateCar                  float64
duration_in_ridehail                    float64
duration_in_transit                     float64
duration_on_bike                        float64
duration_walking                        float64
legVehicleIds_estimate                   object
length_mode_choice                      float64
mode_choice_actual_BEAM                  object
mode_choice_planned_BEAM                 object
numPassengers                            object
reason                                   object
replanning_status                         int64
ride_hail_pooled                          int64
transit_bus                               int64
transit_cable_car                         int64
transit_rail                              int64
transit_subway                            int64
transit_tram                              int64
travelDistance                          float64
travelTime                              float64
tripId                                  float64
vehicleIds                               object
door_to_door_time                       float64
waitTime                                float64
actPurpose                               object
trip_id_x                               float64
person_id_x                             float64
household_id_x                          float64
tour_id_x                               float64
primary_purpose_x_x                      object
trip_num_x                              float64
outbound_x                               object
trip_count_x                            float64
purpose_x                                object
destination_x_x                         float64
origin_x_x                              float64
destination_logsum_x_x                  float64
depart_x                                float64
trip_mode_AS_trips                       object
logsum_trip_mode_AS_trips               float64
tour_type_x                              object
tour_type_count_x                       float64
tour_type_num_x                         float64
tour_num_x                              float64
tour_count_x                            float64
tour_category_x                          object
number_of_participants_x                float64
destination_y_x                         float64
origin_y_x                              float64
household_id_x_x                        float64
tdd_x                                   float64
start_x                                 float64
end_x                                   float64
duration_x                              float64
composition_x                            object
destination_logsum_y_x                  float64
tour_mode_AS_tours                       object
logsum_tours_mode_AS_tours              float64
atwork_subtour_frequency_x               object
parent_tour_id_x                        float64
stop_frequency_x                         object
primary_purpose_y_x                      object
earning_x                               float64
worker_x                                float64
student_x                               float64
hispanic.1_x                            float64
person_sex_x                             object
PNUM_x                                  float64
sex_x                                   float64
household_id_y_x                        float64
hours_x                                 float64
MAR_x                                   float64
person_age_x                             object
edu_x                                   float64
school_zone_id_x                        float64
race_id_x                               float64
race_x                                   object
work_at_home_x                          float64
age_x                                   float64
work_zone_id_x                          float64
p_hispanic_x                             object
relate_x                                float64
hispanic_x                              float64
TAZ_x_x                                 float64
ptype_x                                 float64
pemploy_x                               float64
pstudent_x                              float64
home_x_x                                float64
home_y_x                                float64
age_16_to_19_x                           object
age_16_p_x                               object
adult_x                                  object
male_x                                   object
female_x                                 object
has_non_worker_x                         object
has_retiree_x                            object
has_preschool_kid_x                      object
has_driving_kid_x                        object
has_school_kid_x                         object
has_full_time_x                          object
has_part_time_x                          object
has_university_x                         object
student_is_employed_x                    object
nonstudent_to_school_x                   object
is_student_x                             object
is_gradeschool_x                         object
is_highschool_x                          object
is_university_x                          object
school_segment_x                        float64
is_worker_x                              object
home_taz_x                              float64
value_of_time_x                         float64
school_taz_x                            float64
distance_to_school_x                    float64
roundtrip_auto_time_to_school_x         float64
workplace_taz_x                         float64
workplace_location_logsum_x             float64
distance_to_work_x                      float64
workplace_in_cbd_x                       object
work_taz_area_type_x                    float64
roundtrip_auto_time_to_work_x           float64
work_auto_savings_x                     float64
work_auto_savings_ratio_x               float64
free_parking_at_work_x                   object
cdap_activity_x                          object
travel_active_x                          object
under16_not_at_school_x                  object
has_preschool_kid_at_home_x              object
has_school_kid_at_home_x                 object
mandatory_tour_frequency_x               object
work_and_school_and_worker_x             object
work_and_school_and_student_x            object
num_mand_x                              float64
num_work_tours_x                        float64
num_joint_tours_x                       float64
non_mandatory_tour_frequency_x          float64
num_non_mand_x                          float64
num_escort_tours_x                      float64
num_eatout_tours_x                      float64
num_shop_tours_x                        float64
num_maint_tours_x                       float64
num_discr_tours_x                       float64
num_social_tours_x                      float64
num_non_escort_tours_x                  float64
gt55_x                                  float64
seniors_x                               float64
VEHICL_x                                float64
lcm_county_id_x                         float64
hh_children_x                            object
block_id_x                              float64
gt2_x                                   float64
hispanic_head_x                          object
age_of_head_x                           float64
race_of_head_x                          float64
tenure_mover_x                           object
hh_size_x                                object
sf_detached_x                            object
tenure_x                                float64
hh_cars_x                                object
income_x                                float64
hh_age_of_head_x                         object
serialno_x                              float64
num_workers_x                           float64
hh_race_of_head_x                        object
hh_income_x                              object
recent_mover_x                          float64
hh_workers_x                             object
hispanic_status_of_head_x               float64
hh_seniors_x                             object
hhsize_x                                float64
hh_type_x                               float64
TAZ_y_x                                 float64
HHT_x                                   float64
sample_rate_x                           float64
chunk_id_x                              float64
income_in_thousands_x                   float64
income_segment_x                        float64
median_value_of_time_x                  float64
hh_value_of_time_x                      float64
num_non_workers_x                       float64
num_drivers_x                           float64
num_adults_x                            float64
num_children_x                          float64
num_young_children_x                    float64
num_children_5_to_15_x                  float64
num_children_16_to_17_x                 float64
num_college_age_x                       float64
num_young_adults_x                      float64
non_family_x                             object
family_x                                 object
home_is_urban_x                          object
home_is_rural_x                          object
auto_ownership_x                        float64
hh_work_auto_savings_ratio_x            float64
num_under16_not_at_school_x             float64
num_travel_active_x                     float64
num_travel_active_adults_x              float64
num_travel_active_preschoolers_x        float64
num_travel_active_children_x            float64
num_travel_active_non_preschoolers_x    float64
participates_in_jtf_model_x              object
joint_tour_frequency_x                   object
num_hh_joint_tours_x                    float64
trip_id_y                               float64
person_id_y                             float64
household_id_y                          float64
tour_id_y                               float64
primary_purpose_x_y                      object
trip_num_y                              float64
outbound_y                               object
trip_count_y                            float64
purpose_y                                object
destination_x_y                         float64
origin_x_y                              float64
destination_logsum_x_y                  float64
depart_y                                float64
trip_mode_AS_trips                       object
logsum_trip_mode_AS_trips               float64
tour_type_y                              object
tour_type_count_y                       float64
tour_type_num_y                         float64
tour_num_y                              float64
tour_count_y                            float64
tour_category_y                          object
number_of_participants_y                float64
destination_y_y                         float64
origin_y_y                              float64
household_id_x_y                        float64
tdd_y                                   float64
start_y                                 float64
end_y                                   float64
duration_y                              float64
composition_y                            object
destination_logsum_y_y                  float64
tour_mode_AS_tours                       object
logsum_tours_mode_AS_tours              float64
atwork_subtour_frequency_y               object
parent_tour_id_y                        float64
stop_frequency_y                         object
primary_purpose_y_y                      object
earning_y                               float64
worker_y                                float64
student_y                               float64
hispanic.1_y                            float64
person_sex_y                             object
PNUM_y                                  float64
sex_y                                   float64
household_id_y_y                        float64
hours_y                                 float64
MAR_y                                   float64
person_age_y                             object
edu_y                                   float64
school_zone_id_y                        float64
race_id_y                               float64
race_y                                   object
work_at_home_y                          float64
age_y                                   float64
work_zone_id_y                          float64
p_hispanic_y                             object
relate_y                                float64
hispanic_y                              float64
TAZ_x_y                                 float64
ptype_y                                 float64
pemploy_y                               float64
pstudent_y                              float64
home_x_y                                float64
home_y_y                                float64
age_16_to_19_y                           object
age_16_p_y                               object
adult_y                                  object
male_y                                   object
female_y                                 object
has_non_worker_y                         object
has_retiree_y                            object
has_preschool_kid_y                      object
has_driving_kid_y                        object
has_school_kid_y                         object
has_full_time_y                          object
has_part_time_y                          object
has_university_y                         object
student_is_employed_y                    object
nonstudent_to_school_y                   object
is_student_y                             object
is_gradeschool_y                         object
is_highschool_y                          object
is_university_y                          object
school_segment_y                        float64
is_worker_y                              object
home_taz_y                              float64
value_of_time_y                         float64
school_taz_y                            float64
distance_to_school_y                    float64
roundtrip_auto_time_to_school_y         float64
workplace_taz_y                         float64
workplace_location_logsum_y             float64
distance_to_work_y                      float64
workplace_in_cbd_y                       object
work_taz_area_type_y                    float64
roundtrip_auto_time_to_work_y           float64
work_auto_savings_y                     float64
work_auto_savings_ratio_y               float64
free_parking_at_work_y                   object
cdap_activity_y                          object
travel_active_y                          object
under16_not_at_school_y                  object
has_preschool_kid_at_home_y              object
has_school_kid_at_home_y                 object
mandatory_tour_frequency_y               object
work_and_school_and_worker_y             object
work_and_school_and_student_y            object
num_mand_y                              float64
num_work_tours_y                        float64
num_joint_tours_y                       float64
non_mandatory_tour_frequency_y          float64
num_non_mand_y                          float64
num_escort_tours_y                      float64
num_eatout_tours_y                      float64
num_shop_tours_y                        float64
num_maint_tours_y                       float64
num_discr_tours_y                       float64
num_social_tours_y                      float64
num_non_escort_tours_y                  float64
gt55_y                                  float64
seniors_y                               float64
VEHICL_y                                float64
lcm_county_id_y                         float64
hh_children_y                            object
block_id_y                              float64
gt2_y                                   float64
hispanic_head_y                          object
age_of_head_y                           float64
race_of_head_y                          float64
tenure_mover_y                           object
hh_size_y                                object
sf_detached_y                            object
tenure_y                                float64
hh_cars_y                                object
income_y                                float64
hh_age_of_head_y                         object
serialno_y                              float64
num_workers_y                           float64
hh_race_of_head_y                        object
hh_income_y                              object
recent_mover_y                          float64
hh_workers_y                             object
hispanic_status_of_head_y               float64
hh_seniors_y                             object
hhsize_y                                float64
hh_type_y                               float64
TAZ_y_y                                 float64
HHT_y                                   float64
sample_rate_y                           float64
chunk_id_y                              float64
income_in_thousands_y                   float64
income_segment_y                        float64
median_value_of_time_y                  float64
hh_value_of_time_y                      float64
num_non_workers_y                       float64
num_drivers_y                           float64
num_adults_y                            float64
num_children_y                          float64
num_young_children_y                    float64
num_children_5_to_15_y                  float64
num_children_16_to_17_y                 float64
num_college_age_y                       float64
num_young_adults_y                      float64
non_family_y                             object
family_y                                 object
home_is_urban_y                          object
home_is_rural_y                          object
auto_ownership_y                        float64
hh_work_auto_savings_ratio_y            float64
num_under16_not_at_school_y             float64
num_travel_active_y                     float64
num_travel_active_adults_y              float64
num_travel_active_preschoolers_y        float64
num_travel_active_children_y            float64
num_travel_active_non_preschoolers_y    float64
participates_in_jtf_model_y              object
joint_tour_frequency_y                   object
num_hh_joint_tours_y                    float64
SERIALNO                                float64
SPORDER                                 float64
AGEP                                    float64
SEX                                     float64
DIS                                     float64
HINCP                                   float64
VEH                                     float64
JWMNP                                   float64
JWRIP                                   float64
JWTR                                    float64
RAC1P                                   float64
RAC2P05                                 float64
DRIVEALONEFREE                          float64
DRIVEALONEPAY                           float64
SHARED2FREE                             float64
SHARED2PAY                              float64
SHARED3FREE                             float64
SHARED3PAY                              float64
WALK                                    float64
BIKE                                    float64
WALK_LOC                                float64
WALK_LRF                                float64
WALK_EXP                                float64

In [17]:
%%time
eventsASim.to_csv('s3://beam-core-act/deepDive/CleanData/SanFrancisco/RideHail_FleetSize//sf_2018_rh_flsz_0p25_utilities.csv', index=False)

CPU times: total: 6min 14s
Wall time: 7min 30s

In [128]:
eventsASim.head(10000).to_csv('C:/Shared-Work/Data/CleanData/final_tr_fr_1p5_test.csv', index = False)

In [136]:
#eventsASim.to_csv('C:/Shared-Work/Data/CleanData/ASIM_BEAM_Merged/sf_2018_tr_fr_0p5.csv', index = False)

In [ ]:
# eventsASim.duration_in_privateCar.sum()

In [141]:
eventsASim.head(50000).to_csv('C:/Shared-Work/Data/CleanData/ASIM_BEAM_Merged/sf_2018_base_test.csv', index = False)

In [ ]:
#import matplotlib.pyplot as plt
#import seaborn as sns

#plt.figure(figsize=(13, 6))
#sns.heatmap(households, vmax=1, annot=True, linewidths=.5)
#plt.xticks(rotation=30, horizontalalignment='right')
#plt.show()

In [ ]:
#import missingno as msno
#%matplotlib inline
#msno.bar(SFbaseline2018)
#msno.heatmap(persons)

In [ ]:
#from io import StringIO # python3; python2: BytesIO 
#import boto
#import boto3
#
#conn = boto.s3.connect_to_region('us-east-2')
#bucket = conn.get_bucket('beam-core-act')
#csv_buffer = StringIO()
#eventsASim.to_csv(csv_buffer)
#s3_resource = boto3.resource('s3')
#s3_resource.Object(bucket, 'eventsASim.csv').put(Body=csv_buffer.getvalue())