In [1]:
import os
import os.path as op
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
%matplotlib inline
import seaborn as sns
sns.set_theme(style="darkgrid", color_codes=True)
sns.set(font_scale=1.35, style="ticks") #set styling preferences
import statsmodels.api as sm
from scipy import stats
import math
from math import pi
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
from scipy.spatial.distance import cdist
from scipy.cluster.vq import kmeans2,vq, whiten
import geopandas as gpd
import h5py
import boto.s3
import glob
import boto3
from zipfile import ZipFile
import shutil

In [2]:
# Show all columns and rows
pd.options.display.max_columns = None
pd.options.display.max_rows = None

#### Baseline

In [3]:
%%time
s3 = boto3.client("s3")
key = "pilates-outputs/sfbay-baseline-2022124/inexus/sfbay_baseline_default-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sfbase = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:4: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 1min 38s
Wall time: 1min 39s

In [4]:
# Adding scenario info
sfbase['scenario'] = "baseline"
sfbase['scenario'] = sfbase['scenario'].astype("category")
sfbase['lever'] = "default"
sfbase['lever'] = sfbase['lever'].astype("category")
sfbase['year'] = 2020
sfbase['lever_position'] = 1

In [5]:
sfbase[sfbase['person_sex'].isna()].shape

(19191, 273)

In [6]:
#baseline2018 = "https://beam-core-act.s3.amazonaws.com/beam-outputs/pilates-outputs/sfbay-baseline-20221220/inexus"
#sfbase = pd.read_csv(baseline2018 + 'sfbay_baseline_default-1.0_2012__20221219.csv.gz')

In [5]:
# Showing the entire number in dataframe
pd.set_option('float_format', '{:f}'.format)

In [8]:
#describe = sfbase.describe()

In [9]:
#describe.to_csv('C:/Shared-Work/Data/CleanData/ASIM_BEAM_Merged/describe.csv')

#### Ridehail Price Scenarios

In [10]:
%%time
key = "pilates-outputs/sfbay-rh-price-0.000-20221224/inexus/sfbay_rh_price_0_000_rh_price-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_0 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 1min 44s
Wall time: 1min 44s

In [11]:
sf_rh_price_0p125[sf_rh_price_0p125['trip_mode_AS_trips'].isna()].shape

NameError: name 'sf_rh_price_0p125' is not defined

In [12]:
# Adding scenario info
sf_rh_price_0['scenario'] = "ridehail"
sf_rh_price_0['scenario'] = sf_rh_price_0['scenario'].astype("category")
sf_rh_price_0['lever'] = "price"
sf_rh_price_0['lever'] = sf_rh_price_0['lever'].astype("category")
sf_rh_price_0['year'] = 2020
sf_rh_price_0['lever_position'] = 0

In [13]:
%%time
key = "pilates-outputs/sfbay-rh-price-0.125-20221224/inexus/sfbay_rh_price_0_125_rh_price-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_0p125 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 1min 54s
Wall time: 1min 55s

In [14]:
# Adding scenario info
sf_rh_price_0p125['scenario'] = "ridehail"
sf_rh_price_0p125['scenario'] = sf_rh_price_0p125['scenario'].astype("category")
sf_rh_price_0p125['lever'] = "price"
sf_rh_price_0p125['lever'] = sf_rh_price_0p125['lever'].astype("category")
sf_rh_price_0p125['year'] = 2020
sf_rh_price_0p125['lever_position'] = 0.125

In [6]:
%%time
key = "pilates-outputs/sfbay-rh-price-0.250-20221224/inexus/sfbay_rh_price_0_250_rh_price-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_0p25 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 1min 49s
Wall time: 1min 49s

In [8]:
sfbase[sfbase['IDMerged'] == 2553015]

,IDMerged,tripIndex,actStartTime,actEndTime,duration_travelling,cost_BEAM,actStartType,actEndType,duration_walking,duration_in_privateCar,duration_on_bike,duration_in_ridehail,distance_travelling,duration_in_transit,distance_walking,distance_bike,distance_ridehail,distance_privateCar,distance_transit,vehicleIds_estimate,mode_choice_planned_BEAM,mode_choice_actual_BEAM,vehicleIds,numPassengers,distance_mode_choice,replanning_status,reason,parkingType,transit_bus,transit_subway,transit_tram,transit_cable_car,ride_hail_pooled,transit_rail,fuelFood,fuelElectricity,fuelBiodiesel,fuelDiesel,fuel_not_Food,fuelGasoline,fuel_marginal,BlockGroupStart,startX,startY,bgid_start,tractid_start,juris_name_start,county_name_start,mpo_start,BlockGroupEnd,endX,endY,bgid_end,tractid_end,juris_name_end,county_name_end,mpo_end,emissionFood,emissionElectricity,emissionDiesel,emissionGasoline,emissionBiodiesel,emission_marginal,duration_door_to_door,waitTime_no_replanning,waitTime_replanning,actPurpose,mode_choice_actual_5,mode_choice_actual_6,mode_choice_actual_4,trip_id,person_id,household_id,tour_id,primary_purpose_x,trip_num,outbound,trip_count,purpose,destination_x,origin_x,destination_logsum_x,depart,trip_mode_AS_trips,logsum_trip_Potential_INEXUS,tour_type,tour_type_count,tour_type_num,tour_num,tour_count,tour_category,number_of_participants,destination_y,origin_y,household_id_x,tdd,start,end,duration,composition,destination_logsum_y,tour_mode_AS_tours,logsum_tours_mode_AS_tours,atwork_subtour_frequency,parent_tour_id,stop_frequency,primary_purpose_y,age,earning,edu,hispanic,hours,PNUM,race_id,relate,sex,student,work_at_home,worker,household_id_y,person_age,person_sex,race,hispanic.1,p_hispanic,MAR,TAZ_x,ptype,pemploy,pstudent,home_x,home_y,age_16_to_19,age_16_p,adult,male,female,has_non_worker,has_retiree,has_preschool_kid,has_driving_kid,has_school_kid,has_full_time,has_part_time,has_university,student_is_employed,nonstudent_to_school,is_student,is_gradeschool,is_highschool,is_university,school_segment,is_worker,home_taz,value_of_time,school_taz,distance_to_school,roundtrip_auto_time_to_school,workplace_taz,workplace_location_logsum,distance_to_work,workplace_in_cbd,work_taz_area_type,roundtrip_auto_time_to_work,work_auto_savings,work_auto_savings_ratio,free_parking_at_work,cdap_activity,travel_active,under16_not_at_school,has_preschool_kid_at_home,has_school_kid_at_home,mandatory_tour_frequency,work_and_school_and_worker,work_and_school_and_student,num_mand,num_work_tours,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours,serialno,VEHICL,income,race_of_head,age_of_head,num_workers,hispanic_status_of_head,tenure,recent_mover,sf_detached,hh_age_of_head,hh_race_of_head,hispanic_head,hh_size,hh_cars,hh_children,seniors,hh_income,hh_workers,tenure_mover,hh_seniors,block_id,lcm_county_id,hhsize,gt55,gt2,hh_type,TAZ_y,HHT,sample_rate,chunk_id,income_in_thousands,income_segment,median_value_of_time,hh_value_of_time,num_non_workers,num_drivers,num_adults,num_children,num_young_children,num_children_5_to_15,num_children_16_to_17,num_college_age,num_young_adults,non_family,family,home_is_urban,home_is_rural,auto_ownership,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours,DRIVEALONEFREE,DRIVEALONEPAY,SHARED2FREE,SHARED2PAY,SHARED3FREE,SHARED3PAY,WALK,BIKE,WALK_LOC,WALK_LRF,WALK_EXP,WALK_HVY,WALK_COM,DRIVE_LOC,DRIVE_LRF,DRIVE_EXP,DRIVE_HVY,DRIVE_COM,TAXI,TNC_SINGLE,TNC_SHARED,income_quartiles,income_deciles,scenario,lever,year,lever_position
928500,2553015,837388993,49108.000000,48963.000000,145.000000,0.049425,escort,Home,0.000000,145.000000,0.000000,0.000000,1900.963000,0.000000,0.000000,0.000000,0.000000,1900.963000,0.000000,"body-2553015,2553015-emergency-0,2553015-emerg...",car,car,"2553015-emergency-0, body-2553015","1.0, 0.0, 0.0, 1.0",1900.963000,0,NaN,"Public, Public",0,0,0,0,0,0,0.000000,0.000000,0.000000,2376889.273809,2376889.273809,0.000000,2376889.273809,60411160001.000000,-122.574277,37.981220,60411160001.000000,6041116000.000000,San Anselmo,Marin County,San Francisco Bay Area (MTC),60411141003.000000,-122.592277,37.988444,60411141003.000000,6041114100.000000,Fairfax,Marin County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000201,0.000000,0.000000,0.000000,145.000000,0.000000,0.000000,Home_to_escort,car,car,car,837388993.000000,2553015.000000,966163.000000,104673624.000000,escort,1.000000,True,1.000000,escort,1419.000000,1433.000000,NaN,13.000000,DRIVEALONEFREE,0.709478,escort,2.000000,1.000000,1.000000,2.000000,non_mandatory,1.000000,1419.000000,1433.000000,966163.000000,125.000000,13.000000,14.000000,1.000000,NaN,11.905979,SHARED2FREE,-0.761238,NaN,NaN,0out_0in,escort,21.000000,3000.000000,19.000000,0.000000,30.000000,2.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.000000,966163.000000,20 to 35,female,white,0.000000,no,5.000000,1433.000000,3.000000,1.000000,2.000000,-122.574277,37.981220,False,True,True,False,True,False,False,False,False,False,True,False,False,True,False,True,False,False,True,3.000000,True,1433.000000,11.316665,1436.000000,2.384334,26.516666,1430.000000,12.807105,2.742756,False,3.000000,14.067452,82.770510,0.689754,False,N,True,False,False,False,NaN,False,False,0.000000,0.000000,0.000000,64.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2010001334836.000000,2.000000,93000.000000,1.000000,60.000000,2.000000,0.000000,1.000000,0.000000,yes,gt35-lt65,white,no,two,two or more,no,0.000000,gt60-lt100,two or more,own not recent,no,60411160001017.000000,6041.000000,2.000000,1.000000,1.000000,4.000000,1433.000000,4.000000,0.105000,36902.000000,93.000000,3.000000,10.440000,11.316665,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,True,False,False,False,1.000000,1.689754,0.000000,2.000000,2.000000,0.000000,0.000000,2.000000,True,0_tours,0.000000,-0.165059,-0.165435,0.188241,0.188026,-999.165059,-999.165209,-5.209273,-999.899439,-999.836703,-1998.383793,-1998.383793,-1998.383793,-1998.383793,-999.935555,-1998.430665,-1998.430665,-1998.430665,-1998.430665,-8.445874,-8.424223,-9.954349,2ndQ,5thD,baseline,default,2020,1
928501,2553015,837388997,50779.000000,50533.000000,246.000000,0.075010,Home,escort,15.000000,231.000000,0.000000,0.000000,2904.752000,0.000000,19.755000,0.000000,0.000000,2884.997000,0.000000,"body-2553015,2553015-emergency-0,2553015-emerg...",car,car,"2553015-emergency-0, body-2553015","1.0, 0.0, 0.0, 1.0",2904.752000,0,NaN,"Public, Residential",0,0,0,0,0,0,1047.015000,0.000000,0.000000,3506890.009607,3506890.009607,0.000000,3507937.024607,60411141002.000000,-122.597318,37.990280,60411141002.000000,6041114100.000000,Fairfax,Marin County,San Francisco Bay Area (MTC),60411170002.000000,-122.562744,37.976600,60411170002.000000,6041117000.000000,San Anselmo,Marin County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000297,0.000000,0.000000,0.000000,246.000000,0.000000,0.000000,escort_to_Home,car,car,car,837388997.000000,2553015.000000,966163.000000,104673624.000000,escort,1.000000,False,1.000000,Home,1433.000000,1419.000000,NaN,14.000000,DRIVEALONEFREE,0.682068,escort,2.000000,1.000000,1.000000,2.000000,non_mandatory,1.000000,1419.000000,1433.000000,966163.000000,125.000000,13.000000,14.000000,1.000000,NaN,11.905979,SHARED2FREE,-0.761238,NaN,NaN,0out_0in,escort,21.000000,3000.000000,19.000000,0.000000,30.000000,2.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.000000,966163.000000,20 to 35,female,white,0.000000,no,5.000000,1433.000000,3.000000,1.000000,2.000000,-122.574277,37.981220,False,True,True,False,True,False,False,False,False,False,True,False,False,True,False,True,False,False,True,3.000000,True,1433.000000,11.316665,1436.000000,2.384334,26.516666,1430.000000,12.807105,2.742756,False,3.000000,14.067452,82.770510,0.689754,False,N,True,False,False,False,NaN,False,False,0.000000,0.000000,0.000000,64.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2010001334836.000000,2.000000,93000.000000,1.000000,60.000000,2.000000,0.000000,1.000000,0.000000,yes,gt35-lt65,white,no,two,two or more,no,0.000000,gt60-lt100,two or more,own not recent,no,60411160001017.000000,6041.000000,2.000000,1.000000,1.000000,4.000000,1433.000000,4.000000,0.105000,36902.000000,93.000000,3.000000,10.440000,11.316665,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,True,False,False,False,1.000000,1.689754,0.000000,2.000000,2.000000,0.000000,0.000000,2.000000,True,0_tours,0.000000,-0.192133,-0.192489,0.163227,0.163024,-999.189249,-999.189391,-6.059707,-999.984482,-1000.107502,-1998.383793,-1998.383793,-1998.383793,-1998.383793,-1998.430665,-1998.430665,-1998.430665,-1998.430665,-1998.430665,-10.158698,-10.148663,-10.580620,2ndQ,5thD,baseline,default,2020,1
928502,2553015,837389001,71285.000000,70678.000000,2.000000,8.029449,escort,Home,0.000000,0.000000,0.000000,2.000000,17.478000,0.000000,0.000000,0.000000,17.478000,0.000000,0.000000,"body-2553015,rideHailVehicle-2061309@Uber,body...",ride_hail,ride_hail,"body-2553015, rideHailVehicle-2061309@Uber","1.0, 1.0, 1.0",1976.255000,0,NaN,NaN,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,18651.067807,18651.067807,18651.067807,60411170002.000000,-122.562744,37.976600,60411170002.000000,6041117000.000000,San Anselmo,Marin County,San Francisco Bay Area (MTC),60411170002.000000,-122.562571,37.976531,60411170002.000000,6041117000.000000,San Anselmo,Marin County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,607.000000,605.000000,0.000000,Home_to_escort,ride_hail,ride_hail,ride_hail,837389001.000000,2553015.000000,966163.000000,104673625.000000,escort,1.000000,True,1.000000,escort,1433.000000,1433.000000,NaN,19.000000,TNC_SINGLE,-0.384383,escort,2.000000,2.000000,2.000000,2.000000,non_mandatory,1.000000,1433.000000,1433.000000,966163.000000,176.000000,19.000000,20.000000,1.000000,NaN,11.865418,TAXI,-0.350692,NaN,NaN,0out_0in,escort,21.000000,3000.000000,19.000000,0.000000,30.000000,2.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.000000,966163.000000,20 to 35,female,white,0.000000,no,5.000000,1433.000000,3.000000,1.000000,2.000000,-122.574277,37.981220,False,True,True,False,True,False,False,False,False,False,True,False,False,True,False,True,False,False,True,3.000000,True,1433.000000,11.316665,1436.000000,2.384334,26.516666,1430.000000,12.807105,2.742756,False,3.000000,14.067452,82.770510,0.689754,False,N,True,False,False,False,NaN,False,False,0.000000,0.000000,0.000000,64.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2010001334836.000000,2.000000,93000.000000,1.000000,60.000000,2.000000,0.000000,1.000000,0.000000,yes,gt35-lt65,white,no,two,two or more,no,0.000000,gt60-lt100,two or more,own not recent,no,60411160001017.000000,6041.000000,2.000000,1.000000,1.000000,4.000000,1433.000000,4.000000,0.105000,36902.000000,93.000000,3.000000,10.440000,11.316665,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,True,False,False,False,1.000000,1.689754,0.000000,2.000000,2.000000,0.000000,0.000000,2.000000,True,0_tours,0.000000,-999.064787,-999.064860,-5.713087,-5.713128,-7.064787,-7.064816,-7.478721,-999.375292,-1.190277,-999.379000,-999.379000,-999.379000,-999.379000,-1000.135810,-1998.425872,-1998.425872,-1998.425872,-1998.425872,-5.349991,-1.073980,-1.552148,2ndQ,5thD,baseline,default,2020,1
928503,2553015,837389005,75385.000000,74955.000000,1.000000,7.279128,Home,escort,0.000000,0.000000,0.000000,1.000000,17.478000,0.000000,0.000000,0.000000,17.478000,0.000000,0.000000,"body-2553015,rideHailVehicle-2572129@Uber,body...",ride_hail,ride_hail,"body-2553015, rideHailVehicle-6500587@Uber","1.0, 1.0, 1.0",1976.255000,0,NaN,NaN,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,27495.806532,27495.806532,27495.806532,60411170002.000000,-122.562744,37.976600,60411170002.000000,6041117000.000000,San Anselmo,Marin County,San Francisco Bay Area (MTC),60411170002.000000,-122.562744,37.976600,60411170002.000000,6041117000.000000,San Anselmo,Marin County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000000,0.000002,0.000000,0.000000,430.000000,429.000000,0.000000,escort_to_Home,ride_hail,ride_hail,ride_hail,837389005.000000,2553015.000000,966163.000000,104673625.000000,escort,1.000000,False,1.000000,Home,1433.000000,1433.000000,NaN,20.000000,TNC_SHARED,-0.384404,escort,2.000000,2.000000,2.000000,2.000000,non_mandatory,1.000000,1433.000000,1433.000000,966163.000000,176.000000,19.000000,20.000000,1.000000,NaN,11.865418,TAXI,-0.350692,NaN,NaN,0out_0in,escort,21.000000,3000.000000,19.000000,0.000000,30.000000,2.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.000000,966163.000000,20 to 35,female,white,0.000000,no,5.000000,1433.000000,3.000000,1.000000,2.000000,-122.574277,37.981220,False,True,True,False,True,False,False,False,False,False,True,False,False,True,False,True,False,False,True,3.000000,True,1433.000000,11.316665,1436.000000,2.384334,26.516666,1430.000000,12.807105,2.742756,False,3.000000,14.067452,82.770510,0.689754,False,N,True,False,False,False,NaN,False,False,0.000000,0.000000,0.000000,64.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2010001334836.000000,2.000000,93000.000000,1.000000,60.000000,2.000000,0.000000,1.000000,0.000000,yes,gt35-lt65,white,no,two,two or more,no,0.000000,gt60-lt100,two or more,own not recent,no,60411160001017.000000,6041.000000,2.000000,1.000000,1.000000,4.000000,1433.000000,4.000000,0.105000,36902.000000,93.000000,3.000000,10.440000,11.316665,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,True,False,False,False,1.000000,1.689754,0.000000,2.000000,2.000000,0.000000,0.000000,2.000000,True,0_tours,0.000000,-999.070891,-999.070964,-5.716575,-5.716616,-7.067228,-7.067258,-7.478721,-999.375292,-1.190277,-999.379000,-999.379000,-999.379000,-999.379000,-1998.425872,-1998.425872,-1998.425872,-1998.425872,-1998.425872,-5.349991,-1.073980,-1.552148,2ndQ,5thD,baseline,default,2020,1

In [16]:
# Adding scenario info
sf_rh_price_0p25['scenario'] = "ridehail"
sf_rh_price_0p25['scenario'] = sf_rh_price_0p25['scenario'].astype("category")
sf_rh_price_0p25['lever'] = "price"
sf_rh_price_0p25['lever'] = sf_rh_price_0p25['lever'].astype("category")
sf_rh_price_0p25['year'] = 2020
sf_rh_price_0p25['lever_position'] = 0.25

In [17]:
%%time
key = "pilates-outputs/sfbay-rh-price-0.500-20221224/inexus/sfbay_rh_price_0_500_rh_price-1.0_2020__20221223.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_0p5 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 2min 14s
Wall time: 2min 14s

In [18]:
# Adding scenario info
sf_rh_price_0p5['scenario'] = "ridehail"
sf_rh_price_0p5['scenario'] = sf_rh_price_0p5['scenario'].astype("category")
sf_rh_price_0p5['lever'] = "price"
sf_rh_price_0p5['lever'] = sf_rh_price_0p5['lever'].astype("category")
sf_rh_price_0p5['year'] = 2020
sf_rh_price_0p5['lever_position'] = 0.5

In [19]:
%%time
key = "pilates-outputs/sfbay-rh-price-1.750-20221224/inexus/sfbay_rh_price_1_750_rh_price-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_1p75 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 2min 21s
Wall time: 2min 22s

In [20]:
# Adding scenario info
sf_rh_price_1p75['scenario'] = "ridehail"
sf_rh_price_1p75['scenario'] = sf_rh_price_1p75['scenario'].astype("category")
sf_rh_price_1p75['lever'] = "price"
sf_rh_price_1p75['lever'] = sf_rh_price_1p75['lever'].astype("category")
sf_rh_price_1p75['year'] = 2020
sf_rh_price_1p75['lever_position'] = 1.75

In [21]:
%%time
key = "pilates-outputs/sfbay-rh-price-3.000-20221224/inexus/sfbay_rh_price_3_000_rh_price-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_3 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 2min 30s
Wall time: 2min 30s

In [22]:
# Adding scenario info
sf_rh_price_3['scenario'] = "ridehail"
sf_rh_price_3['scenario'] = sf_rh_price_3['scenario'].astype("category")
sf_rh_price_3['lever'] = "price"
sf_rh_price_3['lever'] = sf_rh_price_3['lever'].astype("category")
sf_rh_price_3['year'] = 2020
sf_rh_price_3['lever_position'] = 3

In [23]:
%%time
key = "pilates-outputs/sfbay-rh-price-5.000-20221224/inexus/sfbay_rh_price_5_000_rh_price-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_5 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 2min 39s
Wall time: 2min 40s

In [24]:
# Adding scenario info
sf_rh_price_5['scenario'] = "ridehail"
sf_rh_price_5['scenario'] = sf_rh_price_5['scenario'].astype("category")
sf_rh_price_5['lever'] = "price"
sf_rh_price_5['lever'] = sf_rh_price_5['lever'].astype("category")
sf_rh_price_5['year'] = 2020
sf_rh_price_5['lever_position'] = 5

In [25]:
%%time
key = "pilates-outputs/sfbay-rh-price-8.000-20221224/inexus/sfbay_rh_price_8_000_rh_price-1.0_2020__20221224.csv.gz"  #the path should be updated
obj = s3.get_object(Bucket="beam-outputs", Key=key)
sf_rh_price_8 = pd.read_csv(obj['Body'], compression = 'gzip',index_col='Unnamed: 0')

<timed exec>:3: DtypeWarning: Columns (27,77,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,153,162,167,169,170,171,172,174,175,232,233,234,235,244) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 2min 43s
Wall time: 2min 43s

In [26]:
# Adding scenario info
sf_rh_price_8['scenario'] = "ridehail"
sf_rh_price_8['scenario'] = sf_rh_price_8['scenario'].astype("category")
sf_rh_price_8['lever'] = "price"
sf_rh_price_8['lever'] = sf_rh_price_8['lever'].astype("category")
sf_rh_price_8['year'] = 2020
sf_rh_price_8['lever_position'] = 8

In [27]:
#%%time
#rh_price_path = "https://beam-core-act.s3.amazonaws.com/deepDive/CleanData/SanFrancisco/Ridehail_Price/"
#sf_rh_price_0 = pd.read_csv(rh_price_path + 'sf_2018_rh_price_0.csv')
#sf_rh_price_0p25 = pd.read_csv(rh_price_path + 'sf_2018_rh_price_0p25.csv')
#sf_rh_price_0p5 = pd.read_csv(rh_price_path + 'sf_2018_rh_price_0p5.csv')
#sf_rh_price_1p5 = pd.read_csv(rh_price_path + 'sf_2018_rh_price_1p5.csv')
#sf_rh_price_2 = pd.read_csv(rh_price_path + 'sf_2018_rh_price_2.csv')

In [28]:
sfbase.shape

(2482005, 273)

In [29]:
sf_rh_price_0p25.shape

(2481634, 273)

In [30]:
#sf_rh_flsz_175 = sf_rh_flsz_175.drop(sf_rh_flsz_175.columns[245:625], axis=1)

In [ ]:
#sf_rh_flsz_175 = sf_rh_flsz_175.drop(sf_rh_flsz_175.columns[235:245], axis=1)

In [ ]:
#sf_rh_flsz_175 = sf_rh_flsz_175.drop(sf_rh_flsz_175.columns[233:235], axis=1)

In [31]:
frames = [sf_rh_price_0, sf_rh_price_0p125, sf_rh_price_0p25, sf_rh_price_0p5, sfbase, sf_rh_price_1p75, sf_rh_price_3,
         sf_rh_price_5, sf_rh_price_8]
sf_stacked = pd.concat(frames)

In [32]:
sf_stacked = sf_stacked.drop(['has_school_kid','has_preschool_kid','has_retiree','has_non_worker','adult','hispanic','relate',
                             'pstudent','pemploy','ptype','p_hispanic','age_16_p','age_16_to_19',
                             'person_age','MAR','hours','hispanic.1','student',
                             'worker','stop_frequency','composition','tdd','number_of_participants','tour_type_count',
                             'tour_type_num','tour_num','tour_count', 'outbound', 'trip_num','num_under16_not_at_school',
                             'family','non_family','num_young_adults','num_college_age','num_children_16_to_17',
                              'num_children_5_to_15','num_young_children'], axis=1)

In [33]:
sf_stacked = sf_stacked.drop(['vehicleIds_estimate','parent_tour_id','atwork_subtour_frequency','household_id_y',
                              'male','female', 'has_driving_kid','has_full_time','has_part_time',
                              'has_university','student_is_employed', 'nonstudent_to_school', 'is_student','is_gradeschool',
                              'is_gradeschool','is_highschool','is_university','school_segment','is_worker',  
                              'distance_to_school','roundtrip_auto_time_to_school',
                              'distance_to_work','workplace_in_cbd', 'work_taz_area_type', 'hh_race_of_head',
                             'roundtrip_auto_time_to_work','work_auto_savings_ratio','cdap_activity', 'travel_active', 
                              'under16_not_at_school','has_preschool_kid_at_home', 'gt2','hispanic_head',
                             'has_school_kid_at_home','work_and_school_and_worker', 'age_of_head', 'race_of_head',
                              'work_and_school_and_student', 'VEHICL','hh_children','hh_age_of_head','num_workers',
                              'gt55','seniors', 'recent_mover', 'hh_workers', 'hispanic_status_of_head', 'hh_seniors', 
                             'hh_type', 'HHT', 'sample_rate', 'chunk_id', 'income_segment', 'num_non_workers', 
                             'num_drivers', 'num_adults', 'num_children', 'hh_work_auto_savings_ratio', 'num_travel_active', 
                             'num_travel_active_adults','num_travel_active_preschoolers', 'num_travel_active_children', 
                              'num_travel_active_non_preschoolers', 'participates_in_jtf_model', 'joint_tour_frequency',
                              'num_hh_joint_tours'], axis=1)

In [34]:
sf_stacked = sf_stacked.drop(['serialno'], axis=1)

#### Stacked File

In [35]:
#stacked_tr_fr_path = "https://beam-core-act.s3.amazonaws.com/deepDive/CleanData/SanFrancisco/Stacked/"
#sf_stacked_tr_fr = pd.read_csv(stacked_tr_fr_path + 'sf_2018_stacked_tr_fr.csv')

In [36]:
sf_stacked = sf_stacked.sort_values(by=['IDMerged', 'tripIndex', 'lever_position']).reset_index(drop=True)

In [37]:
# shift column 'person' to first position
#first_column = sf_stacked.pop('scenario')
#second_column = sf_stacked.pop('lever')
#third_column = sf_stacked.pop('lever_position')
#fourth_column = sf_stacked.pop('logsum_trip_mode_AS_trips')
# insert column using insert(position,column_name,first_column) function
#sf_stacked.insert(2, 'scenario', first_column)
#sf_stacked.insert(3, 'lever', second_column)
#sf_stacked.insert(4, 'lever_position', third_column)
#sf_stacked.insert(5, 'logsum_trip_mode_AS_trips', fourth_column)

In [39]:
# Adding Price lever position
conditions  = [(sf_stacked['lever_position'] == 0), 
               (sf_stacked['lever_position'] == 0.125),
               (sf_stacked['lever_position'] == 0.25),
               (sf_stacked['lever_position'] == 0.5),
               (sf_stacked['lever_position'] == 1),
               (sf_stacked['lever_position'] == 1.75),
               (sf_stacked['lever_position'] == 3),
               (sf_stacked['lever_position'] == 5),
               (sf_stacked['lever_position'] == 8)]

choices = [0, 0.125, 0.25, 0.5, 1, 1.75, 3, 5, 8]

In [40]:
sf_stacked['lever_position_price'] = np.select(conditions, choices, default=np.nan)

In [ ]:
sf_stacked['lever_position_fleetsize'] = 1

In [ ]:
#sf_stacked_tr_fr['logsum_relative_to_baseline'] = sf_stacked_tr_fr.groupby(['IDMerged','tripIndex'])['logsum_trip_mode_AS_trips'].apply(lambda x: x.diff())

In [ ]:
#sf_stacked_tr_fr['logsum_relative_to_baseline'] = sf_stacked_tr_fr['logsum_trip_mode_AS_trips'] - sf_stacked_tr_fr.loc[sf_stacked_tr_fr.groupby(['IDMerged','tripIndex'])['lever_position'].transform('idxmin'), 'logsum_trip_mode_AS_trips'].values

In [44]:
%%time
sf_stacked['logsum_relative_to_baseline'] = sf_stacked['logsum_trip_Potential_INEXUS'] - (sf_stacked['logsum_trip_Potential_INEXUS'].where(sf_stacked['lever_position'].eq(1.0))
                                                                                                  .groupby([sf_stacked['IDMerged'],sf_stacked['tripIndex']])
                                                                                                   .transform('first')
                                                                                                   .convert_dtypes())

CPU times: total: 6.03 s
Wall time: 5.8 s

In [45]:
sf_stacked['door_to_door_time_relative_to_baseline'] = sf_stacked['duration_door_to_door'] - (sf_stacked['duration_door_to_door'].where(sf_stacked['lever_position'].eq(1.0))
                                                                                                  .groupby([sf_stacked['IDMerged'],sf_stacked['tripIndex']])
                                                                                                   .transform('first')
                                                                                                   .convert_dtypes())

In [46]:
# Drop unused columns
sf_stacked = sf_stacked.drop(['sf_detached', 'household_id_x','destination_logsum_y','logsum_tours_mode_AS_tours',
                              'primary_purpose_y','PNUM','work_auto_savings','mandatory_tour_frequency'], axis=1)

In [ ]:
sf_stacked.head()

In [47]:
sf_stacked[sf_stacked['mode_choice_actual_6'] == 'ride_hail_transit'].shape

(0, 166)

In [48]:
sf_stacked[sf_stacked['replanning_status'] > 0].shape

(338477, 166)

In [49]:
# Add the mandatory category column
mandatory = ['work' , 'univ', 'school']
sf_stacked['mandatoryCat'] = np.where((sf_stacked.actEndType.isin(mandatory)) & (sf_stacked.actStartType.isin(mandatory)), 'from_M_to_M' , None)

In [50]:
sf_stacked['mandatoryCat'] = np.where((sf_stacked.actEndType == 'Home') & (sf_stacked.actStartType.isin(mandatory)), 'from_H_to_M' , sf_stacked['mandatoryCat'])

In [51]:
sf_stacked['mandatoryCat'] = np.where((sf_stacked.actEndType.isin(mandatory)) & (sf_stacked.actStartType == "Home"), 'from_M_to_H' , sf_stacked['mandatoryCat'])

In [52]:
non_mandatory = ['othmaint' , 'othdiscr', 'escort', 'eatout', 'social', 'shopping', 'atwork']
sf_stacked['mandatoryCat'] = np.where((sf_stacked.actEndType.isin(non_mandatory)) & (sf_stacked.actStartType.isin(non_mandatory)), 'from_N_to_N' , sf_stacked['mandatoryCat'])

In [53]:
# Drop unused columns
sf_stacked = sf_stacked.drop(['num_work_tours','num_joint_tours', 'non_mandatory_tour_frequency',
                                          'num_non_mand','num_escort_tours','num_eatout_tours','num_shop_tours',
                                          'num_maint_tours','num_discr_tours','num_social_tours','num_non_escort_tours'], axis=1)

In [54]:
#sf_stacked[sf_stacked['Realized_INEXUS'].isna()].head(10000).to_csv('C:/Shared-Work/Data/CleanData/ASIM_BEAM_Merged/realizedIN_empty.csv', index = False)

In [55]:
#%%time
#sf_stacked_tr_fr.to_csv('s3://beam-core-act/deepDive/CleanData/SanFrancisco/Stacked/sf_2018_stacked_tr_fr_v3.csv', index=False)

In [56]:
sf_stacked[sf_stacked['SHARED3FREE'].isna()].shape

(178102, 156)

In [106]:
sf_stacked = sf_stacked[sf_stacked['WALK'].notna()]

In [71]:
# Mapping BEAM and ASIM modes
conditions  = [(sf_stacked['mode_choice_actual_BEAM'] == 'walk')&(sf_stacked['trip_mode_AS_trips'] == 'WALK'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'bike')&(sf_stacked['trip_mode_AS_trips'] == 'BIKE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'hov3_teleportation')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED3FREE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'hov3_teleportation')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED3PAY'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'car_hov3')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED3FREE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'car_hov3')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED3PAY'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'hov2_teleportation')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED2FREE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'hov2_teleportation')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED2PAY'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'car_hov2')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED2PAY'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'car_hov2')&(sf_stacked['trip_mode_AS_trips'] == 'SHARED2FREE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'car')&(sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEFREE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'car')&(sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEPAY'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')&(sf_stacked['trip_mode_AS_trips'] == 'WALK_LRF'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')&(sf_stacked['trip_mode_AS_trips'] == 'WALK_LOC'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')&(sf_stacked['trip_mode_AS_trips'] == 'WALK_EXP'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')&(sf_stacked['trip_mode_AS_trips'] == 'WALK_HVY'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')&(sf_stacked['trip_mode_AS_trips'] == 'WALK_COM'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail')&(sf_stacked['trip_mode_AS_trips'] == 'TNC_SINGLE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail')&(sf_stacked['trip_mode_AS_trips'] == 'TNC_SHARED'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail')&(sf_stacked['trip_mode_AS_trips'] == 'TAXI'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'drive_transit')&(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_COM'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'drive_transit')&(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_LRF'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'drive_transit')&(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_LOC'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'drive_transit')&(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_EXP'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'drive_transit')&(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_HVY'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail_pooled')&(sf_stacked['trip_mode_AS_trips'] == 'TNC_SINGLE'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail_pooled')&(sf_stacked['trip_mode_AS_trips'] == 'TNC_SHARED'),
               (sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail_pooled')&(sf_stacked['trip_mode_AS_trips'] == 'TAXI'),
       
               (sf_stacked['mode_choice_actual_BEAM'] == 'hov2_teleportation')&((sf_stacked['trip_mode_AS_trips'] == 'SHARED3FREE')|
               (sf_stacked['trip_mode_AS_trips'] == 'SHARED3PAY')|(sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEFREE')|
               (sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEPAY')),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'car_hov2')&((sf_stacked['trip_mode_AS_trips'] == 'SHARED3PAY')|
               (sf_stacked['trip_mode_AS_trips'] == 'SHARED3FREE')|(sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEFREE')|
               (sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEPAY')),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'car_hov3')&((sf_stacked['trip_mode_AS_trips'] == 'SHARED2PAY')|
               (sf_stacked['trip_mode_AS_trips'] == 'SHARED2FREE')|(sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEFREE')|
               (sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEPAY')),   
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'hov3_teleportation')&((sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEPAY')|
               (sf_stacked['trip_mode_AS_trips'] == 'DRIVEALONEFREE')|(sf_stacked['trip_mode_AS_trips'] == 'SHARED2PAY')|(sf_stacked['trip_mode_AS_trips'] == 'SHARED2FREE')),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'car')&((sf_stacked['trip_mode_AS_trips'] == 'SHARED3FREE')|(sf_stacked['trip_mode_AS_trips'] == 'SHARED2FREE')|
               (sf_stacked['trip_mode_AS_trips'] == 'SHARED3PAY')|(sf_stacked['trip_mode_AS_trips'] == 'SHARED2PAY')|(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_LOC')|
               (sf_stacked['trip_mode_AS_trips'] == 'DRIVE_LRF')|(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_EXP')|
               (sf_stacked['trip_mode_AS_trips'] == 'DRIVE_HVY')|(sf_stacked['trip_mode_AS_trips'] == 'DRIVE_COM')),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk')&((sf_stacked['trip_mode_AS_trips'] == 'WALK_LRF')|
               (sf_stacked['trip_mode_AS_trips'] == 'WALK_LOC')|(sf_stacked['trip_mode_AS_trips'] == 'WALK_EXP')|
               (sf_stacked['trip_mode_AS_trips'] == 'WALK_HVY')|(sf_stacked['trip_mode_AS_trips'] == 'WALK_COM')),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')&(sf_stacked['trip_mode_AS_trips'] == 'WALK'),
               
               ((sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail_pooled')|(sf_stacked['mode_choice_actual_BEAM'] == 'ride_hail'))
               &(~((sf_stacked['trip_mode_AS_trips'] == 'TAXI')|(sf_stacked['trip_mode_AS_trips'] == 'TNC_SHARED')|
                (sf_stacked['trip_mode_AS_trips'] == 'TNC_SINGLE'))),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')&(~((sf_stacked['trip_mode_AS_trips'] == 'WALK_LRF')|
               (sf_stacked['trip_mode_AS_trips'] == 'WALK_LOC')|(sf_stacked['trip_mode_AS_trips'] == 'WALK_EXP')|
               (sf_stacked['trip_mode_AS_trips'] == 'WALK_HVY')|(sf_stacked['trip_mode_AS_trips'] == 'WALK_COM')|
               (sf_stacked['trip_mode_AS_trips'] == 'WALK'))),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'bike_transit'),
               
               (sf_stacked['mode_choice_actual_BEAM'] == 'car')&((sf_stacked['trip_mode_AS_trips'] == 'TNC_SHARED')|
               (sf_stacked['trip_mode_AS_trips'] == 'TNC_SINGLE')|(sf_stacked['trip_mode_AS_trips'] == 'TAXI'))]
 
                                                                      
                                                                                                                 
                                                                      
choices = [sf_stacked['WALK'], sf_stacked['BIKE'], sf_stacked['SHARED3FREE'], sf_stacked['SHARED3PAY'],
           sf_stacked['SHARED3FREE'], sf_stacked['SHARED3PAY'], sf_stacked['SHARED2FREE'], 
           sf_stacked['SHARED2PAY'], sf_stacked['SHARED2PAY'], sf_stacked['SHARED2FREE'], 
           sf_stacked['DRIVEALONEFREE'], sf_stacked['DRIVEALONEPAY'], sf_stacked['WALK_LRF'], 
           sf_stacked['WALK_LOC'], sf_stacked['WALK_EXP'], sf_stacked['WALK_HVY'], sf_stacked['WALK_COM'],
           sf_stacked['TNC_SINGLE'], 
           sf_stacked['TNC_SHARED'], sf_stacked['TAXI'],
           sf_stacked['DRIVE_COM'], sf_stacked['DRIVE_LRF'], sf_stacked['DRIVE_LOC'], sf_stacked['DRIVE_EXP'],
           sf_stacked['DRIVE_HVY'], sf_stacked['TNC_SINGLE'], sf_stacked['TNC_SHARED'], sf_stacked['TAXI'],
          sf_stacked[['DRIVEALONEFREE','DRIVEALONEPAY','SHARED2FREE','SHARED3FREE','SHARED2PAY','SHARED3PAY','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),
          sf_stacked[['DRIVEALONEFREE','DRIVEALONEPAY','SHARED2FREE','SHARED3FREE','SHARED2PAY','SHARED3PAY','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),
          sf_stacked[['DRIVEALONEFREE','DRIVEALONEPAY','SHARED2FREE','SHARED3FREE','SHARED2PAY','SHARED3PAY','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),
          sf_stacked[['DRIVEALONEFREE','DRIVEALONEPAY','SHARED2FREE','SHARED3FREE','SHARED2PAY','SHARED3PAY','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),
          sf_stacked[['DRIVEALONEFREE','DRIVEALONEPAY','SHARED2FREE','SHARED3FREE','SHARED2PAY','SHARED3PAY','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),
          sf_stacked[['WALK','WALK_LOC','WALK_LRF','WALK_EXP','WALK_HVY','WALK_COM']].max(axis=1),
          sf_stacked[['WALK','WALK_LOC','WALK_LRF','WALK_EXP','WALK_HVY','WALK_COM']].max(axis=1),
          sf_stacked[['TAXI','TNC_SINGLE','TNC_SHARED']].max(axis=1),
          sf_stacked[['WALK','WALK_LOC','WALK_LRF','WALK_EXP','WALK_HVY','WALK_COM','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),
          sf_stacked[['BIKE','WALK_LOC','WALK_LRF','WALK_EXP','WALK_HVY','WALK_COM','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),
          sf_stacked[['DRIVEALONEFREE','DRIVEALONEPAY','SHARED2FREE','SHARED3FREE','SHARED2PAY','SHARED3PAY','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1)]

In [72]:
sf_stacked['Realized_INEXUS'] = np.select(conditions, choices, default=np.nan)

In [63]:
#sf_stacked = sf_stacked.drop(['Realized_INEXUS'], axis=1)

In [97]:
sf_stacked['Realized_INEXUS'] = np.where((sf_stacked['Realized_INEXUS'].isna())&((sf_stacked['mode_choice_actual_BEAM'] == 'car_hov2')|
                                          (sf_stacked['mode_choice_actual_BEAM'] == 'car_hov3')|
                                          (sf_stacked['mode_choice_actual_BEAM'] == 'hov2_teleportation')|
                                          (sf_stacked['mode_choice_actual_BEAM'] == 'hov3_teleportation')|
                                          (sf_stacked['mode_choice_actual_BEAM'] == 'car')|
                                          (sf_stacked['mode_choice_actual_BEAM'] == 'drive_transit')), 
                                           sf_stacked[['DRIVEALONEFREE','DRIVEALONEPAY','SHARED2FREE','SHARED3FREE','SHARED2PAY','SHARED3PAY','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1), sf_stacked['Realized_INEXUS'])

In [93]:
sf_stacked['Realized_INEXUS'] = np.where((sf_stacked['Realized_INEXUS'].isna())&((sf_stacked['mode_choice_actual_BEAM'] == 'walk')|
                                         (sf_stacked['mode_choice_actual_BEAM'] == 'walk_transit')), 
                                          sf_stacked[['WALK','WALK_LOC','WALK_LRF','WALK_EXP','WALK_HVY','WALK_COM','DRIVE_LOC','DRIVE_LRF','DRIVE_EXP','DRIVE_HVY','DRIVE_COM']].max(axis=1),sf_stacked['Realized_INEXUS'])

In [100]:
sf_stacked['Realized_INEXUS'] = np.where(sf_stacked['Realized_INEXUS'].isna()&(sf_stacked['mode_choice_actual_BEAM'] == 'bike'), 
                                         sf_stacked[['BIKE','WALK','WALK_LOC','WALK_LRF','WALK_EXP','WALK_HVY','WALK_COM']].max(axis=1),sf_stacked['Realized_INEXUS'])

In [107]:
sf_stacked[sf_stacked['Realized_INEXUS'].isna()].shape

(0, 162)

In [108]:
sf_stacked[sf_stacked['Realized_INEXUS']<-1000].shape

(0, 162)

In [103]:
sf_stacked['Realized_INEXUS'] = np.where(sf_stacked['Realized_INEXUS']<-1000, sf_stacked['Realized_INEXUS']+990, sf_stacked['Realized_INEXUS'])

In [ ]:
#sf_stacked_tr_fr['Realized_INEXUS'] = np.where((sf_stacked_tr_fr['Realized_INEXUS'].isna())&
                                               #(sf_stacked_tr_fr['mode_choice_actual_BEAM'] == 'walk_transit')&
                                               #(sf_stacked_tr_fr['vehicleIds'].str.contains('(caltrain)')), 
                                               #sf_stacked_tr_fr['WALK_COM'], sf_stacked_tr_fr['Realized_INEXUS'])

In [109]:
sf_stacked = sf_stacked[sf_stacked['Realized_INEXUS'].notna()]

In [110]:
sf_stacked.head()

,IDMerged,tripIndex,actStartTime,actEndTime,duration_travelling,cost_BEAM,actStartType,actEndType,duration_walking,duration_in_privateCar,duration_on_bike,duration_in_ridehail,distance_travelling,duration_in_transit,distance_walking,distance_bike,distance_ridehail,distance_privateCar,distance_transit,mode_choice_planned_BEAM,mode_choice_actual_BEAM,vehicleIds,numPassengers,distance_mode_choice,replanning_status,reason,parkingType,transit_bus,transit_subway,transit_tram,transit_cable_car,ride_hail_pooled,transit_rail,fuelFood,fuelElectricity,fuelBiodiesel,fuelDiesel,fuel_not_Food,fuelGasoline,fuel_marginal,BlockGroupStart,startX,startY,bgid_start,tractid_start,juris_name_start,county_name_start,mpo_start,BlockGroupEnd,endX,endY,bgid_end,tractid_end,juris_name_end,county_name_end,mpo_end,emissionFood,emissionElectricity,emissionDiesel,emissionGasoline,emissionBiodiesel,emission_marginal,duration_door_to_door,waitTime_no_replanning,waitTime_replanning,actPurpose,mode_choice_actual_5,mode_choice_actual_6,mode_choice_actual_4,trip_id,person_id,household_id,tour_id,primary_purpose_x,trip_count,purpose,destination_x,origin_x,destination_logsum_x,depart,trip_mode_AS_trips,logsum_trip_Potential_INEXUS,tour_type,tour_category,destination_y,origin_y,start,end,duration,tour_mode_AS_tours,age,earning,edu,race_id,sex,work_at_home,person_sex,race,TAZ_x,home_x,home_y,home_taz,value_of_time,school_taz,workplace_taz,workplace_location_logsum,free_parking_at_work,num_mand,income,tenure,hh_size,hh_cars,hh_income,tenure_mover,block_id,lcm_county_id,hhsize,TAZ_y,income_in_thousands,median_value_of_time,hh_value_of_time,home_is_urban,home_is_rural,auto_ownership,DRIVEALONEFREE,DRIVEALONEPAY,SHARED2FREE,SHARED2PAY,SHARED3FREE,SHARED3PAY,WALK,BIKE,WALK_LOC,WALK_LRF,WALK_EXP,WALK_HVY,WALK_COM,DRIVE_LOC,DRIVE_LRF,DRIVE_EXP,DRIVE_HVY,DRIVE_COM,TAXI,TNC_SINGLE,TNC_SHARED,income_quartiles,income_deciles,scenario,lever,year,lever_position,lever_position_price,lever_position_fleetsize,logsum_relative_to_baseline,door_to_door_time_relative_to_baseline,mandatoryCat,Realized_INEXUS,alpha,socialCarbonCost,Social_INEXUS,Potential_INEXUS_in_dollar,Realized_INEXUS_in_dollar
0,4,1513,55528.000000,54961.000000,567.000000,1.604735,othdiscr,Home,0.000000,567.000000,0.000000,0.000000,14631.142000,0.000000,0.000000,0.000000,0.000000,14631.142000,0.000000,car,car,"358611, body-4","1.0, 0.0, 0.0, 1.0",14631.142000,0,NaN,"Residential, Public",0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,22701321.975947,22701321.975947,22701321.975947,60014001001.000000,-122.227937,37.854097,60014001001.000000,6001400100.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),60014096004.000000,-122.171960,37.750722,60014096004.000000,6001409600.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000000,0.001678,0.000000,0.000000,567.000000,0.000000,0.000000,Home_to_othdiscr,car,car,car,1513.000000,4.000000,865.000000,189.000000,othdiscr,1.000000,othdiscr,891.000000,1005.000000,NaN,15.000000,DRIVEALONEFREE,-3.359118,othdiscr,non_mandatory,891.000000,1005.000000,15.000000,16.000000,1.000000,DRIVEALONEFREE,68.000000,0.000000,22.000000,2.000000,2.000000,0.000000,female,black,1005.000000,-122.227937,37.854097,1005.000000,2.818730,-1.000000,-1.000000,NaN,False,0.000000,70550.000000,1.000000,two,two or more,gt60-lt100,own not recent,60014001001061.000000,6001.000000,2.000000,1005.000000,70.550000,10.440000,2.818730,False,False,1.000000,-3.981448,-4.052351,-1002.981448,-1003.021964,-1002.981448,-1003.009809,-44.478549,-1009.440540,-1998.380369,-1998.380369,-1998.380369,-2002.056290,-1998.380369,-1001.227631,-1998.427241,-1998.427241,-2000.036363,-1998.427241,-29.154868,-4.326001,-5.991636,2ndQ,4thD,ridehail,price,2020,0.000000,0.000000,1,-2.571284,384.000000,None,-3.981448,0.100000,0.000000,-39.814482,-33.591179,-39.814482
1,4,1513,57775.000000,57520.000000,255.000000,0.590549,othdiscr,Home,0.000000,255.000000,0.000000,0.000000,5384.318000,0.000000,0.000000,0.000000,0.000000,5384.318000,0.000000,car,car,"358622, body-4","1.0, 0.0, 0.0, 1.0",5384.318000,0,NaN,"Residential, Public",0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,8644696.241503,8644696.241503,8644696.241503,60014001001.000000,-122.227937,37.854097,60014001001.000000,6001400100.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),60014045024.000000,-122.204810,37.827999,60014045024.000000,6001404502.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000000,0.000639,0.000000,0.000000,255.000000,0.000000,0.000000,Home_to_othdiscr,car,car,car,1513.000000,4.000000,865.000000,189.000000,othdiscr,1.000000,othdiscr,913.000000,1005.000000,NaN,15.000000,DRIVEALONEFREE,-2.524608,othdiscr,non_mandatory,913.000000,1005.000000,15.000000,16.000000,1.000000,DRIVEALONEFREE,68.000000,0.000000,22.000000,2.000000,2.000000,0.000000,female,black,1005.000000,-122.227937,37.854097,1005.000000,2.818730,-1.000000,-1.000000,NaN,False,0.000000,70550.000000,1.000000,two,two or more,gt60-lt100,own not recent,60014001001061.000000,6001.000000,2.000000,1005.000000,70.550000,10.440000,2.818730,False,False,1.000000,-2.731231,-2.737002,-1001.731231,-1001.734529,-1001.731231,-1001.733540,-18.867786,-1001.310309,-1001.383874,-1998.378026,-1998.378026,-1998.378026,-1998.378026,-1000.241913,-1998.424898,-1998.424898,-1998.424898,-1998.424898,-20.386394,-6.182327,-6.118676,2ndQ,4thD,ridehail,price,2020,0.125000,0.125000,1,-1.736774,72.000000,None,-2.731231,0.100000,0.000000,-27.312315,-25.246083,-27.312315
2,4,1513,55962.000000,55350.000000,612.000000,0.677538,othdiscr,Home,248.000000,364.000000,0.000000,0.000000,6891.688000,0.000000,321.777000,0.000000,0.000000,6569.911000,0.000000,car,car,"body-4, 358548","1.0, 0.0, 0.0, 1.0",6177.442000,0,NaN,"Residential, Residential, Public",0,0,0,0,0,0,17054.181000,0.000000,0.000000,0.000000,10465691.253266,10465691.253266,10482745.434266,60014001001.000000,-122.227937,37.854097,60014001001.000000,6001400100.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),60014038001.000000,-122.239304,37.815996,60014038001.000000,6001403800.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000000,0.000774,0.000000,0.000000,612.000000,0.000000,0.000000,Home_to_othdiscr,car,car,car,1513.000000,4.000000,865.000000,189.000000,othdiscr,1.000000,othdiscr,917.000000,1005.000000,NaN,15.000000,DRIVEALONEFREE,-0.648215,othdiscr,non_mandatory,917.000000,1005.000000,15.000000,16.000000,1.000000,DRIVEALONEFREE,68.000000,0.000000,22.000000,2.000000,2.000000,0.000000,female,black,1005.000000,-122.227937,37.854097,1005.000000,2.818730,-1.000000,-1.000000,NaN,False,0.000000,70550.000000,1.000000,two,two or more,gt60-lt100,own not recent,60014001001061.000000,6001.000000,2.000000,1005.000000,70.550000,10.440000,2.818730,False,False,1.000000,-0.944112,-0.947232,-999.944112,-999.945895,-999.944112,-999.945360,-14.091297,-1000.828669,-1000.521735,-1998.373591,-1998.373591,-1998.373591,-1998.373591,-999.802942,-1998.420463,-1998.420463,-1998.420463,-1998.420463,-8.505649,-2.981777,-3.149330,2ndQ,4thD,ridehail,price,2020,0.250000,0.250000,1,0.139619,429.000000,None,-0.944112,0.100000,0.000000,-9.441121,-6.482153,-9.441121
3,4,1513,57048.000000,56854.000000,194.000000,0.509574,othdiscr,Home,0.000000,194.000000,0.000000,0.000000,4646.029000,0.000000,0.000000,0.000000,0.000000,4646.029000,0.000000,car,car,"body-4, 358654","1.0, 0.0, 0.0, 1.0",4646.029000,0,NaN,"Residential, Public",0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,6831391.080106,6831391.080106,6831391.080106,60014001001.000000,-122.227937,37.854097,60014001001.000000,6001400100.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),60014261001.000000,-122.235298,37.830552,60014261001.000000,6001426100.000000,Piedmont,Alameda County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000000,0.000505,0.000000,0.000000,194.000000,0.000000,0.000000,Home_to_othdiscr,car,car,car,1513.000000,4.000000,865.000000,189.000000,othdiscr,1.000000,othdiscr,916.000000,1005.000000,NaN,15.000000,DRIVEALONEFREE,-1.012956,othdiscr,non_mandatory,916.000000,1005.000000,15.000000,16.000000,1.000000,DRIVEALONEFREE,68.000000,0.000000,22.000000,2.000000,2.000000,0.000000,female,black,1005.000000,-122.227937,37.854097,1005.000000,2.818730,-1.000000,-1.000000,NaN,False,0.000000,70550.000000,1.000000,two,two or more,gt60-lt100,own not recent,60014001001061.000000,6001.000000,2.000000,1005.000000,70.550000,10.440000,2.818730,False,False,1.000000,-1.195758,-1.199882,-1000.195758,-1000.198114,-1000.195758,-1000.197407,-20.921898,-1001.517729,-1001.358499,-1998.380258,-1998.380258,-1998.380258,-1998.380258,-1999.111132,-1998.427130,-1998.427130,-1998.427130,-1998.427130,-12.054587,-7.910639,-5.605723,2ndQ,4thD,ridehail,price,2020,0.500000,0.500000,1,-0.225122,11.000000,None,-1.195758,0.100000,0.000000,-11.957577,-10.129557,-11.957577
4,4,1513,56512.000000,56329.000000,183.000000,0.409358,othdiscr,Home,0.000000,183.000000,0.000000,0.000000,3732.315000,0.000000,0.000000,0.000000,0.000000,3732.315000,0.000000,car,car,"body-4, 358648","1.0, 0.0, 0.0, 1.0",3732.315000,0,NaN,"Residential, Public",0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,6208647.575095,6208647.575095,6208647.575095,60014001001.000000,-122.227937,37.854097,60014001001.000000,6001400100.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),60014045024.000000,-122.209569,37.826726,60014045024.000000,6001404502.000000,Oakland,Alameda County,San Francisco Bay Area (MTC),0.000000,0.000000,0.000000,0.000459,0.000000,0.000000,183.000000,0.000000,0.000000,Home_to_othdiscr,car,car,car,1513.000000,4.000000,865.000000,189.000000,othdiscr,1.000000,othdiscr,913.000000,1005.000000,NaN,15.000000,DRIVEALONEFREE,-0.787834,othdiscr,non_mandatory,913.000000,1005.000000,15.000000,16.000000,1.000000,DRIVEALONEFREE,68.000000,0.000000,22.000000,2.000000,2.000000,0.000000,female,black,1005.000000,-122.227937,37.854097,1005.000000,2.818730,-1.000000,-1.000000,NaN,False,0.000000,70550.000000,1.000000,two,two or more,gt60-lt100,own not recent,60014001001061.000000,6001.000000,2.000000,1005.000000,70.550000,10.440000,2.818730,False,False,1.000000,-0.962008,-0.965891,-999.962008,-999.964227,-999.962008,-999.963561,-30.824786,-1002.612487,-1001.553761,-1998.378026,-1998.378026,-1998.378026,-1998.378026,-1000.421875,-1998.424898,-1998.424898,-1998.424898,-1998.424898,-11.348414,-11.636467,-7.335184,2ndQ,4thD,baseline,default,2020,1.000000,1.000000,1,0.000000,0.000000,None,-0.962008,0.100000,0.000000,-9.620076,-7.878340,-9.620076

In [ ]:
#sf_stacked_tr_fr[sf_stacked_tr_fr['Realized_INEXUS'].isna()].to_csv('C:/Shared-Work/Data/CleanData/ASIM_BEAM_Merged/realizedIN_empty.csv', index = False)

#### Social INEXUS

In [ ]:
# add a lower and upper range for the bins in pd.cut
#quartiles = [0] + quartiles + [float('inf')]

In [ ]:
# add a quartiles column to groups, using pd.cut
#sf_stacked['income_quartiles'] = pd.cut(sf_stacked['income'], bins=quartiles, labels=['1stQ', '2ndQ', '3rdQ', '4thQ'])

In [75]:
sf_stacked['alpha'] = 0.1

In [76]:
sf_stacked['socialCarbonCost'] = sf_stacked['emission_marginal']*185 # 51 or 102

In [117]:
sf_stacked['Social_INEXUS'] = (sf_stacked['Realized_INEXUS']/sf_stacked['alpha']) - sf_stacked['socialCarbonCost']

In [118]:
sf_stacked['Potential_INEXUS_in_dollar'] = sf_stacked['logsum_trip_Potential_INEXUS']/sf_stacked['alpha']

In [119]:
sf_stacked['Realized_INEXUS_in_dollar'] = sf_stacked['Realized_INEXUS']/sf_stacked['alpha']

#### The following chunks are useful but should be checked in the next runs (they resulted in exact same realized and potential inexus in dollar

In [ ]:
# shift columns to first position
#first_column = sf_stacked.pop('Social_INEXUS')
# insert column using insert(position,column_name,first_column) function
#sf_stacked.insert(6, 'Social_INEXUS', first_column)

In [ ]:
# shift columns to first position
#first_column = sf_stacked.pop('Potential_INEXUS_in_dollar')
#second_column = sf_stacked.pop('Realized_INEXUS_in_dollar')
# insert column using insert(position,column_name,first_column) function
#sf_stacked.insert(7, 'Potential_INEXUS_in_dollar', first_column)
#sf_stacked.insert(8, 'Realized_INEXUS_in_dollar', first_column)

In [120]:
%%time
sf_stacked.to_csv('s3://beam-core-act/deepDive/CleanData/SanFrancisco/Stacked/sf_2018_stacked_rh_price_12_28_22.csv', index=False)

CPU times: total: 44min 25s
Wall time: 57min 37s