In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'A':['car','car','car','transit','transit','car'],'B':['bike','bike', 'car','walk', 'walk', 'transit']})

In [5]:
details = {
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU'],
}

In [6]:
df

         A        B
0      car     bike
1      car     bike
2      car      car
3  transit     walk
4  transit     walk
5      car  transit

In [7]:
df.astype(str).groupby('A').agg(lambda x: ','.join(x.unique())).reset_index()

         A                 B
0      car  bike,car,transit
1  transit              walk

In [8]:
df.astype(str).groupby('A').agg(lambda x: x.unique()).reset_index()

         A                     B
0      car  [bike, car, transit]
1  transit                [walk]