In [31]:
df = pd.DataFrame({'A':['car','car','car','transit','transit','car'],'B':['bike','bike', 'car','walk', 'walk', 'transit']})

In [28]:
details = {
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU'],
}

In [29]:
import pandas as pd

In [32]:
df

         A        B
0      car     bike
1      car     bike
2      car      car
3  transit     walk
4  transit     walk
5      car  transit

In [34]:
df.astype(str).groupby('A').agg(lambda x: ','.join(x.unique()))

                        B
A
car      bike,car,transit
transit              walk

In [35]:
df.astype(str).groupby('A').agg(lambda x: x.unique())

                            B
A
car      [bike, car, transit]
transit                [walk]