In [3]:
#Imports
import numpy as np
import pandas as pd
import difflib
import matplotlib.pyplot as plt

In [31]:
GTFS_filepath_old = '/Users/cpoliziani/Downloads/Data/TR/Jan2020 GTFS/SF20201222/'
GTFS_filepath_new = '/Users/cpoliziani/Downloads/Data/TR/old-new GTFS/SF20220611/'

agency1 = pd.read_csv(GTFS_filepath_old+'agency.txt')
agency2 = pd.read_csv(GTFS_filepath_new+'agency.txt')
# calendar_dates = pd.read_csv(GTFS_filepath+'calendar_dates.txt')
# calendar = pd.read_csv(GTFS_filepath+'calendar.txt')
# fare_attributes = pd.read_csv(GTFS_filepath+'fare_attributes.txt')
# fare_rules = pd.read_csv(GTFS_filepath+'fare_rules.txt')
# feed_info = pd.read_csv(GTFS_filepath+'feed_info.txt')
routes1 = pd.read_csv(GTFS_filepath_old+'routes.txt')
routes2 = pd.read_csv(GTFS_filepath_new+'routes.txt')
# shapes = pd.read_csv(GTFS_filepath+'shapes.txt')
# stop_times = pd.read_csv(GTFS_filepath+'stop_times.txt')
# stops = pd.read_csv(GTFS_filepath+'stops.txt')
# trips = pd.read_csv(GTFS_filepath+'trips.txt')

In [37]:
new_routes_long = []
new_routes_short = []

for new_short, new_long in zip(routes2['route_short_name'],routes2['route_long_name']):
    if str(new_long) not in list(routes1['route_long_name']) :
        new_routes_long.append(new_long)
    if str(new_short) not in list(routes1['route_short_name']) :
        new_routes_short.append(new_long)
print(new_routes_long)
print(new_routes_short)

['FULTON RAPID', 'BAYSHORE A EXPRESS', 'BAYSHORE B EXPRESS', 'BAYVIEW HUNTERS POINT EXPRESS', '46TH AVENUE', 'MONTEREY', 'BRYANT', 'BALBOA', 'ASHBURY-18TH ST', 'EUREKA', 'TERESITA', 'COIT', 'EXCELSIOR', 'DOGPATCH', 'RUTLAND', 'PARKMERCED', 'LAKE MERCED', 'POWELL-MASON CABLE CAR', 'POWELL-HYDE CABLE CAR', 'CALIFORNIA STREET CABLE CAR', 'QUINTARA', 'MARKET & WHARVES', 'INGLESIDE-THIRD', 'OCEAN VIEW', 'JUDAH', 'THIRD BUS SHUTTLE']
['FULTON RAPID', 'BAYSHORE A EXPRESS', 'BAYSHORE B EXPRESS', 'BAYVIEW HUNTERS POINT EXPRESS', '46TH AVENUE', 'MONTEREY', 'BRYANT', 'BALBOA', 'ASHBURY-18TH ST', 'EUREKA', 'TERESITA', 'COIT', 'EXCELSIOR', 'DOGPATCH', 'RUTLAND', 'PARKMERCED', 'LAKE MERCED', 'POWELL-MASON CABLE CAR', 'POWELL-HYDE CABLE CAR', 'CALIFORNIA STREET CABLE CAR', 'QUINTARA', 'MARKET & WHARVES', 'INGLESIDE-THIRD', 'OCEAN VIEW', 'JUDAH']

In [38]:
new_routes_long = []
new_routes_short = []

for new_short, new_long in zip(routes1['route_short_name'],routes1['route_long_name']):
    if str(new_long) not in list(routes2['route_long_name']) :
        new_routes_long.append(new_long)
    if str(new_short) not in list(routes2['route_short_name']) :
        new_routes_short.append(new_long)
print(new_routes_long)
print(new_routes_short)

['OCEAN VIEW BUS', 'THIRD BUS']
['OCEAN VIEW BUS']

In [34]:
routes1

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,15761,SFMTA,1,CALIFORNIA,,3,https://SFMTA.com/1,,
1,15766,SFMTA,5,FULTON,,3,https://SFMTA.com/5,,
2,15769,SFMTA,7,HAIGHT-NORIEGA,,3,https://SFMTA.com/7,,
3,15771,SFMTA,8,BAYSHORE,,3,https://SFMTA.com/8,,
4,15774,SFMTA,9,SAN BRUNO,,3,https://SFMTA.com/9,,
5,15775,SFMTA,9R,SAN BRUNO RAPID,,3,https://SFMTA.com/9R,,
6,15777,SFMTA,12,FOLSOM-PACIFIC,,3,https://SFMTA.com/12,,
7,15778,SFMTA,14,MISSION,,3,https://SFMTA.com/14,,
8,15779,SFMTA,14R,MISSION RAPID,,3,https://SFMTA.com/14R,,
9,15782,SFMTA,19,POLK,,3,https://SFMTA.com/19,,
10,15784,SFMTA,22,FILLMORE,,3,https://SFMTA.com/22,,
11,15786,SFMTA,24,DIVISADERO,,3,https://SFMTA.com/24,,
12,15787,SFMTA,25,TREASURE ISLAND,,3,https://SFMTA.com/25,,
13,15789,SFMTA,28,19TH AVENUE,,3,https://SFMTA.com/28,,
14,15791,SFMTA,29,SUNSET,,3,https://SFMTA.com/29,,
15,15792,SFMTA,30,STOCKTON,,3,https://SFMTA.com/30,,
16,15800,SFMTA,37,CORBETT,,3,https://SFMTA.com/37,,
17,15801,SFMTA,38,GEARY,,3,https://SFMTA.com/38,,
18,15804,SFMTA,38R,GEARY RAPID,,3,https://SFMTA.com/38R,,
19,15807,SFMTA,43,MASONIC,,3,https://SFMTA.com/43,,
20,15808,SFMTA,44,O'SHAUGHNESSY,,3,https://SFMTA.com/44,,
21,15809,SFMTA,45,UNION-STOCKTON,,3,https://SFMTA.com/45,,
22,15811,SFMTA,48,QUINTARA-24TH STREET,,3,https://SFMTA.com/48,,
23,15812,SFMTA,49,VAN NESS-MISSION,,3,https://SFMTA.com/49,,
24,15814,SFMTA,54,FELTON,,3,https://SFMTA.com/54,,
25,15822,SFMTA,67,BERNAL HEIGHTS,,3,https://SFMTA.com/67,,
26,15830,SFMTA,90,SAN BRUNO OWL,,3,https://SFMTA.com/90,,
27,15831,SFMTA,91,3RD-19TH AVE OWL,,3,https://SFMTA.com/91,,
28,15832,SFMTA,714,BART EARLY BIRD,,3,https://SFMTA.com/714,,
29,15843,SFMTA,L-OWL,OWL TARAVAL,,3,https://SFMTA.com/L-OWL,,
30,15994,SFMTA,LBUS,TARAVAL BUS,,3,https://SFMTA.com/LBUS,,
31,15849,SFMTA,MBUS,OCEAN VIEW BUS,,3,https://SFMTA.com/MBUS,,
32,15852,SFMTA,N-OWL,OWL JUDAH,,3,https://SFMTA.com/N-OWL,,
33,15853,SFMTA,NBUS,JUDAH BUS,,3,https://SFMTA.com/NBUS,,
34,15859,SFMTA,TBUS,THIRD BUS,NaN,3,https://SFMTA.com/TBUS,NaN,NaN
35,16007,SFMTA,KBUS,INGLESIDE BUS,NaN,3,https://SFMTA.com/KBUS,NaN,NaN
36,16002,SFMTA,J,CHURCH,NaN,0,https://SFMTA.com/J,NaN,NaN

In [35]:
routes2

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,18609,SFMTA,1,CALIFORNIA,,3,https://SFMTA.com/1,005B95,FFFFFF
1,18614,SFMTA,5,FULTON,,3,https://SFMTA.com/5,005B95,FFFFFF
2,18615,SFMTA,5R,FULTON RAPID,,3,https://SFMTA.com/5R,BF2B45,FFFFFF
3,18617,SFMTA,7,HAIGHT-NORIEGA,,3,https://SFMTA.com/7,005B95,FFFFFF
4,18619,SFMTA,8,BAYSHORE,,3,https://SFMTA.com/8,005B95,FFFFFF
...,...,...,...,...,...,...,...,...,...
56,18697,SFMTA,M,OCEAN VIEW,,0,https://SFMTA.com/M,008547,FFFFFF
57,18700,SFMTA,N,JUDAH,,0,https://SFMTA.com/N,005B95,FFFFFF
58,18701,SFMTA,N-OWL,OWL JUDAH,,3,https://SFMTA.com/N-OWL,666666,FFFFFF
59,18702,SFMTA,NBUS,JUDAH BUS,,3,https://SFMTA.com/NBUS,005B95,FFFFFF
60,18709,SFMTA,TBUS,THIRD BUS SHUTTLE,,3,https://SFMTA.com/TBUS,BF2B45,FFFFFF

In [16]:
agency1

,agency_id,agency_name,agency_url,agency_timezone,agency_lang
0,SFMTA,San Francisco Municipal Transportation Agency,https://SFMTA.com,America/Los_Angeles,en

In [17]:
agency2

,agency_url,agency_name,agency_timezone,agency_id,agency_lang
0,https://SFMTA.com,San Francisco Municipal Transportation Agency,America/Los_Angeles,SFMTA,en