In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data/2017-2018 Austin Household Travel Survey Public Use data.xlsx - Rec_1.csv')

In [5]:
data

,1. Record Type,2. Sample Number,3. Phone,4. Month,5. Day,6. Year,7. Day of Week,8. Advance Letter,9. Address,10. City,...,28. HH Factors,29. Other Factors,30. Income,31. Day Visitors,32. Overnight Visitors,33. Delivery Vehicle,34. Number of Delivery Drivers,35. HH Vehicle Use by Non HH Member,36. GPS House,37. Total HH Trips
0,1,27,NaN,2,7,2018,3,1,NaN,Austin,...,3,NaN,5,0,0,NaN,NaN,2.0,1,4
1,1,47,NaN,8,1,2017,2,1,NaN,AUSTIN,...,3,NaN,7,0,0,NaN,NaN,2.0,2,6
2,1,128,NaN,8,3,2017,4,1,NaN,AUSTIN,...,4;5;6,NaN,22,0,0,NaN,NaN,2.0,2,8
3,1,150,NaN,8,21,2018,2,1,NaN,AUSTIN,...,3;4;5;6;96,PROXIMITY TO STORES,25,2,0,NaN,NaN,2.0,2,26
4,1,151,NaN,8,4,2017,5,1,NaN,AUSTIN,...,1;3;6,NaN,23,1,0,NaN,NaN,2.0,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2878,1,3100200702,NaN,5,23,2018,3,1,NaN,Austin,...,96,MOVED IN TO HELP MOTHER,6,1,0,NaN,NaN,2.0,2,9
2879,1,3100200703,NaN,5,23,2018,3,1,NaN,Austin,...,1;96,MORE SPACE,7,0,0,NaN,NaN,2.0,2,6
2880,1,3100200716,NaN,9,19,2018,3,1,NaN,San Marcos,...,1,NaN,10,0,0,NaN,NaN,2.0,2,30
2881,1,3100200719,NaN,9,18,2018,2,1,NaN,Austin,...,4;5;6;7,NaN,7,1,0,NaN,NaN,2.0,2,10
2882,1,3100200720,NaN,9,19,2018,3,1,NaN,San Marcos,...,1,NaN,6,0,0,NaN,NaN,2.0,1,30